<div class="card avis" id="avis">
   <div class="card-header p-0 bg-transparent border-0">
      <ul class="nav nav-pills mb-3" id="avisTab" role="tablist">
         <li class="nav-item w-50">
            <a class="nav-link shadow-sm active text-dark" id="positif-avis" data-toggle="tab" href="#positif" role="tab"
               aria-controls="positif" aria-selected="true">Avis positifs ({{
               serviceAvisPositifs(microservice)|length }})</a>
         </li>
         <li class="nav-item w-50">
            <a class="nav-link shadow-sm text-dark" id="negatif-avis" data-toggle="tab" href="#negatif" role="tab"
               aria-controls="negatif" aria-selected="false">Avis négatifs ({{
               serviceAvisNegatifs(microservice)|length }})</a>
         </li>
      </ul>
   </div>
   <div class="card-body">
      <div class="tab-content" id="avisTabContent">
         <div class="tab-pane fade show active" id="positif" role="tabpanel" aria-labelledby="positif-avis">

            <div class="list-unstyled">
               {% for avisPositif in serviceAvisPositifs(microservice) %}

                  <div class="media" id="{{ avisPositif.client.nameUrl }}">

                     {% if avisPositif.client.reseauAvatar %}

                     <img src="{{ avisPositif.client.reseauAvatar }}" class="rounded-circle mr-3" alt="{{ avisPositif.client.usePseudo == 1 ? avisPositif.client.pseudo : avisPositif.client.nom ~ ' ' ~ avisPositif.client.prenom }}" width="50" height="50">

                     {% else %}

                        {% if avisPositif.client.avatar %}
                        <img src="{{ vich_uploader_asset(avisPositif.client, 'imageFile') | imagine_filter('midle_avatar') }}" class="rounded-circle mr-3" width="50" alt="{{ avisPositif.client.prenom }}">
                        {% else %}

                        <img class="rounded-circle mr-3" src="{{ asset('img/user.jpg') | imagine_filter('midle_avatar') }}" alt='' width="50" />

                        {% endif %}

                     {% endif %}
                     <div class="media-body">
                        <strong class="mt-0 mb-1 d-block h6 font-weight-bold">{{ avisPositif.client.nom ~ ' ' ~
                           avisPositif.client.prenom }}</strong>
                        {{ avisPositif.contenu }}

                        <span class="text-muted d-block text-italic py-2">
                           <i class="fa fa-clock-o"></i> {{ avisPositif.created|ago(locale='fr') }}</span>
                     </div>
                  </div>

                  {% if avisPositif.avisReponses %}

                     {% for reponse in avisPositif.avisReponses %}

                     <div class="media avis-reponse" id="{{ reponse.vendeur.nameUrl }}">

                        {% if reponse.vendeur.reseauAvatar %}

                        <img src="{{ reponse.vendeur.reseauAvatar }}" class="rounded-circle mr-3" alt="{{ reponse.vendeur.usePseudo == 1 ? reponse.vendeur.pseudo : reponse.vendeur.nom ~ ' ' ~ reponse.vendeur.prenom }}" width="50" height="50">

                        {% else %}

                           {% if reponse.vendeur.avatar %}
                           <img src="{{ vich_uploader_asset(reponse.vendeur, 'imageFile') | imagine_filter('midle_avatar') }}"
                              class="rounded-circle mr-3" width="50" alt="{{ reponse.vendeur.prenom }}">
                           {% else %}

                           <img class="rounded-circle mr-3" src="{{ asset('img/user.jpg') | imagine_filter('midle_avatar') }}" alt='' width="50" />

                           {% endif %}

                        {% endif %}
                        <div class="media-body">
                           <strong class="mt-0 mb-1 d-block h6 font-weight-bold">{{ reponse.vendeur.usePseudo ? reponse.vendeur.pseudo : reponse.vendeur.nom ~ ' ' ~
                              reponse.vendeur.prenom }}</strong>
                           {{ reponse.contenu }}

                           <span class="text-muted d-block text-italic py-2">
                              <i class="fa fa-clock-o"></i> {{ reponse.created|ago(locale='fr') }}</span>
                        </div>
                        
                     </div>
                           
                     {% endfor %}

                  {% endif %}

               {% else %}
               <div>
                  <p>Aucun avis positif...</p>
               </div>
               {% endfor %}

            </div>

         </div>
         <div class="tab-pane fade" id="negatif" role="tabpanel" aria-labelledby="negatif-avis">

            <div class="list-unstyled">
               {% for avisNegatif in serviceAvisNegatifs(microservice) %}

                  <div class="media">

                     {% if avisNegatif.client.reseauAvatar %}

                     <img src="{{ avisNegatif.client.reseauAvatar }}" class="rounded-circle mr-3" alt="{{ avisNegatif.client.usePseudo == 1 ? avisNegatif.client.pseudo : avisNegatif.client.nom ~ ' ' ~ avisNegatif.client.prenom }}" width="50" height="50">

                     {% else %}

                        {% if avisNegatif.client.avatar %}
                        <img src="{{ vich_uploader_asset(avisNegatif.client, 'imageFile') | imagine_filter('midle_avatar') }}"
                           class="rounded-circle mr-3" alt="{{ avisNegatif.client.prenom }}">
                        {% else %}

                        <img class="rounded-circle mr-3" src="{{ asset('img/user.jpg') | imagine_filter('midle_avatar') }}"
                           alt='' />

                        {% endif %}
                     {% endif %}
                     <div class="media-body">
                        <strong class="mt-0 mb-1 d-block h6 font-weight-bold">{{ avisNegatif.client.nom ~ ' ' ~
                           avisNegatif.client.prenom }}</strong>
                        {{ avisNegatif.contenu }}

                        <span class="text-muted d-block text-italic py-2">
                           <i class="fa fa-clock-o"></i> {{ avisNegatif.created|ago(locale='fr') }}</span>
                     </div>
                  </div>

                  {% if avisNegatif.avisReponses %}

                  {% for reponse in avisNegatif.avisReponses %}

                  <div class="media avis-reponse" id="{{ reponse.vendeur.nameUrl }}">

                     {% if reponse.vendeur.reseauAvatar %}

                     <img src="{{ reponse.vendeur.reseauAvatar }}" class="rounded-circle mr-3" alt="{{ reponse.vendeur.usePseudo == 1 ? reponse.vendeur.pseudo : reponse.vendeur.nom ~ ' ' ~ reponse.vendeur.prenom }}" width="50" height="50">

                     {% else %}

                        {% if reponse.vendeur.avatar %}
                        <img src="{{ vich_uploader_asset(reponse.vendeur, 'imageFile') | imagine_filter('midle_avatar') }}"
                           class="rounded-circle mr-3" width="50" alt="{{ reponse.vendeur.prenom }}">
                        {% else %}

                        <img class="rounded-circle mr-3" src="{{ asset('img/user.jpg') | imagine_filter('midle_avatar') }}" alt='' width="50" />

                        {% endif %}

                     {% endif %}
                     <div class="media-body">
                        <strong class="mt-0 mb-1 d-block h6 font-weight-bold">{{ reponse.vendeur.usePseudo ? reponse.vendeur.pseudo : reponse.vendeur.nom ~ ' ' ~
                           reponse.vendeur.prenom }}</strong>
                        {{ reponse.contenu }}

                        <span class="text-muted d-block text-italic py-2">
                           <i class="fa fa-clock-o"></i> {{ reponse.created|ago(locale='fr') }}</span>
                     </div>
                     
                  </div>
                        
                  {% endfor %}

                  {% endif %}

               {% else %}

               <div>
                  <p>Aucun avis négatif...</p>
               </div>

               {% endfor %}

            </div>

         </div>
      </div>
   </div>
</div>