<div class="bg-white shadow-sm rounded mb-3 w-100" id="microservice-{{ microservice.id }}">
	<a href="{{ path('microservice_details', {slug: microservice.slug}) }}">
		{% if microservice.medias|length > 0 %}

		<img class="img-fluid"
			src="{{ vich_uploader_asset(microservice.medias[0], 'imageFile') | imagine_filter('medium_size') }}" />

		{% else %}

		<img class="img-fluid" src="{{ asset('themes/base/images/list/v1.png') | imagine_filter('medium_size') }}" />

		{% endif %}

	</a>
	<div class="inner-slider shadow-0">
		<div class="inner-wrapper shadow-0">

			<div class="d-flex align-items-center">

				<span class="seller-image">
					{% if microservice.vendeur.avatar %}
					<img class="img-fluid"
						src="{{ vich_uploader_asset(microservice.vendeur, 'imageFile') | imagine_filter('medium_avatar') }}"
						alt='' />

					{% else %}

					<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('medium_avatar') }}" alt='' />

					{% endif %}
				</span>

				<span class="seller-name">
					<a href="{{ path('microservice_details', {slug: microservice.slug}) }}">
						{{ microservice.name|u.truncate(60, '...') }}
					</a>
				</span>
				
			</div>

			<div class="content-info">
				

				<a href="{{ path('favoris_new', {id: microservice.id}) }}">
					<div class="rating-wrapper">
						<span class="gig-rating text-body-2">
							<a href="{{ path('microservices_categories', {slug: microservice.categorie.slug}) }}?categories%5B%5D={{ microservice.categorie.id }}"
								class="badge badge-dark border badge-pill my-2 categorie">
								#{{ microservice.categorie.name }}
							</a>
						</span>
					</div>
				</a>
				
				<div class="rating-wrapper">
					<span class="gig-rating text-body-2">
						{% include "microservice/composants/_etoilles.html.twig" %}						
						<span>({{ serviceAvis(microservice) }})</span>
					</span>
				</div>
			</div>

			<div class="footer">

				{% include "microservice/composants/_favoris_btn.html.twig" %}

				<div class="price small text-capitalize">
					A partir de
					<strong>{{ microservice.prixMastering ~ currency }}</strong>
				</div>

			</div>
		</div>
	</div>
</div>