<div class="bg-white shadow-sm rounded mb-3" id="microservice-{{ microservice.id }}">
	<a href="{{ path('microservice_details', {slug: microservice.slug}) }}">
		{% if microservice.medias|length > 0 %}

		<img class="img-fluid"
			src="{{ vich_uploader_asset(microservice.medias[0], 'imageFile') | imagine_filter('medium_size') }}" />

		{% else %}

		<img class="img-fluid" src="{{ asset('themes/base/images/list/v1.png') | imagine_filter('medium_size') }}" />

		{% endif %}

	</a>
	<div class="inner-slider shadow-0">
		<div class="inner-wrapper shadow-0">

			<div class="d-flex align-items-center">

				<span class="seller-image">
					{% if microservice.vendeur.avatar %}
					<img class="img-fluid"
						src="{{ vich_uploader_asset(microservice.vendeur, 'imageFile') | imagine_filter('medium_avatar') }}"
						alt='' />

					{% else %}

					<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('medium_avatar') }}" alt='' />

					{% endif %}
				</span>

				<span class="seller-name">
					<a href="{{ path('microservice_details', {slug: microservice.slug}) }}">
						{{ microservice.name|u.truncate(60, '...') }}
					</a>
				</span>
				
			</div>

			<div class="content-info">
				

				<a href="{{ path('favoris_new', {id: microservice.id}) }}">
					<div class="rating-wrapper">
						<span class="gig-rating text-body-2">
							{% for categorie in microservice.categories %}

							<a href="{{ path('microservices_categories', {slug: categorie.slug}) }}?categories%5B%5D={{ categorie.id }}"
								class="badge badge-light border badge-pill my-2" style="font-size: .9em!important;">
								#{{ categorie.name }}
							</a>

							{% endfor %}
						</span>
					</div>
				</a>
				
				<div class="rating-wrapper">
					<span class="gig-rating text-body-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
							<path fill="currentColor"
								d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
							</path>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
							<path fill="currentColor"
								d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
							</path>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
							<path fill="currentColor"
								d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
							</path>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
							<path fill="currentColor"
								d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
							</path>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
							<path fill="currentColor"
								d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
							</path>
						</svg>						
						<span>({{ serviceAvis(microservice) }})</span>
					</span>
				</div>
			</div>

			<div class="footer">

				{% include "microservice/composants/_favoris_btn.html.twig" %}

				<div class="price small text-capitalize">
					A partir de
					<strong>{{ microservice.prixMastering ~ currency }}</strong>
				</div>

			</div>
		</div>
	</div>
</div>