<h6 class="my-4">Contenu (Options)</h6>

<div class="accordion" id="serviceOptions">
   {% for option in microservice.serviceOptions %}
   <div class="card">
      <div class="card-header" id="heading-{{ option.id }}">
         <h5 class="mb-0">
            <button class="btn btn-link text-muted btn-block text-left p-0" type="button"
               data-toggle="collapse" data-target="#collapse-{{ option.id }}" aria-expanded="true"
               aria-controls="collapse-{{ option.id }}">
               <i class="text-success fa fa-check-circle mr-2"></i> {{ option.name }}
            </button>
         </h5>
      </div>

      <div id="collapse-{{ option.id }}"
         class="collapse {{ microservice.serviceOptions[0].id == option.id ? 'show' : '' }}"
         aria-labelledby="heading-{{ option.id }}" data-parent="#serviceOptions">
         <div class="card-body">
            <span>A partir de </span><strong>{{ option.montant ~ currency }}</strong> - <span>{{ option.delai }} Jour{{
               option.delai > 1 ? 's' : '' }} de réalisation</span>
         </div>
      </div>
   </div>
   {% endfor %}
</div>

<div class="card rounded-0 mb-3" style="border-bottom-left-radius: 5px!important;border-bottom-right-radius: 5px!important;">
   <div class="card-body">
      <div class="row d-flex align-items-center">
         <div class="col-sm-6">
            <h6 class="text-uppercase">Total: <strong>{{ total ~ currency }}</strong></h6>
         </div>
         <div class="col-sm-6">
            {% include "microservice/composants/_reservation_btn.html.twig" %}
         </div>
      </div>
   </div>
</div>
