{% if is_granted('microservice_edit', microservice) %}{% else %}

<h6 class="my-4">Réservation</h6>

<form action="" name="reservation">
   <div class="card my-3">
      <div class="card-header bg-white">
         <a href="{{ path('vendeur_profil', {nameUrl: microservice.vendeur.nameUrl}) }}" class="d-block py-3 text-dark">
            <div class="media">
               <img width="60" height="60"
                  src="{{ microservice.vendeur.avatar ? vich_uploader_asset(microservice.vendeur, 'imageFile') : asset('img/user.jpg') | imagine_filter('large_avatar') }}"
                  class="rounded-circle" alt="">

               <div class="media-body pl-3 pt-3">
                  <h6>{{ microservice.vendeur.compte }}</h6>
                  <strong class="d-block">{{ microservice.vendeur.usePseudo == 1 ? microservice.vendeur.pseudo :
                     microservice.vendeur.nom ~ ' ' ~ microservice.vendeur.prenom }}</strong>
               </div>
            </div>
         </a>
         <div class="pb-3">
            <h6><i class="fa fa-calendar"></i> Planning</h6>
            {% include "microservice/composants/_vendeur_planning.html.twig" %}
         </div>

         <div>
            <h6><i class="fa fa-calendar"></i> Disponibilité</h6>
            {% for disponibilite in disponibilites %}
            <div class="pb-3">
               <strong>{{ disponibilite.jour }}</strong>

               <div>
                  De <i class="fa fa-clock-o"></i> {{ disponibilite.heureOuverture|date('H:i') }}
                  à <i class="fa fa-clock-o"></i> {{ disponibilite.heureCloture|date('H:i') }}
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
      <div class="card-body">
         <h6>Faites votre reservation</h6>

         {% for disponibilite in disponibilites %}
         <div class="row py-3">
            <div class="col-sm-8">

               <div class="form-group">
                  <input type="date" class="form-control">
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <input type="time" class="form-control">
                  </div>
                  <div class="col-sm-6">
                     <input type="time" class="form-control">
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
         <!-- 
      <h6>Reservé</h6>

      {% for disponibilite in disponibilites %}
      <h6 class="text-blue h6">{{ disponibilite.jour }}</h6>
      <div class="row">
         <div class="col-6">
            <a
               href="{{ path('commander_microservice_reservation', {slug: microservice.slug, disponibilite: disponibilite.jour ~ '-' ~ disponibilite.heureOuverture|date('H:i') }) }}">
               <button type="" class="btn btn-outline-success h5 btn-lg btn-block" id="btnFetch">
                  <i class="fa fa-clock-o"></i> {{ disponibilite.heureOuverture|date('H:i') }}
               </button>
            </a>
         </div>
         <div class="col-6">
            <a
               href="{{ path('commander_microservice_reservation', {slug: microservice.slug, disponibilite: disponibilite.jour ~ '-' ~ disponibilite.heureCloture|date('H:i') }) }}">
               <button type="" class="btn btn-outline-success h5 btn-lg btn-block" id="btnFetch">
                  <i class="fa fa-clock-o"></i> {{ disponibilite.heureCloture|date('H:i') }}
               </button>
            </a>
         </div>
      </div>
      {% endfor %}

      -->

         {% if microservice.serviceOptions %}
         <h6 class="my-4">Options</h6>

         <table class="table table-borderless">
            <tbody>
               {% for option in microservice.serviceOptions %}
               <tr class="p-0 m-0">
                  <td style="width: 20px;" class="p-1">
                     <input type="checkbox" name="" id="option-{{ option.id }}" value="{{ option.montant }}">
                  </td>
                  <td class="p-1">
                     <label for="option-{{ option.id }}" class="font-weight-bold h6 d-block">
                        {{ option.name }}
                     </label>
                  </td>
                  <td class="text-right">
                     <strong>{{ option.montant ~ currency }}</strong>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>

         {% endif %}

      </div>
      
      <div class="card-footer">
         <div class="row align-items-center">
            <div class="col-6">
               <h6 class="text-uppercase">Total</h6>
            </div>
            <div class="col-6 text-right">
               <output name="total" class="h5">{{ microservice.prix }} {{ currency }} </output>
            </div>
         </div>
      </div>

   </div>
</form>
{% endif %}