<div class="sticky"><!-- sticky -->
   
   {% if microservice.categorie.name == 'Ingenieur-son' %}
   <!-- Ingénieur de son uniquement-->
   <ul class="nav nav-tabs">
      <li><a class="active" data-toggle="tab" href="#Mastering">Mastering</a></li>
      <li><a data-toggle="tab" href="#Mixage">Mixage</a></li>
      <li><a data-toggle="tab" href="#Beatmaking">Beatmaking</a></li>
      <li><a data-toggle="tab" href="#Composition">Composition</a></li>
   </ul>
   <div class="tab-content mb-0 pb-1 mb-3">
      <article>
         <div class="d-flex">
            <b class="delivery text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ microservice.delai }} jour{{ microservice.delai > 1 ? 's' : '' }}
               de réalisation</b>
         </div>
      </article>
      <div id="Mastering" class="tab-pane fade show active">
         <div class="header">
            <h3><b class="title">{{ microservice.name }}</b><span class="price badge">
                  {{ microservice.prixMastering ~ currency }}</span>
            </h3>
            <p></p>
         </div>

         {% if is_granted('microservice_edit', microservice) %}

         {% include "microservice/composants/_edit_btn.html.twig" %}

         {% else %}

         <a href="{{ path('commander_microservice', {slug: microservice.slug, offre: 'Mastering'}) }}">
            <button>{{ microservice.prixMastering ~ currency }} commander</button>
         </a>

         {% endif %}
      </div>
      <div id="Mixage" class="tab-pane fade">
         <div class="header">
            <h3><b class="title">{{ microservice.name }}</b><span class="price badge">{{ microservice.prixMixage ~
                  currency }}</span></h3>
            <p></p>
         </div>

         {% if is_granted('microservice_edit', microservice) %}

         {% include "microservice/composants/_edit_btn.html.twig" %}

         {% else %}

         <a href="{{ path('commander_microservice', {slug: microservice.slug, offre: 'Mixage'}) }}">
            <button>{{ microservice.prixMixage ~ currency }} commander</button>
         </a>

         {% endif %}
      </div>
      <div id="Beatmaking" class="tab-pane fade">
         <div class="header">
            <h3><b class="title">{{ microservice.name }}</b><span class="price badge">{{ microservice.prixBeatmaking ~
                  currency }}</span></h3>
            <p></p>
         </div>

         {% if is_granted('microservice_edit', microservice) %}

         {% include "microservice/composants/_edit_btn.html.twig" %}

         {% else %}

         <a href="{{ path('commander_microservice', {slug: microservice.slug, offre: 'Beatmaking'}) }}">
            <button>{{ microservice.prixBeatmaking ~ currency }} commander</button>
         </a>

         {% endif %}

      </div>
      <div id="Composition" class="tab-pane fade">
         <div class="header">
            <h3><b class="title">{{ microservice.name }}</b><span class="price badge">{{ microservice.prixComposition ~
                  currency }}</span></h3>
            <p></p>
         </div>

         {% if is_granted('microservice_edit', microservice) %}

         {% include "microservice/composants/_edit_btn.html.twig" %}

         {% else %}

         <a href="{{ path('commander_microservice', {slug: microservice.slug, offre: 'Composition'}) }}">
            <button>{{ microservice.prixComposition ~ currency }} commander</button>
         </a>

         {% endif %}

      </div>
      <p class="pt-4 pb-0 text-center p-0">
         Paiement <strong><i class="fa fa-lock"></i> Sécurisé</strong>
      </p>
   </div>
   <!-- Ingénieur de son uniquement-->
   {% endif %}

   <div class="shadow-sm border rounded bg-white p-0">
      <div class="profile-card my-4">
         <div class="user-profile-image d-flex shadow-none py-0">
            <label class="profile-pict" for="profile_image">
               <a href="{{ path('vendeur_profil', {nameUrl: microservice.vendeur.nameUrl}) }}">
                  <img width="80" height="80"
                     src="{{ microservice.vendeur.avatar ? vich_uploader_asset(microservice.vendeur, 'imageFile') : asset('img/user.jpg') | imagine_filter('large_avatar') }}"
                     class="profile-pict-img img-fluid" alt="">
               </a>
            </label>
            <div class="right">
               <div class="profile-name">
                  <span class="user-status">
                     <a href="{{ path('vendeur_profil', {nameUrl: microservice.vendeur.nameUrl}) }}"
                        class="seller-link">{{ microservice.vendeur.nom ~ ' ' ~ microservice.vendeur.prenom }}</a>
                  </span>
                  <div class="seller-level">
                     <span>{{ microservice.created|ago(locale='fr') }}</span>
                  </div>
               </div>
            </div>
         </div>

         <div class="pl-4 pr-4 pt-4 bg-white">

            <div class="mb-3">
               {{ microservice.vendeur.apropos|raw }}
            </div>

            <div class="">
               <div class="d-flex align-items-top mb-2">
                  <p class="mb-0 text-muted"><i class="fa fa-thumbs-up"></i> Avis positif</p>
                  <p class="text-dark mb-0 mt-0 ml-auto">{{ avispositif(microservice.vendeur)|length }}</p>
               </div>
               <div class="d-flex align-items-top mb-2">
                  <p class="mb-0 text-muted"><i class="fa fa-thumbs-down"></i> Avis négatif</p>
                  <p class="text-dark mb-0 mt-0 ml-auto">{{ avisnegatif(microservice.vendeur)|length }}</p>
               </div>
               <div class="d-flex align-items-top mb-2">
                  <p class="mb-0 text-muted"><i class="fa fa-cart-plus"></i> Commandes en cours</p>
                  <p class="text-dark mb-0 mt-0 ml-auto">{{ commandeEncours(microservice.vendeur)|length }}</p>
               </div>
               <div class="d-flex align-items-top mb-2">
                  <p class="mb-0 text-muted"><i class="fa fa-opencart"></i> Vente au total</p>
                  <p class="text-dark mb-0 mt-0 ml-auto">{{ ventes(microservice.vendeur)|length }}</p>
               </div>
               <div class="d-flex align-items-top">
                  <p class="mb-0 text-muted"><i class="fa fa-user-circle"></i> Vendeur</p>
                  <p class="text-dark mb-0 mt-0 ml-auto">{{ microservice.vendeur.created|ago(locale='fr') }}</p>
               </div>
            </div>

            <div class="row pt-3" id="packagesTable">
               <div class="col-sm-6">
                  <a class="btn btn-dark btn-block"
                     href="{{ path('microservice_conversations', {vendeurNameUrl: microservice.vendeur.nameUrl, microserviceId: microservice.id }) }}">Contacter</a>
               </div>
               <div class="col-sm-6">
                  <a href="{{ path('vendeur_profil', {nameUrl: microservice.vendeur.nameUrl }) }}"
                     class="btn btn-outline-dark btn-block">Voir le profil</a>
               </div>
            </div>

         </div>

      </div>
   </div>
</div>