<div class="d-block d-sm-flex w-100 mb-3 rounded">
   <div class="p-2 bg-white shadow-sm flex-fill border">
      <div class="media p-4">
         <div class="media-body">
            <h5 class="h5 font-weight-bold">Revenu disponible</h5>
            <div>
               <span class="h2 font-weight-bold">
                  {{ portefeuille(app.user).soldeEnCours }}
               </span>
               <span class="lead">{{ currency }}</span>
            </div>
            <span>
               {{ portefeuille(app.user).soldeEnCours ~ currency }}
               au total
            </span>
         </div>
         <img src="{{ asset('img/wallet.png') }}" width="50" alt="">
      </div>
   </div>
   <div class="p-2 bg-dark shadow-sm flex-fill">
      <div class="media p-4 text-light">
         <div class="media-body">
            <h5 class="h5 font-weight-bold">Vente en cours</h5>
            <div>
               <span class="h2 font-weight-bold">
                  {{ portefeuille(app.user).soldeDisponible }}
               </span>
            </div>
            <span>
               {{ portefeuille(app.user).soldeDisponible ~ currency }}
               au total
            </span>
         </div>
         <i class="fa fa-opencart fa-4x"></i>
      </div>
   </div>
</div>