<div class="">
   <div class="box shadow-sm rounded bg-white mb-3">
      <div class="box-title p-3 border-bottom bg-dark rounded">
         <h6 class="m-0 text-light">Portefeuille</h6>
      </div>

      <div class="p-3 border-bottom">
         <div class="row py-4">
            <div class="col-sm-6">
               <div class="">
                  <span class="lead">Revenu disponible</span>
                  <div>
                     <span class="h2 font-weight-bold">{{ portefeuille(app.user).soldeEnCours }}</span>
                     <span class="lead">{{ currency }}</span>
                  </div>
                  <span>{{ portefeuille(app.user).soldeEnCours ~ currency }}
                     au total</span>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="">
                  <span class="lead">Vente en cours</span>
                  <div>
                     <span class="h2 font-weight-bold">{{ portefeuille(app.user).soldeDisponible }}</span>
                     <span class="lead">{{ currency }}</span>
                  </div>
                  <span>{{ portefeuille(app.user).soldeDisponible ~ currency }}
                     au total</span>
               </div>
            </div>
         </div>
         <a href="" class="btn btn-success">Retrait de fond</a>
      </div>
   </div>
</div>