{% extends 'vendeur.html.twig' %}

{% block title %}Détails demande de remboursement{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header bg-white">
        <h2 class="h5">Détails demande de remboursement</h2>
    </div>
    <div class="card-body">
        <table class="table text-muted table-borderless">
            <tbody>
                <tr>
                    <th>Motif</th>
                    <td>{{ remboursement.motif }}</td>
                </tr>
                <tr>
                    <th>Montant</th>
                    <td><strong>{{ remboursement.montant ~ currency }}</strong></td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>
                        <span class="badge badge-{% if remboursement.statut == 'En attente' %}warning{% elseif remboursement.statut == 'Accepter' %}success{% else %}danger{% endif %} badge-pill">{{ remboursement.statut }}</span>
                    </td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ remboursement.created ? remboursement.created|date('d/m/Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Reponse</th>
                    <td>
                        <p>{{ remboursement.reponse }}</p>
                    </td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ remboursement.updated ? remboursement.updated|date('d/m/Y') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}