{% extends 'base.html.twig' %}

{% block title %}Compte vendeur - {{ user.usePseudo == 1 ? user.pseudo : user.nom ~ ' ' ~ user.prenom }} {% endblock %}

{% block body %}
{% if user.couverture %}
<section class="inner-header bg-degrade categorieSection"
	style="background-image: url({{ vich_uploader_asset(user, 'couvertureFile') | imagine_filter('very_large_size') }})">
	{% else %}
	<section class="py-5 inner-header bg-degrade categorieSection">
		{% endif %}
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-left">
					<h1 class="mt-0 mb-3 text-dark">{{ user.usePseudo == 1 ? user.pseudo : user.nom ~ ' ' ~ user.prenom }}
					</h1>
					<div class="breadcrumbs text-dark">
						<span class="badge badge-dark rounded-btn">{{ user.compte }}</span>
						{{ user.created|ago(locale='fr') }}
					</div>
				</div>
			</div>
		</div>
		<div class="caption"></div>
	</section>
	<!-- End Inner Header -->

	<div class="py-5">
		<div class="container">
			<div class="row">
				<aside class="col col-md-4 order-xl-1 order-lg-1 col-12">
					<div class="mb-3"> <!-- sidebar-fix  -->
						<div class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
							<div class="p-4">

								{% if user.reseauAvatar %}

								<img src="{{ user.reseauAvatar }}" class="img-fluid rounded-circle"
									alt="{{ user.usePseudo == 1 ? user.pseudo : user.usePseudo == 1 ? user.pseudo : user.nom ~ ' ' ~ user.prenom }}"
									width="150">

								{% else %}

								{% if user.avatar %}

								<img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('small_size') }}"
									class="img-fluid rounded-circle"
									alt="{{ user.usePseudo == 1 ? user.pseudo : user.usePseudo == 1 ? user.pseudo : user.nom ~ ' ' ~ user.prenom }}">

								{% else %}

								<img class="img-fluid rounded-circle"
									src="{{ asset('img/user.jpg') | imagine_filter('small_size') }}" alt='' />

								{% endif %}

								{% endif %}

							</div>
							<div class="p-3">
								<h5 class="h6 text-dark mb-1 mt-0 text-left">{{ user.usePseudo == 1 ? user.pseudo : user.nom ~ '
									' ~ user.prenom }}</h5>
								<p class="mb-0 text-muted text-left">{{ user.apropos|raw }}</p>
							</div>

							{% if user.compte == 'Vendeur' %}
							<h6 class="text-left pl-3 pb-0">Statistiques vendeur</h6>
							<div class="p-3 pt-0">
								<div class="d-flex align-items-top mb-2">
									<p class="mb-0 text-muted"><i class="fa fa-thumbs-up"></i> Avis positif</p>
									<p class="text-muted mb-0 mt-0 ml-auto">{{ avispositif(user)|length }}</p>
								</div>
								<div class="d-flex align-items-top mb-2">
									<p class="mb-0 text-muted"><i class="fa fa-thumbs-down"></i> Avis négatif</p>
									<p class="text-muted mb-0 mt-0 ml-auto">{{ avisnegatif(user)|length }}</p>
								</div>
								<div class="d-flex align-items-top mb-2">
									<p class="mb-0 text-muted"><i class="fa fa-cart-plus"></i> Commandes en cours</p>
									<p class="text-muted mb-0 mt-0 ml-auto">{{ commandeEncours(user)|length }}</p>
								</div>
								<div class="d-flex align-items-top mb-2">
									<p class="mb-0 text-muted"><i class="fa fa-opencart"></i> Vente au total</p>
									<p class="text-muted mb-0 mt-0 ml-auto">{{ ventes(user)|length }}</p>
								</div>
								<div class="d-flex align-items-top">
									<p class="mb-0 text-muted"><i class="fa fa-user-circle"></i> {{ user.compte }}</p>
									<p class="text-muted mb-0 mt-0 ml-auto">{{ user.created|ago(locale='fr') }}</p>
								</div>
							</div>

							<div class="p-3">

								<div class="row">
									<div class="col-sm-6 pb-3">
										{% include "vendeur/composants/_suivre_btn.html.twig" %}
									</div>
									<div class="col-sm-6 pb-3">
										{% if app.user == user %}{% else %}

										<a href="{{ path('conversations_new', {vendeurNameUrl: user.nameUrl}) }}"
											class="btn btn-dark shadow-sm rounded-btn btn-block">
											Contacter
										</a>

										{% endif %}
									</div>
								</div>

							</div>

							{% endif %}

						</div>
					</div>

				</aside>
				<!-- Main Content -->
				<main class="col col-md-8 order-xl-2 order-lg-2 col-12">

					<div class="">
						<div class="row">
							{% for microservice in microservices %}

							<div class="col-12">

								{% include "vendeur/microservices/composants/_bloc_list.html.twig" %}

							</div>

							{% else %}

							<div class="col-12">
								<div class="card">
									<div class="card-body text-center bg-white">
										<div class="py-2">
										<p class="text-center">Aucun services disponible.</p>
											<i class="fa fa-search fa-3x text-muted"></i>
										</div>
									</div>
								</div>
							</div>

							{% endfor %}

							<div class="col-12">
								<div class="py-3">
									{{ knp_pagination_render(microservices) }}
								</div>
							</div>

						</div>
					</div>

				</main>
			</div>
		</div>
	</div>

	{% endblock %}

	{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/suivi.js') }}"></script>
	<script src="{{ asset('js/favoris.js') }}"></script>
	{% endblock %}