{% extends 'base.html.twig' %}

{% block title %}Compte vendeur - {{ user.nom ~ ' ' ~ user.prenom }} {% endblock %}

{% block body %}
<div class="bg-white shadow-sm-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="d-flex align-items-center py-3">
					<div class="profile-left">
						<h5 class="font-weight-bold text-dark mb-1 mt-0"><i class="fa fa-check-circle text-success"></i> {{
							user.nom ~ ' ' ~ user.prenom }}</h5>
						<p class="mb-0 text-muted">
							<i class="fa fa-map"></i>
							{{ user.pays ~ ' ' ~ user.ville }}
						</p>
					</div>

					<div class="profile-right ml-auto">

						{% if app.user == user %}

						<a href="{{ path('user_edit_profil') }}" class="btn btn-outline-dark shadow-sm">
							<i class="fa fa-cog"></i> Mettre à jour mon profil
						</a>

						{% else %}

						<a href="{{ path('conversations_new', {vendeurNameUrl: user.nameUrl}) }}"
							class="btn btn-outline-dark shadow-sm">
							Contacter le vendeur
						</a>

						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="py-5">
	<div class="container">
		<div class="row">
			<aside class="col col-xl-4 order-xl-1 col-lg-12 order-lg-1 col-12">
				<div class="sidebar-fix mb-3">
					<div class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
						<div class="p-4">
							{% if user.avatar %}
							<img class="img-fluid rounded-circle"
								src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('identite_size') }}" alt='' />

							{% else %}

							<img class="img-fluid rounded-circle"
								src="{{ asset('img/user.jpg') | imagine_filter('identite_size') }}" alt='' />

							{% endif %}
						</div>
						<div class="p-3 border-top border-bottom">
							<h5 class="font-weight-bold text-dark mb-1 mt-0 text-left">{{ user.nom }}
								{{ user.prenom }}</h5>
							<p class="mb-0 text-muted text-left">{{ user.apropos|raw }}</p>
						</div>

						<div class="p-3">
							<div class="d-flex align-items-top mb-2">
								<p class="mb-0 text-muted"><i class="fa fa-thumbs-up"></i> Avis positif</p>
								<p class="text-dark mb-0 mt-0 ml-auto">{{ avispositif(user)|length }}</p>
							</div>
							<div class="d-flex align-items-top mb-2">
								<p class="mb-0 text-muted"><i class="fa fa-thumbs-down"></i> Avis négatif</p>
								<p class="text-dark mb-0 mt-0 ml-auto">{{ avisnegatif(user)|length }}</p>
							</div>
							<div class="d-flex align-items-top mb-2">
								<p class="mb-0 text-muted"><i class="fa fa-cart-plus"></i> Commandes en cours</p>
								<p class="text-dark mb-0 mt-0 ml-auto">{{ commandeEncours(user)|length }}</p>
							</div>
							<div class="d-flex align-items-top mb-2">
								<p class="mb-0 text-muted"><i class="fa fa-opencart"></i> Vente au total</p>
								<p class="text-dark mb-0 mt-0 ml-auto">{{ ventes(user)|length }}</p>
							</div>
							<div class="d-flex align-items-top">
								<p class="mb-0 text-muted"><i class="fa fa-user-circle"></i> Vendeur</p>
								<p class="text-dark mb-0 mt-0 ml-auto">{{ user.created|ago(locale='fr') }}</p>
							</div>
						</div>

						<div class="p-3">
							{% include "vendeur/composants/_suivre_btn.html.twig" %}

							<a href="{{ path('conversations_new', {vendeurNameUrl: user.nameUrl}) }}"
								class="btn btn-outline-dark shadow-sm rounded-btn w-100 mt-3">
								Contacter le vendeur
							</a>

						</div>

					</div>
				</div>
			</aside>
			<!-- Main Content -->
			<main class="col col-xl-5 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">

				<div class="">
					<div class="row">
						{% for microservice in microservices %}

						<div class="col-12 col-sm-12">

							{% include "vendeur/microservices/composants/_bloc.html.twig" %}

						</div>

						{% else %}

						<div class="col-12">
							<div class="card">
								<div class="card-body text-center bg-white border rounded shadow-sm">
									<p class="text-muted">Aucun service</p>
									<div class="py-4">
										<i class="fa fa-search fa-3x text-muted"></i>
									</div>
									{% if app.user.id == user.id %}
									<a href="{{ path('vendeur_microservices_new') }}" class="btn btn-success">
										Nouveau service
									</a>
									{% endif %}
								</div>
							</div>
						</div>

						{% endfor %}

						<div class="col-12">
							<div class="py-3">
								{{ knp_pagination_render(microservices) }}
							</div>
						</div>

					</div>
				</div>

			</main>

			<aside class="col col-xl-3 order-xl-3 col-lg-12 order-lg-3 col-12">
				<div class="shadow-sm rounded bg-white job-item mb-3">
					<div class="p-3 job-item-header">
						<div class="overflow-hidden mr-2">
							<div class="text-truncate text-primary">Abonnés.</div>
							<h6 class="font-weight-light text-dark mb-0 text-truncate">Ils suivent <strong
									class="font-weight-bold ">{{ user.nom ~ ' ' ~ user.prenom }}</strong></h6>
						</div>
					</div>
					<div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
						<div class="overlap-rounded-circle">
							{% for follow in followers(user) %}

							{% if follow.client.avatar %}

							<img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title=""
								src="{{ vich_uploader_asset(follow.client, 'imageFile') | imagine_filter('small_avatar') }}"
								alt="" data-original-title="{{ follow.client.nom ~ ' ' ~ follow.client.prenom }}">

							{% else %}

							<img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title=""
								src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" alt=""
								data-original-title="{{ follow.client.nom ~ ' ' ~ follow.client.prenom }}">

							{% endif %}

							{% endfor %}
						</div>
					</div>
					<div class="p-3 job-item-footer">
						<span class="font-weight-bold text-muted">{{ followers(user)|length }} Abonné{{ followers(user)|length
							> 1 ? 's' : '' }}</span>
						<small class="text-gray-500">
							<i class="fa fa-plus"></i>
							15 autres</small>
					</div>
				</div>

			</aside>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/suivi.js') }}"></script>
<script src="{{ asset('js/favoris.js') }}"></script>
{% endblock %}