{% extends 'base.html.twig' %}

{% block title %}Comment ça marche?{% endblock %}

{% block body %}
<section class="py-5 homepage-search-block position-relative">
   <div class="container">
      <div class="row py-lg-5">
         <div class="col-lg-7">
            <div class="homepage-search-title pt-0 ">
               <h1 class="mb-3 h3 text-shadow text-gray-900 font-weight-bold mt-2">Comment ça marche?</h1>
               <h5 class="mb-3 text-shadow text-gray-800 font-weight-normal">Trouvez le professionnel qui répondra à vos
                  besoins. Parcourez de nombreuses catégories, nos filtres vous permettent de planifier vos projets à
                  n'importe quel moment et n'importe où. Faites votre choix parmi de nombreux prestataires qui mettent
                  leur talent à votre disposition.
               </h5>
               <ul class="lead">
                  <li>
                     <span><i class="fa fa-check-circle text-blue"></i>
                        Choisissez un service
                  </li>
                  <li>
                     <span><i class="fa fa-check-circle text-blue"></i>
                        Réservez une date
                  </li>
                  <li>
                     <span><i class="fa fa-check-circle text-blue"></i>
                        Réalisez votre projet
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-lg-5">
            <img class="img-fluid" src="{{ asset('img/help.png') }}" alt='' />
         </div>
      </div>
   </div>
</section>

<div class="pb-5">
   <div class="container">
      <div class="row">
         <!-- Main Content -->
         <div class="col-md-12">
            <div id="syncing">
               <!-- Syncing Accordion -->
               <div id="syncingAccordion">
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="syncingHeadingOne">
                        <h5 class="mb-0">
                           <button class="shadow-none btn btn-block d-flex justify-content-between card-btn p-3"
                              data-toggle="collapse" data-target="#syncingCollapseOne" aria-expanded="false"
                              aria-controls="syncingCollapseOne">
                              Studio
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="syncingCollapseOne" class="collapse" aria-labelledby="syncingHeadingOne"
                        data-parent="#syncingAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>Avec <strong>{{ appName }}</strong> réservez des studios en location pour vos projets (location de salle équipée de matériel musical) ou local de décor.</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
               </div>
               <!-- End Syncing Accordion -->
            </div>
            <div id="basics">
               <!-- Title -->
               <!-- End Title -->
               <!-- Basics Accordion -->
               <div id="basicsAccordion">
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingTwo">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false"
                              aria-controls="basicsCollapseTwo">
                              Ingénieur son
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>Pour tous vos travaux d’enregistrement sonore et studio, le site <strong>{{ appName }}</strong> vous propose des centaines de freelances disponibles et qualifiés, pour vos heures d’enregistrement, mixage, mastering, Beatmaking</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingOne">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn p-3 collapsed"
                              data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false"
                              aria-controls="basicsCollapseOne">
                              Vidéaste 
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseOne" class="collapse show" aria-labelledby="basicsHeadingOne"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>Pour tous vos travaux vidéo et audio, le site <strong>{{ appName }}</strong> vous propose des centaines de freelances disponibles et qualifiés, pour réaliser, enregistrer des images, et tournées des films en vidéo (court métrage, long métrage, clip musicaux) pour vous.</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingThree">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false"
                              aria-controls="basicsCollapseThree">
                              Photographe :
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>
                              Pour tous vos travaux des photographes à disponibilité pour travailler dans des studios photo ou pour une séance de shooting photo avec des particuliers en élaborant des photos pour une cover (pochette de projet musical), mariage, de grossesse, des événements familiaux, prendre des photos de portrait,
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingFour">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                              aria-controls="basicsCollapseFour">
                              Figurants / danseurs 
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>Pour tous vos travaux de figuration et danse, le site <strong>{{ appName }}</strong> vous propose des centaines de freelances disponibles et qualifiés Le rôle du figurant est de participer au décor du tournage. Le danseur(se) aussi est un figurant mais expert en dans son domaine moment rythmé ou chorégraphie.</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
               </div>
               <!-- End Basics Accordion -->
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}