{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation de l'application{% endblock %}

{% block body %}
<div class="bg-dark pt-5 pb-5">
   <div class="container">
      <div class="row">
         <div class="col-md-7 text-center mx-auto my-4">
            <!-- Title -->
            <div class="mb-4">
               <h1 class="h3 text-white mb-0">Conditions générales de services</h1>
            </div>
            <!-- End Title -->
         </div>
      </div>
   </div>
</div>
<div class="py-5">
   <div class="container mx-auto col-md-8">
      <div class="row">
         <!-- Main Content -->
         <div class="col-md-12">
            <div id="basics">
               <!-- Title -->
               <div class="mb-3 mt-0">
                  <h4 class="font-weight-semi-bold">Conditions générales de services</h4>
               </div>
               <!-- End Title -->
               <!-- Basics Accordion -->
               <div id="basicsAccordion">
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingOne">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn p-3 collapsed"
                              data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false"
                              aria-controls="basicsCollapseOne">
                              Article 1 – MENTION LÉGALES
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>
                              Le présent site, accessible à l’URL links-infinity.com le « site {{ appName }} »
                              <strong>SARL inscrite au R.C.S. de Paris sous le numéro 948 725 056</strong> dont le siège
                              social est situé au 231 RUE SAINT HONORE 75001 PARIS.
                           </p>

                           <p>
                              (Ci-après désigné le « <strong>Prestataire</strong> »).
                           </p>
                           <p>
                              Le numéro individuel TVA de l’Exploitant est : <strong>[FR1 6948725056 ]</strong>.
                           </p>

                           <p>
                              {{ appName }} est une plateforme de prestation de services en ligne. Le Site propose aux
                              internautes, par son intermédiaire, d’entrer en relation, dans le but exclusif de vendre
                              et/ou d’acheter des services dématérialisés et des prestations sonores réalisable en
                              physique.
                           </p>

                           <p>
                              L’accès au Site est réservé à toute personne se connectant sur links infinity (ci-après le
                              « Visiteur »). Un Visiteur ne pourra cependant faire aucune action sur le Site à part
                              visiter les pages qui lui sont autorisées. Sur les pages non autorisées, il sera invité à
                              se créer un compte il sera alors un membre pour aller plus loin. L'acceptation intégrale
                              des présentes Conditions d’Utilisation par le Visiteur est nécessaire lors de son
                              inscription sur le Site. Cette acceptation est matérialisée par l’action du Visiteur de
                              cliquer sur le bouton “Créer un compte” ou “Devenez Vendeur”, celle-ci tenant lieu de
                              signature électronique, et ayant, de convention expresse, valeur de signature manuscrite
                              entre le Site et le Visiteur. Sans cette acceptation par le Visiteur, l'inscription ne
                              pourra pas être validée.
                           </p>

                           <p>
                              DEFINITION : <br>
                           </p>

                           <p>
                              Les termes et expressions spécifiques employés dans les présentes Conditions d'Utilisation
                              ont la signification suivante (qu'ils soient utilisés au singulier ou au pluriel) :
                           </p>

                           <p>
                              « Chat » désigne un système de messagerie permettant aux inscrits de communiquer entre eux
                              par le biais de messages. <br>

                              « Client » désigne un Membre du Site qui achète une prestation de services d’un Vendeur et
                              le rémunère en conséquence.
                           </p>

                           <p>
                              « Compte » désigne l’espace personnel créé par la personne inscrite, contenant ses
                              informations personnelles (identification, statistiques sur le Site etc.) accessible grâce
                              à la combinaison d’une adresse email et d’un Mot de passe définis par le Visiteur à la
                              création de son Compte. <br>

                              S’il s’agit d’un prospect l’espace personnel devra t’être confirmer par celui-ci par une
                              action de validation pour la création suite à l’envoie d’un e-mail de links infinity.
                           </p>

                           <p>
                              « Compte vérifié » est un Compte avec une adresse e-mail validée. <br>

                              « Conditions d’Utilisation » désigne les présentes Conditions d’Utilisation du Site que le
                              Visiteur accepte dans leur intégralité lors de la création de son Compte.
                              <br>
                              « Dashboard » désigne la page qui résume les achats, les services et les ventes d’un
                              Membre.
                              <br>
                              « Membre » désigne un Visiteur qui possède un Compte sur le Site et qui est identifié sur
                              celui-ci. <br>

                              « Mot de Passe » désigne le mot de passe choisi par le Visiteur au moment de la création
                              de son Compte afin d'accéder au Site. Il doit contenir au moins 6 caractères
                              alphanumériques. <br>

                              « Option » est rattachée à un service et permet de rendre ce service plus complet. Une
                              option peut modifier le tarif et le délai de livraison du service. <br>

                              « Portefeuille » représente le compte virtuel du Membre sur le Site. Il contient la somme
                              d’argent dont le Membre dispose qu’il peut dépenser en achetant des services ou retirer
                              via les méthodes de paiement proposées par le Site. <br>

                              « Pseudonyme » est une suite de 3 caractères minimum et pouvant aller jusqu’à 16
                              caractères et ne pouvant contenir que des lettres, chiffres, tiret bas. Il désigne le nom
                              choisi par le Membre pour le représenter sur le Site. <br>

                              « Service » désigne une prestation de service professionnelle proposée par un Membre du
                              Site. <br>

                              « le Site » : désigne le Site {{ appSite }} <br>

                              « Visiteur » : Désigne un internaute qui visite le Site sans avoir de Compte <br>

                              « Vendeur » est un Membre qui s’est inscrit en tant que Vendeur il peut être aussi nommé
                              professionnel. <br>

                              « Figurant(e) » désigne un vendeur qui propose une prestation de figuration sous format
                              audiovisuel <br>

                              « Danseur (se) » désigne un vendeur qui propose une prestation de danse et de figuration
                              sous format audiovisuel <br>

                           </p>

                           <p>
                              « Studio d’enregistrement » désigne un vendeur qui propose une prestation d’enregistrement
                              sonore et autres options liée à ce service <br>

                              « Ingénieur son » désigne un vendeur qui propose une prestation de fabrique et opère les
                              outils de captation et d'enregistrement pour enregistrer et mixer des programmes sonores.
                              <br>

                              « Vidéaste » désigne un vendeur qui propose une activité créatrice ou technique ayant
                              rapport à la vidéo <br>

                              « Photographe » désigne un vendeur qui propose des prestations de photographies. <br>

                              « Compositeur ou « beatmaker » désigne un vendeur qui propose des compositions de son ou
                              beats <br>

                              « Prestataire » désigne le site <strong>{{ appName }}</strong> <br>

                              « services extras » designe des offres payante proposée aux vendeurs pour acquérir plus de
                              visibilité, un profil plus attractif sur le site <br>


                              Le Service Client du Prestataire peut être contacté : <br>


                           <ul>
                              <li>par email en vous adressant à {{ appEmail }}</li>
                           </ul>

                           </p>


                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingTwo">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false"
                              aria-controls="basicsCollapseTwo">
                              Article 2 – CHAMP D’APPLICATION
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>
                              Les présentes conditions générales de services (les « Conditions Générales ») ont pour
                              objet de définir et de régir les rapports contractuels entre links infinity et tout
                              membres
                              (un « Client ou vendeur ») ayant créé un compte et désirant bénéficier des services
                              proposés sur le Site. <br>

                              La fourniture des services proposés aux Clients sur le Site est conditionnée à
                              l’acceptation préalable sans restriction ni réserve des présentes Conditions Générales.
                              <br>
                              Les Conditions Générales sont mises à la disposition des Clients sur le Site où elles sont
                              directement consultables et peuvent également lui être communiquées sur simple demande par
                              tout moyen. <br>

                              Les Conditions Générales sont applicables nonobstant toute stipulation contraire figurant
                              dans tous documents émanant du Client, et notamment dans ses conditions générales d’achat.
                              <br>

                              Les Conditions Générales sont applicables sous réserve de toute stipulation contraire
                              figurant au bon de commande ou à des conditions particulières le cas échéant conclues
                              entre la Société et le Client concerné.

                           </p>

                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingThree">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false"
                              aria-controls="basicsCollapseThree">
                              Article 3 – DESCRIPTION DES SERVICES
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>
                              Le Site a pour objet la fourniture en ligne des services suivants :
                              Vendre des prestations de service MAO
                              Acheter et réserver des prestations de service MAO liée à un projet musical ou artistique
                              (Ci-après désignés les « prestation de Services ou service»). <br>

                              Les Services présentés sur le Site font chacun l'objet d'un descriptif mentionnant leurs
                              caractéristiques essentielles. Cette description est susceptible de comporter des
                              descriptions, photographies et graphismes qui ne sont communiqués qu’à titre illustratif
                              et peuvent être modifiées/mises à jour sur le Site.
                              <br>
                              Le Vendeur déclare posséder au départ, puis céder tous droits d'utilisation relatifs au
                              service qu'il vend, sauf stipulation contraire au départ, notifiée dans les précisions
                              apportées à son service. Le Site se réserve le droit d'utiliser tout matériel relatif à un
                              service et tout contenu publié sur le Site à des fins de marketing, de promotion ou
                              d'édition, sans limitation d'utilisation. <br>

                              Il est à noter que le Site accepte les prestations de services dématérialisés et physique,
                              les services qui nécessitent une rencontre physique, le processus de suivi et livraison
                              doit se passer dans le gestionnaire de commande du Site.
                              <br>
                              A l’aide de notification pour le suivi et validation à la fin de la prestation pour le
                              client et le vendeur.

                           </p>

                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingFour">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                              aria-controls="basicsCollapseFour">
                              Article 4 – CONDITIONS D’INSCRIPTION
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Tout Client désirant pleinement bénéficier du Site et des Services devra :</p>

                           <ul>
                              <li>disposer de la pleine capacité et agir à des fins strictement professionnelles ;</li>
                              <li>
                                 créer son espace personnel sur le Site en renseignant les différents champs du
                                 formulaire de création d’un compte (dénomination, numéro de RCS, nom/prénom du
                                 référent,
                                 adresse électronique, adresse postale, numéro de téléphone, etc.) ;
                              </li>
                              <li>
                                 confirmer son acceptation des Conditions Générales ;
                              </li>
                              <li>confirmer son inscription.</li>
                              <li></li>
                           </ul>

                           <p>
                              L’accès aux Services est possible à partir d’un ordinateur, d’un smartphone ou d’une
                              tablette en se connectant au Site.

                              L’utilisation des Services nécessite une connexion à internet haut débit et à internet
                              mobile le cas échéant.

                              Les Clients font leur affaire personnelle de la mise en place des moyens informatiques et
                              de télécommunication permettant l’accès au Site.

                              Les Services ne sont accessibles qu’à partir d’une seule connexion à la fois.
                           </p>

                           <p>
                              Lors de la création d’un compte avec courrier électronique, le Client est invité à choisir
                              un mot de passe, qui constitue la garantie de la confidentialité des informations qui
                              seront contenues dans son compte. <br>

                              Aux fins de validation de l’inscription, <strong>{{ appName }}</strong> adresse aux
                              inscrit un courrier
                              électronique de confirmation à l’adresse email renseignée par ce dernier. Le membre
                              procède alors à l’activation de son compte en cliquant sur le lien hypertexte prévu à cet
                              effet dans le courrier électronique de confirmation. <br>

                              Chaque Membre garantit la sincérité et l'exactitude des informations fournies pour les
                              besoins de son inscription, s'engage à lui notifier toute modification ultérieure et
                              garantit que lesdites informations ne portent pas atteinte aux droits de tiers. <br>

                              Le membre peut modifier ces informations, identifiants et mot de passe à partir de son
                              compte sur le Site. <br>

                              Le membre s’engage à ne pas divulguer ou transférer son compte, ses identifiants et mots
                              de passe et est seul responsable de leur utilisation jusqu’à leur désactivation. Il doit
                              informer immédiatement le Prestataire de toute perte ou utilisation non autorisée de son
                              compte. <br>

                              Le Prestataire se réserve le droit de supprimer le compte de tout Client qui aurait fourni
                              des informations erronées. <br>

                           </p>

                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingFive">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseFive" aria-expanded="false"
                              aria-controls="basicsCollapseFive">
                              Article 5 – COMMANDES
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseFive" class="collapse" aria-labelledby="basicsHeadingFive"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Tout Membre désirant bénéficier des Services en ligne sur le Site devra :</p>
                           <ul>
                              <li>se connecter à son compte Client ;</li>
                              <li>sélectionner les Services qu’il souhaite souscrire ;</li>
                              <li>renseigner les différents champs du bon de commande Client (nom, prénom, adresse,
                                 adresse électronique, date de naissance, numéro de téléphone, etc.);</li>
                              <li>confirmer son acceptation des Conditions Générales ;</li>
                              <li>confirmer son acceptation de la commande des Services ;</li>
                              <li>choisir son mode de paiement ;</li>
                              <li>effectuer le paiement des Services.</li>
                           </ul>

                           <p>
                              Sauf disposition expresse figurant sur le Site, le Client ne pourra pas modifier sa
                              commande après l'avoir validée, laquelle sera ferme et définitive. <br>

                              Dès réception du paiement des Services compris dans la commande, Links INFINITY adressera
                              au Client un courrier électronique de confirmation de sa commande à l’adresse email
                              renseignée par ce dernier. <br>

                              Le courrier électronique de confirmation de la commande résume les caractéristiques
                              essentielles du/des Service(s) commandé(s), le prix total, et tout autre élément
                              pertinent. Cet email indiquera en outre un numéro de suivi de la commande du Client.

                           </p>

                           <p>
                              En passant commande sur le Site, le Client accepte expressément que le Prestataire lui
                              envoie une facture par voie électronique. Il pourra toutefois obtenir une facture papier
                              en adressant sa demande au Service Clients. <br>

                              Pour lutter contre la fraude, <strong>{{ appName }}</strong> ou ses prestataires de
                              paiement ou de livraison peuvent être amenés à demander des justificatifs supplémentaires
                              aux membres ou prendre attache avec ce dernier, au moment de l'acceptation et/ou de
                              l’expédition de la
                              commande. En cas de refus non justifié du Client ou Vendeur de délivrer les informations
                              et/ou justificatifs demandés, le <strong>{{ appName }}</strong> se réserve le droit de ne
                              pas accepter ou
                              d’annuler la commande sans que cela ne puisse faire l’objet d’une quelconque contestation.
                              <br>

                              <strong>{{ appName }}</strong> se réserve également le droit de ne pas accepter ou
                              d’annuler la commande
                              de tout Client ou vendeur qui aurait fourni des informations erronées, qui ne procèderait
                              pas au paiement des Services, avec lequel existerait un litige relatif au paiement d’une
                              commande antérieure ou qui présenterait un niveau de commande anormalement élevé.

                           </p>

                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingSix">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseSix" aria-expanded="false"
                              aria-controls="basicsCollapseSix">
                              Article 6 – CONDITIONS TARIFAIRES
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseSix" class="collapse" aria-labelledby="basicsHeadingSix"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Les Services sont fournis au tarif du vendeur en vigueur figurant sur le Site au jour de
                              la commande, exprimé en euros hors taxes. En cas de services spécifiques : </p>

                           <ul>
                              <li>Les Services sont facturés et le prix est exigible en totalité et payable comptant au
                                 jour de la signature du bon de commande.</li>
                              <li>Les Services d’enregistrement sonore non dématérialisé sont facturés le jour de la
                                 souscription de la commande et le prix est exigible en totalité et payable comptant au
                                 jour de leur fourniture après validation de chaque membre sur le site qui vaut pour
                                 acte de confirmation que la prestation a bien été réalisée.</li>
                              <li>
                                 Les Services sont facturés et le prix est exigible en totalité et payable comptant au
                                 jour de la commande pour la période contractuelle à venir.
                              </li>
                              <li>
                                 Pour les vendeurs l’inscription est gratuite la première année des services extras
                                 peuvent être souscrit par le vendeur. Les Services sont facturés et le prix est
                                 exigible et payable au début de chaque mois donnant lieu à la fourniture des Services.
                                 Toute modification du tarif des Services prendra effet lors de la prochaine période
                                 contractuelle. A défaut de résiliation par le Client avant cette prise d’effet, la
                                 nouvelle tarification sera applicable à la nouvelle période contractuelle.
                              </li>
                           </ul>

                           <p>
                              Le tarif est ferme et ne peut être révisé pendant la durée d’exécution des Services, les
                              parties renonçant expressément à se prévaloir des dispositions de l’article 1195 du Code
                              Civil. <br>

                              Le Prestataire se réserve toutefois le droit de modifier ses prix à tout moment pour tous
                              Services qui seraient souscrits postérieurement à cette modification. <br>

                              Des éventuelles réductions de prix, ristournes et remises pourront s’appliquer aux
                              Services dans des conditions prévues sur le Site ou dans tout autre document qui serait
                              communiqué au Client. En cas de tarif promotionnel, le Prestataire s'engage à appliquer ce
                              tarif à toute commande passée durant la période de la promotion. <br>

                              En cas de règlement anticipé par le Client, aucun escompte ne sera pratiqué. En aucun cas
                              les paiements ne peuvent être suspendus ni faire l'objet d'une quelconque compensation
                              sans accord préalable et écrit entre le Prestataire et le Client. Toute suspension,
                              déduction ou compensation opérée unilatéralement par le Client sera traitée comme un
                              défaut de paiement et entraînera toutes les conséquences d’un retard de paiement. <br>

                              Par ailleurs, il est expressément convenu que le Client est valablement mis en demeure de
                              payer par la seule exigibilité de l'obligation, conformément aux dispositions de l'article
                              1344 du Code civil. En cas de retard de paiement de l’une quelconque des échéances, le
                              Prestataire se réserve notamment le droit, sans qu’aucune indemnité ne soit due au Client,
                              de : <br>

                           </p>

                           <ul>
                              <li>exiger le paiement immédiat de l’ensemble des sommes à devoir au titre des Services,
                                 celles-ci devenant immédiatement exigibles quelle que soit leur échéance initialement
                                 prévue
                                 ;</li>
                              <li>refuser toute nouvelle commande ou exiger pour toute nouvelle commande un paiement
                                 comptant;</li>
                              <li>ou une garantie pour la bonne exécution des engagements ;</li>
                              <li>imputer tout paiement partiel en premier lieu sur la partie non privilégiée de la
                                 créance puis sur les sommes dont l'exigibilité est la plus ancienne ;</li>
                              <li>réduire, suspendre ou annuler l’accès aux Services, 15jrs jours après mise en demeure
                                 restée sans effet, effectuée par le Prestataire auprès du Client ;</li>
                              <li>appliquer, sans mise en demeure préalable, à toutes les sommes dues, dès le premier
                                 jour de
                                 retard et jusqu'à complet paiement, des pénalités de retard calculées au taux visé à
                                 l’article L.441-6 du Code de Commerce ; et/ou</li>
                              <li>exiger le paiement d’une indemnité forfaitaire de 40 € pour frais de recouvrement,
                                 pour
                                 chaque facture payée en retard, et le paiement d’une indemnité égale à 10% des sommes
                                 lui
                                 restant dues, sans préjudice de la réparation de tout dommage effectivement subi.
                              </li>
                           </ul>
                           <p>Toute modification des tarifs résultant d’une augmentation de la taxe sur la valeur
                              ajoutée ou la création de toute nouvelle taxe assise sur le prix des Services sera
                              immédiatement et automatiquement appliquée.</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeadingSeven">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapseSeven" aria-expanded="false"
                              aria-controls="basicsCollapseSeven">
                              Article 7 – MODES DE PAIEMENT
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapseSeven" class="collapse" aria-labelledby="basicsHeadingSeven"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Le Client reconnaît expressément que toute commande effectuée sur le Site est une commande
                              avec obligation de paiement, qui nécessite le paiement d’un prix contre la fourniture du
                              Service commandé. Le Site utilise la solution de paiement en ligne. <br>

                              Les commandes peuvent être payées en ayant recours à l’un des modes de paiement suivants :
                           </p>

                           <ul>
                              <li><strong>Paiement par carte bancaire.</strong> Le paiement s'effectue directement sur
                                 les serveurs bancaires
                                 sécurisés de la banque du Prestataire, les coordonnées bancaires du Client ne
                                 transitent pas
                                 sur le Site. Les coordonnées bancaires communiquées lors du paiement sont protégées par
                                 un
                                 procédé de cryptage SSL (Secure Socket Layer). Les cartes bancaires émises par des
                                 banques
                                 domiciliées hors de France doivent obligatoirement être des cartes bancaires
                                 internationales.
                                 Le paiement via ces cartes bancaires s'effectue au comptant, sans escompte</li>
                              <li><strong>Paiement par portefeuille électronique (type Paypal).</strong> Le Client
                                 possède déjà un compte sur
                                 le portefeuille électronique utilisé par le Prestataire. Le Client peut utiliser ce
                                 compte et
                                 régler sa commande en toute sécurité sans communiquer ses coordonnées bancaires.</li>
                              <li><strong>Paiement par virement. Le Client peut régler sa commande par virement
                                    bancaire.</strong> Lors de la
                                 commande, le Prestataire communiquera les coordonnées du compte sur lequel effectuer le
                                 virement, ainsi que la référence de commande à indiquer dans l’ordre de virement.</li>
                           </ul>
                           <p>Le cas échéant, la commande validée par le Client ne sera considérée comme confirmée que
                              lorsque le Prestataire aura pu s’assurer de la validité du règlement.</p>

                           <strong>Commission, frais bancaires</strong>

                           <p>
                              Quel que soit le montant de la commande, la commission du Site est de 10%. À cela
                              s'ajoutent les frais bancaires et de vérifications qui restent à la charge du Client. Ils
                              sont fixes quel que soit le montant de la commande : 5 % + 0,30 € HT. <br>

                              La commission est calculée au moment du paiement par le Client. Elle s'applique au vendeur
                              lors traitement de sa demande de retrait.

                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading8">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse8" aria-expanded="false"
                              aria-controls="basicsCollapse8">
                              Article 8 – OBLIGATIONS DU PRESTATAIRE
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse8" class="collapse" aria-labelledby="basicsHeading8"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Le vendeur s’engage à mettre en œuvre toutes les diligences requises pour l’exécution des
                              Services et de ses obligations au titre des présentes Conditions Générales et/ou de toute
                              autre documentation qui serait conclue avec les Clients, dans le respect des dispositions
                              législatives et réglementaires et des droits de tiers.</p>

                           <p>Le vendeur déclare disposer des compétences, de l’expérience et des moyens nécessaires
                              pour fournir les Services, et assumera la pleine responsabilité tant de l’exécution des
                              Services que de l’organisation du travail de son personnel le cas échéant.</p>

                           <p><strong>{{ appName }}</strong> édite les Services disponibles sur le Site et héberge les
                              contenus du Site
                              mis en ligne par les Vendeurs. <strong>{{ appName }}</strong> agit en tant que «
                              prestataire » technique
                              et n’effectue aucun contrôle sur la licéité, l’exactitude, la qualité ou la sincérité des
                              contenus mis en ligne par les vendeurs sous leur responsabilité.

                              En conséquence, les Vendeurs reconnaissent au Prestataire <strong>{{ appName }}</strong>
                              la qualité
                              d’hébergeur du Site au sens de l’article 6 de la loi n°2004-575 du 21 juin 2004 pour la
                              confiance dans l’économie numérique.

                              Toutefois, <strong>{{ appName }}</strong> s’engage à retirer promptement tout contenu
                              manifestement
                              illicite qui serait porté à sa connaissance, notamment lorsque l’existence d’un tel
                              contenu lui aura été notifiée (signalé) par un Client dans les conditions prévues par la
                              réglementation applicable.
                           </p>

                           <p>
                              Par ailleurs, <strong>{{ appName }}</strong> s’efforce d’assurer l’accès et le bon
                              fonctionnement du Site
                              vingt-quatre heures sur vingt-quatre, sept jours sur sept. <br>

                              <strong>{{ appName }}</strong> ne peut cependant exclure que l’accès et le fonctionnement
                              du Site soient
                              interrompus notamment en cas de force majeure, de dysfonctionnements des équipements ou du
                              réseau internet des Clients, de défaillance des opérateurs de télécommunication,
                              d’interruption de fourniture d’électricité, d’utilisation anormale, illicite ou
                              frauduleuse du Site par un Client ou un tiers, de décision des autorités compétentes, ou
                              pour tout autre motif. <br>

                              <strong>{{ appName }}</strong> se réserve également le droit d'apporter au Site et aux
                              Services toutes les
                              modifications et améliorations de son choix liées à l'évolution technique ou au bon
                              fonctionnement. <br>

                              Les interruptions générales et temporaires du Site et des Services seront, dans la mesure
                              du possible, notifiées via le Site avant qu’elles n’interviennent, sauf lorsque ces
                              interruptions ont un caractère d’urgence.

                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading9">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse9" aria-expanded="false"
                              aria-controls="basicsCollapse9">
                              Article 9 – OBLIGATIONS DU CLIENT
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse9" class="collapse" aria-labelledby="basicsHeading9"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Chaque Client s'engage à accéder et utiliser le Site et les Services de manière loyale et
                              conformément aux lois en vigueur et aux présentes Conditions Générales. <br>

                              Les données et informations communiquées ou mises en ligne par les Clients devront être
                              exactes, sincères et loyales et seront communiquées sous leur seule responsabilité.
                           </p>

                           <p>Plus généralement, chaque Client et vendeur s’engage à :</p>

                           <ul>
                              <li>s’assurer du respect, en toutes circonstances, des obligations légales, sociales,
                                 administratives et fiscales applicables à son statut de professionnel ;</li>
                              <li>ne pas modifier, modifier, en cours d’exécution des Services, leur nature ou leurs
                                 modalités de fourniture, sauf accord préalable et écrit du Prestataire ;</li>
                              <li>verser le prix des Services dans les conditions prévues aux présentes ;</li>
                              <li>ne pas diffuser de contenu illicite ou ayant pour effet de diminuer, de désorganiser,
                                 de ralentir ou d’interrompre la circulation normale des données sur le Site ;</li>
                              <li>signaler immédiatement au Prestataire toute difficulté, réserve ou tout litige survenu
                                 au cours de l’exécution des Services ou toute utilisation anormale, abusive ou
                                 frauduleuse du Site dont il aurait connaissance.</li>
                           </ul>

                           <p>Dans l'hypothèse où un Client ou le vendeur serait responsable d'une infraction à la
                              législation en vigueur ou d'une atteinte aux droits des tiers, links Infinity se réserve
                              le droit de fournir, à la demande de toute autorité légitime (juridiction, autorité
                              administrative, services de police), tous renseignements permettant ou facilitant
                              l'identification du Client contrevenant.</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading9-1">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse9-1" aria-expanded="false"
                              aria-controls="basicsCollapse9-1">
                              Article 9 .1 – OBLIGATIONS DU VENDEUR
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse9-1" class="collapse" aria-labelledby="basicsHeading9-1"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Lorsqu'un service est soumis ou modifié, il est alors relu par la modération du Site qui
                              va vérifier et relire l'ensemble des informations. <br>

                              Le Site refuse systématiquement les services :
                           </p>

                           <p>
                              Qui proposent un contenu illégal selon la loi française et plus précisément qui incite à
                              la prostitution, la mise en danger d'autrui, au piratage, à l'incitation à la haine ou à
                              la violence. <br>
                              Qui proposent de la revente de textes, vidéos, formations, livres, thèmes, plugins,
                              programmes ou tout autre contenu dont le Vendeur n'a pas les droits de revente ou n'en est
                              pas l'auteur. <br>
                              Qui proposent des jeux d'argent (casino), loteries, voyance, narcotiques, systèmes
                              pyramidaux. <br>
                              Qui proposent des paris sportifs sous toutes leurs formes. <br>
                              Qui proposent de l'achats de followers Twitter, Likes Facebook, Vues Youtube, et autres
                              formes d’activités sur les réseaux sociaux non autorisés. <br>
                              Qui proposent de la revente de comptes issus d'un réseau social
                              (Facebook/Twitter/Instagram…) <br>
                              Qui propose de la revente d'emails de particuliers. <br>
                              Qui peuvent contenir du contenu pornographique ou sexuel. <br>
                              Qui proposent une livraison d'objet. <br>
                              Qui sont copiés sur un service déjà en ligne (image et/ou texte). <br>
                              Qui proposent de réaliser des devoirs ou examens à la place des élèves et des étudiants,
                              conformément aux règlementations en vigueur. <br>
                              Qui proposent de la voyance, des tirages de cartes ou de la numérologie. <br>
                              Qui proposent des prestations médicales ou juridiques. <br>
                              Qui contient des informations personnelles du Vendeur ou un lien menant vers un autre site
                              que {{ appSite }} <br>
                              Qui ne sont pas écrits dans un langage correct.

                           </p>

                           <p>
                              Qui sont une copie d’un service déjà existant sur le site ou d’une autre page web, tous
                              les contenus doivent être uniques. <br>
                              Qui n’ont pas une description claire, précise et sans ambiguïté sur ce que le Vendeur
                              propose à son tarif de base et dans ses options
                              Chaque service pouvant avoir ses spécificités, cette liste n'est pas exhaustive. <br>

                              Dans le but de corriger les petites erreurs et d’éviter les allers-retours entre le Site
                              et un Vendeur, le Site se réserve le droit de modifier le texte et/ou les images d’un
                              service ainsi que ses éventuelles options. <br>

                              Le Site s’engage à valider et indexer sur le Site un service et ses éventuelles Options et
                              livraison express dans les meilleurs délais. Tout refus d’un service ou d’une option sera
                              justifié par e-mail au Vendeur et dans la liste de ses services. <br>

                              Dans le cas où un service ou une option est incomplet lors de sa soumission, le Site
                              enverra une demande de modification au Vendeur. Le Vendeur devra alors effectuer les
                              modifications et le service sera de nouveau en attente de modération. <br>

                              Dans le cas où le Site fait plusieurs retours de modération sans modifications suffisantes
                              du Vendeur, le service sera alors désactivé.

                           </p>

                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading10">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse10" aria-expanded="false"
                              aria-controls="basicsCollapse10">
                              Article 10 – RECLAMATIONS
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse10" class="collapse" aria-labelledby="basicsHeading10"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>
                              En cas d’inexécution ou d’exécution défectueuse des Services, le Client devra notifier
                              links infinity et formuler ses griefs et réserves dans un délai de trente (30) jours
                              calendaires suivant la date où il en a connaissance, afin de permettre aux parties de
                              faire leurs meilleurs efforts en vue de parvenir à un règlement amiable de la situation
                              dans un délai de trente (30) jours calendaires suivant la notification initiale du Client.
                              <br>

                              A défaut de règlement amiable dans les conditions susvisées et en cas d’inexécution
                              suffisamment grave du Vendeur, le Client pourra résilier les Conditions Générales dans les
                              conditions prévues à l’article 17 et obtenir le cas échéant des dommages et intérêts du
                              Vendeur aux fins de réparer le préjudice subi, le Client renonçant par avance à solliciter
                              une exécution forcée en nature des Services par le Prestataire ou un tiers ou une
                              réduction proportionnelle du prix, par dérogation expresse aux dispositions des articles
                              1221, 1222 et 1223 du Code civil.

                           </p>

                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading11">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse11" aria-expanded="false"
                              aria-controls="basicsCollapse11">
                              Article 11 - RESPONSABILITE DU SITE
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse11" class="collapse" aria-labelledby="basicsHeading11"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>
                              Le Site est tenu à une obligation de moyens au titre de la fourniture des Services de mise
                              en relation vendeur et client. <br>

                              Chaque Membre déclare être informé des contraintes et des limites des réseaux Internet et
                              ne pourra en aucun cas rechercher la responsabilité du site au titre de dysfonctionnements
                              dans l'accès aux Services, des vitesses d'ouverture et de consultation des pages des
                              Services, de l'inaccessibilité temporaire ou définitive des Services ou de l'utilisation
                              frauduleuse par des membres ou des tiers du Site.

                           </p>

                           <p>La responsabilité de links infinity ne saurait davantage être engagée :</p>
                           <ul>
                              <li>en cas de manquement à une quelconque obligation résultant d'un cas fortuit ou d’un
                                 évènement de force majeure au sens de l’article 1218 du Code Civil, y compris, mais
                                 sans y être limités, des évènements imprévisibles tels que grèves, arrêts de travail,
                                 troubles sociaux, fermetures d’usines, inondations, incendies, défaut de production ou
                                 de transport non-consécutif à son fait personnel, rupture d’approvisionnement, guerres,
                                 émeutes, insurrections et plus généralement toute circonstance ou événement empêchant
                                 la Société d’exécuter convenablement ses obligations ;</li>
                              <li>dans le cas où les informations, données, instructions, directives, matériels ou
                                 supports communiqués par le Client sont erronés ou incomplets, et plus généralement
                                 dans le cas où l’inexécution ou l’exécution défectueuse des Services résulte en tout ou
                                 partie du comportement, d’un manquement ou d’une carence du Client ;</li>
                              <li>dans le cas où certains services ou fonctionnalités ne seraient pas accessibles sur le
                                 Site en raison d’une désactivation par un Client des cookies via l’interface du
                                 logiciel de navigation ;</li>
                              <li>dans le cas où les fonctionnalités du Site s'avèreraient incompatibles avec certains
                                 équipements et/ou fonctionnalités du matériel informatique d’un Client.</li>
                           </ul>

                           <p>
                              Chaque Membre est par ailleurs responsable des contenus et informations importés, stockés
                              et/ou publiés sur le Site et s’engage à n’employer aucune mesure technique de nature à
                              permettre le contournement des mesures techniques de protection mises en place par le
                              Prestataire en vue d’éviter toute utilisation frauduleuse du Site et des Services. <br>

                              Chaque Client prend également sous sa seule responsabilité l’ensemble des mesures de
                              nature à assurer l’intégrité et la sauvegarde de l’ensemble de ses données, fichiers et
                              documents et renonce à rechercher la responsabilité de links infinity en cas de dommages
                              survenus aux données, fichiers ou à tout autre document qu’il aurait pu confier au
                              Prestataire dans le cadre de l’utilisation du Site et/ou des Services. <br>

                              Plus généralement, chaque membre s’engage par ailleurs à garantir le Prestataire de toute
                              réclamation, revendication, ou opposition et plus généralement de toute procédure qui
                              serait formée à son encontre à raison de l’utilisation qui aurait été faite par le Client
                              ou vendeur du Site ou des Services. <br>

                              En tout état de cause, links infinity n’encourt aucune responsabilité au titre de tous
                              dommages ou préjudices indirects ou immatériels tels que préjudice financier, perte de
                              chance, perte de profit, perte de contrat, perte de commande, perte de clientèle, perte
                              d’exploitation, préjudice ou trouble commercial ou préjudice d’image, qui pourraient
                              résulter de la fourniture défectueuse ou de l’absence de fourniture des Services. <br>

                              La responsabilité de links infinityne peut excéder un montant égal au prix hors taxes
                              perçu auprès du Client au titre de la fourniture des Services au cours des douze (12)
                              derniers mois. <br>

                              Conformément aux dispositions de l’article 2254 du Code Civil, toute action judiciaire
                              d’un Client ou vendeur à l’égard de links infinity est atteinte par la prescription à
                              l’expiration d’une durée d’un (1) an suivant la date à laquelle le Client concerné a eu
                              connaissance ou est présumé avoir eu connaissance du fait dommageable.

                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading12">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse12" aria-expanded="false"
                              aria-controls="basicsCollapse12">
                              Article 12 – SYSTÈMES D’ENREGISTREMENT
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse12" class="collapse" aria-labelledby="basicsHeading12"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>
                              Les registres informatisés, conservés dans les systèmes informatiques du Site et de ses
                              partenaires dans des conditions raisonnables de sécurité, seront considérés comme les
                              preuves des communications et actions des Clients et du Prestataire. L’archivage de ces
                              éléments est effectué sur un support fiable et durable de manière à correspondre à une
                              copie fidèle et durable au sens de la réglementation applicable. <br>

                              Chaque Client reconnaît la valeur de preuve des systèmes d’enregistrement automatisés du
                              Site et déclare renoncer à les contester en cas de litige.

                           </p>

                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading13">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse13" aria-expanded="false"
                              aria-controls="basicsCollapse13">
                              Article 13 – DONNÉES PERSONNELLES
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse13" class="collapse" aria-labelledby="basicsHeading13"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>Pour davantage d’informations concernant l’utilisation de données à caractère personnel
                              par le site, veuillez lire attentivement la Charte sur le respect de la vie privée (la
                              «Charte»). Vous pouvez à tout moment consulter cette Charte sur le Site.</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading14">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse14" aria-expanded="false"
                              aria-controls="basicsCollapse14">
                              Article 14 – LIENS HYPERTEXTES
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse14" class="collapse" aria-labelledby="basicsHeading14"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>
                              Les liens hypertextes disponibles sur le Site peuvent renvoyer vers des sites tiers ou
                              partenaires. Ils sont fournis uniquement pour la convenance du vendeur et client, afin de
                              faciliter l’utilisation des ressources disponibles sur l’Internet. Si le Client utilise
                              ces liens, il quittera le Site et acceptera alors d’utiliser les sites tiers à ses risques
                              et périls ou le cas échéant conformément aux conditions qui les régissent. <br>

                              En tout état de cause, l’existence d’un lien hypertexte vers le Site en provenance d’un
                              site tiers ou sur le Site vers un site tiers ou de partenaire ne saurait engager la
                              responsabilité du Prestataire à quelque titre que ce soit et notamment quant à la
                              disponibilité, aux contenus et aux produits et/ou services disponibles sur ou à partir de
                              ce site tiers ou partenaire. <br>

                              Le Client ou le vendeur n’est pas autorisé à créer sur un site tiers un ou plusieurs liens
                              hypertextes reliant à la page d’accueil du Site ou vers sa page profil, sauf autorisation
                              préalable et écrite de links infinity.

                           </p>

                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading15">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse15" aria-expanded="false"
                              aria-controls="basicsCollapse15">
                              Article 15 – PROPRIÉTÉ INTELLECTUELLE
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse15" class="collapse" aria-labelledby="basicsHeading15"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>
                              <strong>{{ appName }}</strong> est seul titulaire de tous les contenus présents sur le
                              Site, notamment et
                              sans limitation, tous textes, fichiers, images animées ou non, photographies, vidéos,
                              logos, dessins, modèles, logiciels, marques, identité visuelle, base de données, structure
                              du Site et tous autres éléments de propriété intellectuelle et autres données ou
                              informations qui sont protégés par les lois et règlements français et internationaux
                              relatifs notamment à la propriété intellectuelle. <br>

                              En conséquence, aucun des contenus du Site ne pourra en tout ou partie être modifié,
                              reproduit, copié, dupliqué, vendu, revendu, transmis, publié, communiqué, distribué,
                              diffusé, représenté, stocké, utilisé, loué ou exploité de toute autre manière, à titre
                              gratuit ou onéreux, par un Vendeur ou par un tiers, quel que soient les moyens et/ou les
                              supports utilisés, qu’ils soient connus ou inconnus à ce jour, sans l’autorisation
                              préalable et écrite du Prestataire, et le membre est seul responsable de toute utilisation
                              et/ou exploitation non autorisée. <br>

                              En outre, toute extraction, intégration, compilation, ou utilisation à des fins
                              commerciales d’informations contenues dans les bases de données accessibles sur le Site,
                              ainsi que toute utilisation de logiciels, robots, systèmes d’exploration de données et
                              autres outils de collecte de données est strictement interdite aux membres. <br>

                              <strong>{{ appName }}</strong> concède toutefois aux Clients, sous réserve du respect par
                              ces derniers des
                              présentes Conditions Générales, un droit non exclusif et non cessible d’accéder aux
                              contenus présents sur le Site dont il détient la pleine propriété, de les télécharger et
                              de les imprimer dans le cadre d’une utilisation personnelle et non commerciale. <br>

                              De manière réciproque, chaque Membre autorise expressément <strong>{{ appName }}</strong>
                              à reproduire, diffuser, héberger, stocker, reproduire, communiquer, publier, modifier,
                              adapter, traduire et afficher tout ou partie de son contenu sur le Site, par tous moyens
                              ou procédés, à des fins d’exploitation, d’amélioration, de vérification, de promotion, de
                              marketing, de publicité du Site ou dans le cadre de la mise en place de partenariats.
                              Cette licence non-exclusive, transférable et sous-licenciable est valable pour le monde
                              entier, sans redevance, pour la durée de l’inscription du Membre ou jusqu’à la suppression
                              du contenu de son compte.

                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading16">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse16" aria-expanded="false"
                              aria-controls="basicsCollapse16">
                              Article 16 – DURÉE – SUSPENSION - RÉSILIATION
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse16" class="collapse" aria-labelledby="basicsHeading16"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>En cas de vente ponctuelle ou en application de conditions particulières, les présentes
                              Conditions Générales sont conclues pour la durée de fourniture des Services, telle que
                              mentionnée le cas échéant dans des conditions particulières ou dans le bon de commande.
                              <br>

                              En cas de vente à exécution successive, les présentes Conditions Générales sont conclues
                              pour une durée initiale de 7 jrs. A défaut de dénonciation des présentes Conditions
                              Générales dans un délai de 7jrs précédant le terme de cette durée initiale, la fourniture
                              des Services et les Conditions Générales sont tacitement reconduits pour une nouvelle
                              période d’une durée équivalente à la durée initiale, aux conditions tarifaires en vigueur
                              à la date de la reconduction.
                           </p>

                           <p>Le Prestataire se réserve le droit de suspendre l’accès d’un Client au Site et aux
                              Services de façon permanente ou de façon temporaire, en cas de manquement par ledit Client
                              à ses obligations résultant des présentes Conditions Générales. <br>

                              Par ailleurs, le Prestataire ou le Client pourra résilier les Conditions Générales de
                              plein droit de manière anticipée par l’envoi d’une notification écrite :
                           </p>

                           <ul>
                              <li>en cas de survenance d’un cas de force majeure tel que visé à l’article 11 ci-avant ;
                              </li>
                              <li>après avoir notifié l’autre partie en cas de manquement grave de celle-ci à ses
                                 obligations ou au titre des lois et règlements applicables, auquel il n’aurait pas été
                                 remédié dans un délai de quinze (15) jours (lorsqu’il peut être remédié à ce
                                 manquement) suivant notification écrite indiquant la nature du manquement et la
                                 nécessité d’y remédier.</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading17">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse17" aria-expanded="false"
                              aria-controls="basicsCollapse17">
                              Article 17 - CONFIDENTIALITÉ
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse17" class="collapse" aria-labelledby="basicsHeading17"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>Pendant la durée des présentes, chaque partie pourra prendre connaissance ou recevoir des
                              informations, documents et/ou données confidentiels à propos de l’autre partie. De ce
                              fait, chaque partie s’engage, tant en son nom qu’au nom de ses préposés pour lesquels elle
                              se porte fort, à préserver la stricte confidentialité de toutes les informations,
                              documents et/ou données confidentiels de toute nature en rapport avec les résultats,
                              l’activité ou la clientèle de l’autre partie ou toute information reçue ou obtenue d’une
                              partie dans le cadre des relations contractuelles établies. <br>

                              Le présent engagement de confidentialité des parties est valable, tant pour la durée des
                              présentes que pendant une durée de deux (2) ans suivant leur expiration ou résiliation.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading18">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse18" aria-expanded="false"
                              aria-controls="basicsCollapse18">
                              Article 18 - NOTIFICATIONS
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse18" class="collapse" aria-labelledby="basicsHeading18"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>Toute notification ou convocation écrite requise ou permise en vertu des stipulations des
                              présentes sera valablement effectuée si elle est adressée par lettre remise en main propre
                              ou par porteur contre reçu de livraison, par courrier recommandé avec avis de réception,
                              ou par courrier électronique (sauf en cas de résiliation des présentes), adressé aux
                              coordonnées de la partie concernée, chaque partie élisant domicile en son siège social.
                              <br>

                              Tout changement de coordonnées d’une partie pour les besoins des présentes devra être
                              notifié à l’autre partie selon les modalités prévues ci-dessus.

                              Les notifications adressées en mains propres ou par porteur seront présumées avoir été
                              faites à leur date de remise au destinataire, telle qu'attestée par le reçu de livraison.
                              <br>
                              Les notifications faites par courrier recommandé avec avis de réception seront présumées
                              avoir été faites à la date de leur première présentation à l'adresse du destinataire. <br>
                              Les
                              notifications faites par courrier électronique seront présumées avoir été faites à la date
                              d'envoi du courrier électronique.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading19">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse19" aria-expanded="false"
                              aria-controls="basicsCollapse19">
                              Article 19 - AUTONOMIE ET ABSENCE DE RENONCIATION
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse19" class="collapse" aria-labelledby="basicsHeading19"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Si l'une quelconque des stipulations des présentes Conditions générales était déclarée
                              nulle ou inapplicable pour quelque cause que ce soit en application d'une loi, d'un
                              règlement ou à la suite d'une décision de justice devenue définitive, elle serait réputée
                              non écrite et les autres stipulations resteraient en vigueur. <br>

                              Le fait pour le Prestataire de ne pas se prévaloir à titre temporaire ou permanent d’une
                              ou de plusieurs stipulations des Conditions Générales n’emportera en aucun cas
                              renonciation.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading20">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse20" aria-expanded="false"
                              aria-controls="basicsCollapse20">
                              Article 20 – MODIFICATION
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse20" class="collapse" aria-labelledby="basicsHeading20"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Le Prestataire se réserve le droit de modifier à tout moment et sans préavis le contenu ou
                              la localisation du Site, les Services et les présentes Conditions Générales. <br>

                              Toute utilisation du Site ou des Services consécutive à une modification apportée aux
                              Conditions Générales emportera acceptation par chaque Client desdites modifications. <br>
                              La
                              version la plus récente et en vigueur des Conditions Générales sera toujours disponible à
                              l’adresse suivante : <strong>[URL des CGS]</strong>. <br>

                              Lorsque les modifications apportées aux Conditions Générales seront considérées par comme
                              substantielles, celles-ci seront portées à la connaissance des Clients par courrier
                              électronique et devront faire l’objet d’une acceptation par ces derniers lors de leur
                              prochaine connexion sur le Site.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading21">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse21" aria-expanded="false"
                              aria-controls="basicsCollapse21">
                              Article 21 - LITIGES
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse21" class="collapse" aria-labelledby="basicsHeading21"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">

                           <p>Les litiges qui pourront survenir dans le cadre des relations contractuelles établies
                              entre le Client et le Prestataire devront être résolus, dans la mesure du possible, de
                              manière amiable. <br>

                              A défaut de règlement amiable dans un délai d’un mois à compter de la saisine de l’une des
                              parties, tous les litiges auxquels les Conditions Générales pourraient donner lieu,
                              concernant tant leur validité, interprétation, exécution, résiliation, leurs conséquences
                              et leurs suites, seront soumis au tribunal de <strong>.Paris</strong>.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->

                  <!-- Card -->
                  <div class="box shadow-sm rounded bg-white mb-2">
                     <div id="basicsHeading22">
                        <h5 class="mb-0">
                           <button
                              class="shadow-none btn btn-block d-flex justify-content-between card-btn collapsed p-3"
                              data-toggle="collapse" data-target="#basicsCollapse22" aria-expanded="false"
                              aria-controls="basicsCollapse22">
                              Article 22 - DROIT APPLICABLE & LANGUE DU CONTRAT
                              <span class="card-btn-arrow">
                                 <span class="mdi mdi-chevron-down"></span>
                              </span>
                           </button>
                        </h5>
                     </div>
                     <div id="basicsCollapse22" class="collapse" aria-labelledby="basicsHeading22"
                        data-parent="#basicsAccordion">
                        <div class="card-body border-top p-3 text-muted">
                           <p>Les présentes Conditions Générales et les opérations qui en découlent sont régies et soumises au droit français. Elles sont rédigées en langue française. En cas de traduction en une ou plusieurs langues étrangères, seul le texte français fera foi en cas de litige.</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Card -->
               </div>
               <!-- End Basics Accordion -->
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}