<footer class="">
	<div class="container">
		<div class="d-flex justify-content-top">
			<div class="footer-list">
				<a href="{{ path('accueil') }}">
					<h2 class="text-light text-uppercase">
						{{ appName }}
					</h2>
				</a>
				<ul class="list">
					<li>
						<p>La plateforme Links Infinity donne la facilité à toute personnes de ce lancer en indépendant accompagner par des professionnels.</p>
					</li>
				</ul>
				<div class="copyright">
					<ul class="social">
						<li>
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-pinterest-p" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-list">
				<h2>Besoin d'aide?</h2>
				<ul class="list">
					<li>
						<a href="#">Comment ça marche?</a>
					</li>
					<li>
						<a href="#">FAQS</a>
					</li>
					<li>
						<a href="#">Contacter-nous</a>
					</li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>{{ appName }}</h2>
				<ul class="list">
					{% if app.user %}{% else %}
					<li>
						<a href="{{ path('app_register') }}">Vendre/connexion</a>
					</li>
					{% endif %}
					<li>
						<a href="#">Politique de confidentialité</a>
					</li>
					<li>
						<a href="#">CGU et CGV
						</a>
					</li>
					<li>
						<a href="#">Mentions légales
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>{{ appName }}</h2>
				<ul class="list">
					<li>
						<a href="mailto:{{ appEmail }}">{{ appEmail }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="text-center py-4 text-muted">
		<p class="p-0 m-0">© Copyright {{ 'now'|date('Y') }} {{ appName }}.
		</p>
	</div>
</footer>