<footer class="">
	<div class="container">
		<div class="d-flex justify-content-top">
			<div class="footer-list">
				<h2 class="p-1">
					<a href="{{ path('accueil') }}">
						<img src="{{ asset('img/logo.png') }}" width="100">
					</a>
				</h2>
				<p class="text-muted pr-2">
					La plateforme Links Infinity donne la facilité à toute personnes de ce lancer en indépendant accompagner par des professionnels.
				</p>
				<div class="copyright">
					<ul class="social">
						<li>
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-pinterest-p" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-list">
				<h2>Besoin d'aide?</h2>
				<ul class="list">
					<li>
						<a href="#">Comment ça marche?</a>
					</li>
					<li>
						<a href="#">FAQS</a>
					</li>
					<li>
						<a href="#">Contacter-nous</a>
					</li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>{{ appName }}</h2>
				<ul class="list">
					<li>
						<a href="#">Vendre/connexion</a>
					</li>
					<li>
						<a href="#">Politique de confidentialité</a>
					</li>
					<li>
						<a href="#">CGU et CGV
						</a>
					</li>
					<li>
						<a href="#">Mentions légales
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>{{ appName }}</h2>
				<ul class="list">
					<li>
						<a href="mailto:{{ appEmail }}">{{ appEmail }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="text-center py-4 text-muted">
		<p class="p-0 m-0">© Copyright {{ 'now'|date('Y') }} {{ appName }}.
		</p>
	</div>
</footer>
