<nav class="navbar navbar-expand-lg navbar-light topbar static-top bg-tranparent osahan-nav-top px-0">
	<div
		class="container">
		<!-- Sidebar Toggle (Topbar) -->
		<a class="navbar-brand" href="{{ path('accueil') }}"><img src="{{ asset('img/logo.png') }}" alt="{{ appName }}"></a>
		<!-- Topbar Search -->
		<form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search" style="width: 40%;">
			<div class="input-group w-100">
				<input type="text" class="form-control bg-white small" placeholder="Find Services..." aria-label="Search" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-success" type="button">
						<i class="fa fa-search fa-sm"></i>
					</button>
				</div>
			</div>
		</form>
		<!-- Topbar Navbar -->
		<ul class="navbar-nav align-items-center ml-auto">
			<li class="nav-item dropdown no-arrow no-caret mr-3 dropdown-notifications d-sm-none">
				<a class="btn btn-icon btn-transparent-dark dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-search fa-fw"></i>
				</a>
				<!-- Dropdown - Messages -->
				<div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in" aria-labelledby="searchDropdown">
					<form class="form-inline mr-auto w-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small" placeholder="Find Services..." aria-label="Search" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fa fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</li>

			<!-- Catégories -->
			<li class="nav-item dropdown no-arrow no-caret dropdown-notifications">
				<a class="nav-link dropdown-toggle" id="navbarDropdownCategories" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Catégories
				</a>
				<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownCategories">
					<h6 class="dropdown-header dropdown-notifications-header">
						Catégorie
					</h6>

					{% for categorie in categories() %}
						<a class="dropdown-item dropdown-notifications-item" href="#!">
							<div class="dropdown-notifications-item-content">
								<div class="dropdown-notifications-item-content-text">{{ categorie.name }}</div>
							</div>
						</a>
					{% endfor %}

					<a class="dropdown-item dropdown-notifications-footer" href="messages.html">Toute les catégories</a>
				</div>
			</li>

			{% if app.user %}

				<li class="nav-item ml-1 mr-1">
					<a href="" class="nav-link">
						<i class="fa fa-shopping-cart" style="font-size: 1.5em;"></i>
						<span class="count-cart">1</span>
					</a>
				</li>

				<!-- Messages -->
				<li class="nav-item dropdown no-arrow no-caret dropdown-notifications mr-3">
					<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
							<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
							<polyline points="22,6 12,13 2,6"></polyline>
						</svg>
					</a>
					<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownMessages">
						<h6 class="dropdown-header dropdown-notifications-header">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail mr-2">
								<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
								<polyline points="22,6 12,13 2,6"></polyline>
							</svg>
							Message Center
						</h6>
						<a class="dropdown-item dropdown-notifications-item" href="#!">
							<img class="dropdown-notifications-item-img" src="{{ asset('themes/base/images/user/s8.png') }}">
							<div class="dropdown-notifications-item-content">
								<div class="dropdown-notifications-item-content-text">Lorem ipsum dolor sit amet, consectetur</div>
								<div class="dropdown-notifications-item-content-details">Diane Chambers · 2d</div>
							</div>
						</a>
						<a class="dropdown-item dropdown-notifications-footer" href="{{ path('chat') }}">
							Méssagerie
						</a>
					</div>
				</li>
				<li class="nav-item dropdown no-arrow no-caret dropdown-user">
					<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="{{ app.user.avatar ? vich_uploader_asset(app.user, 'imageFile') : asset('img/user.jpg') | imagine_filter('small_avatar') }}"></a>
					<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
						<h6 class="dropdown-header d-flex align-items-center">
							<div class="dropdown-user-details">
								<div class="dropdown-user-details-name">{{ app.user.nom }}
									{{ app.user.prenom }}</div>
								<div class="dropdown-user-details-email">{{ app.user.email }}</div>
							</div>
						</h6>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path('user_profil') }}">
							<div class="dropdown-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
									<circle cx="12" cy="12" r="3"></circle>
									<path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
								</svg>
							</div>
							Mon compte
						</a>
						<a class="dropdown-item" href="{{ path('vendeur_microservices_index') }}">
							<div class="dropdown-item-icon">
								<i class="fa fa-tag"></i>
							</div>
							Mes services
						</a>
						<a class="dropdown-item" href="{{ path('app_logout') }}">
							<div class="dropdown-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out">
									<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
									<polyline points="16 17 21 12 16 7"></polyline>
									<line x1="21" y1="12" x2="9" y2="12"></line>
								</svg>
							</div>
							Se déconnecter
						</a>
					</div>
				</li>

			{% else %}
				<li class="nav-item">
					<a href="{{ path('app_login') }}" class="nav-link">
						<button class="btn btn-outline-dark btn-padding">Connexion</button>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_register') }}" class="nav-link">
						<button class="c-btn c-fill-color-btn">Devenir
													vendeur</button>
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>

<!-- Navigation --
<nav class="navbar navbar-expand-lg navbar-light bg-white osahan-nav-mid px-0 border-top shadow-sm">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Home
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
						<a class="dropdown-item" href="index.html">Home 1</a>
						<a class="dropdown-item" href="index2.html">Home 2</a>
						<a class="dropdown-item" href="index3.html">Home 3</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact.html">Contact</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Pages
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
						<a class="dropdown-item" href="product.html">Product List</a>
						<a class="dropdown-item" href="product2.html">Product List 2</a>
						<a class="dropdown-item" href="product-detail.html">List Detail</a>
						<a class="dropdown-item" href="profile.html">Profile</a>
						<a class="dropdown-item" href="company-profile.html">Company Profile</a>
						<a class="dropdown-item" href="alerts.html">Alerts</a>
						<a class="dropdown-item" href="messages.html">Messages</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Other Pages
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
						<a class="dropdown-item" href="login.html">Login</a>
						<a class="dropdown-item" href="register.html">Register</a>
						<a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
						<a class="dropdown-item" href="faq.html">FAQ</a>
						<a class="dropdown-item" href="404.html">404 Page</a>
						<a class="dropdown-item" href="blank.html">Blank Page</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Extra Pages
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
						<a class="dropdown-item" href="customer-order.html">Customer Order</a>
						<a class="dropdown-item" href="overview.html">Overview</a>
						<a class="dropdown-item" href="business.html">Business</a>
						<a class="dropdown-item" href="edit-account.html">Edit Account</a>
						<a class="dropdown-item" href="edit-security.html">Edit Security</a>
						<a class="dropdown-item" href="edit-notifications.html">Edit Notification</a>
						<a class="dropdown-item" href="edit-billing.html">Edit Billing</a>
						<a class="dropdown-item" href="edit-payment.html">Edit Payment</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Seller Pages
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="dashboard.html">Dashboard</a>
						<a class="dropdown-item" href="orders.html">Orders</a>
						<a class="dropdown-item" href="gigs.html">Gigs</a>
						<a class="dropdown-item" href="earnings.html">Earnings</a>
					</div>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="become-a-seller.html">
					<i class="fa fa-fw fa-trophy"></i>
					<span>Become A Seller</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">
					<img class="country-flag img-fluid" src="{{ asset('themes/base/images/flag/india.png') }}">
					<span>English</span>
				</a>
			</li>
		</ul>
	</div>
</nav>-->
