<nav class="navbar d-none d-sm-block navbar-expand-lg navbar-light {% if app.request.attributes.get('_route') == 'accueil' %}navtop-home{% elseif app.request.attributes.get('_route') == 'microservices' %}navtop-home{% elseif app.request.attributes.get('_route') == 'vendeur_profil' %}navtop-home{% elseif app.request.attributes.get('_route') == 'microservices_categories' %}navtop-home{% else %}shadow-sm{% endif %}  topbar static-top bg-tranparent osahan-nav-top px-0">
	<div class="container">
		<!-- Sidebar Toggle (Topbar) -->
		<a class="navbar-brand" href="{{ path('accueil') }}">
			<h6 class="text-blue font-weight-bold h6 text-uppercase pt-2">{{ appName }}</h6>
		</a>
		<!-- Topbar Search -->
		<form class="d-none d-sm-inline-block form-inline bg-light border rounded border-blue mr-auto my-2 my-md-0 mw-100 navbar-search"
			style="width: 40%;margin-right: 0!important;" action="{{ path('microservices') }}" method="get">
			<div class="input-group w-100 rounded bg-white"> <!-- radius -->
				<input type="text" name="q" class="form-control bg-transparent border-0 small" placeholder="Je cherche..."
					aria-label="Search" aria-describedby="basic-addon2">
				<div class="input-group-append rounded">
					<button class="btn rounded bg-transparent text-blue" type="submit">
						<i class="fa fa-search fa-sm"></i>
					</button>
				</div>
			</div>
		</form>
		<!-- catégorie -->
		<ul class="navbar-nav align-items-center mr-auto">
			<!-- Catégories -->
			{% include "partials/base/_nav_categorie.html.twig" %}
		</ul>
		
		<ul class="navbar-nav align-items-center ml-auto">
			<li class="nav-item dropdown no-arrow no-caret mr-3 dropdown-notifications d-sm-none">
				<a class="btn btn-icon btn-transparent-dark dropdown-toggle" href="#" id="searchDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-search fa-fw"></i>
				</a>
				<!-- Dropdown - Messages -->
				<div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in"
					aria-labelledby="searchDropdown">
					<form class="form-inline mr-auto w-100 navbar-search">
						<div class="input-group">
							<input type="text" name="q" class="form-control bg-light border-0 small" placeholder="Je cherche..."
								aria-label="Search" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fa fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</li>

			{% if app.user %}
			<li class="nav-item dropdown no-arrow no-caret mr-3 dropdown-notifications position-relative">
				<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts"
					href="{{ path('commandes_chats') }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-bell">
						<path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
						<path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
					</svg>
				</a>
				{% if getCommandeNonLu(app.user)|length > 0 %}
				<span class="badge badge-danger font-weight-light badge-message">
					{{ getCommandeNonLu(app.user)|length }}</span>
				{% endif %}
			</li>

			<!-- Messages -->
			<li class="nav-item dropdown no-arrow no-caret dropdown-notifications mr-3 position-relative">
				<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages"
					href="{{ path('conversations') }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-mail">
						<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
						<polyline points="22,6 12,13 2,6"></polyline>
					</svg>
				</a>
				{% if getMessageNonLu(app.user)|length > 0 %}
				<span class="badge badge-danger font-weight-light badge-message">
					{{ getMessageNonLu(app.user)|length }}
				</span>
				{% endif %}
			</li>
			<li class="nav-item dropdown no-arrow no-caret dropdown-user">
				<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
					href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">

					{% if app.user.reseauAvatar %}

					<img src="{{ reseauAvatar }}" class="img-fluid" alt="{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.nom ~ ' ' ~ app.user.prenom }}">

					{% else %}

					{% if app.user.avatar %}
					<img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('small_avatar') }}"
						class="img-fluid" alt="{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.nom ~ ' ' ~ app.user.prenom }}">
					{% else %}

					<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" alt='' />

					{% endif %}

					{% endif %}
				</a>
				<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
					aria-labelledby="navbarDropdownUserImage">
					<h6 class="dropdown-header d-flex align-items-center">
						<div class="dropdown-user-details">
							<div class="dropdown-user-details-name text-dark">
								{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.nom ~ ' ' ~ app.user.prenom }}
							</div>
							<div class="dropdown-user-details-email">{{ app.user.email }}</div>
						</div>
					</h6>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('user_profil') }}">
						<i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;
						Mon compte
					</a>

					{% if is_granted('ROLE_ADMIN') %}

					<a class="dropdown-item" href="{{ path('admin_dashboard') }}" target="_blank">
						<div class="dropdown-item-icon">
							<i class="fa fa-dashboard"></i>
						</div>
						Administration
					</a>

					{% endif %}

					{% if is_granted('ROLE_VENDEUR') %}

					{% if app.user.endRegister == true %}

						{% include "partials/vendeur/_menu.html.twig" %}

					{% endif %}

					{% else %}
						
						{% include "partials/base/_user_menu.html.twig" %}

					{% endif %}

					<div class="dropdown-divider"></div>
					<a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
						<div class="dropdown-item-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"
								stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
								class="feather feather-log-out">
								<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
								<polyline points="16 17 21 12 16 7"></polyline>
								<line x1="21" y1="12" x2="9" y2="12"></line>
							</svg>
						</div>
						Se déconnecter
					</a>
				</div>
			</li>

			{% else %}
			<li class="nav-item">
				<a href="{{ path('app_login') }}" class="nav-link">
					<button class="btn {{ app.request.attributes.get('_route') == 'accueil' ? 'btn-outline-dark' : 'btn-outline-dark' }} btn-padding font-weight-bold">Connexion</button>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_register') }}" class="nav-link">
					<button class="btn btn-success btn-padding font-weight-bold">Devenir vendeur</button>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>

<!-- Navigation mobile -->
<nav class="navbar d-block d-sm-none navbar-expand-lg navbar-light bg-white osahan-nav-mid px-0 border-top shadow-sm">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right ml-2" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav">
				<!-- Catégories -->
				{% include "partials/base/_nav_categorie.html.twig" %}

				{% include "partials/base/_navmobile_links.html.twig" %}
			</ul>
		</div>

		<ul class="navbar-nav align-items-center">
			{% include "partials/base/_nav_search_form.html.twig" %}
		</ul>

		<ul class="navbar-nav align-items-center mx-auto">
			<li class="nav-item">
				<a href="{{ path('accueil') }}" class="nav-link">
					<h6 class="text-blue text-uppercase pt-2">{{ appName }}</h6>
				</a>
			</li>
		</ul>

		<ul class="navbar-nav align-items-center ml-auto">
			{% if app.user %}
			<li class="nav-item dropdown no-arrow no-caret dropdown-notifications mr-3 position-relative">
				<a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownMessages"
					href="{{ path('conversations') }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-mail">
						<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
						<polyline points="22,6 12,13 2,6"></polyline>
					</svg>
				</a>
				{% if getMessageNonLu(app.user)|length > 0 %}
				<span class="badge badge-danger font-weight-light badge-message">
					{{ getMessageNonLu(app.user)|length }}
				</span>
				{% endif %}
			</li>
			<li class="nav-item dropdown no-arrow no-caret mr-3 dropdown-notifications">
				<a class="btn btn-icon btn-transparent-dark dropdown-toggle miblie-notif" id="navbarDropdownAlerts"
					href="{{ path('commandes_chats') }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-bell">
						<path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
						<path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
					</svg>
				</a>
				{% if getCommandeNonLu(app.user)|length > 0 %}
				<span class="badge badge-danger badge-pill font-weight-light badge-message"
					style="width: 20px!important;height:20px!important;">
					{{ getCommandeNonLu(app.user)|length }}</span>
				{% endif %}
			</li>
			<li class="nav-item dropdown no-arrow no-caret dropdown-user pr-2">
				<a class="btn btn-icon btn-transparent-dark dropdown-toggle miblie-notif" id="navbarDropdownUserImage"
					href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">

					{% if app.user.reseauAvatar %}

					<img src="{{ reseauAvatar }}" class="img-fluid" alt="{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.usePseudo == 1 ? app.user.pseudo : app.user.nom ~ ' ' ~ app.user.prenom }}">

					{% else %}

					{% if app.user.avatar %}
					<img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('small_avatar') }}"
						class="img-fluid" alt="{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.usePseudo == 1 ? app.user.pseudo : app.user.nom ~ ' ' ~ app.user.prenom }}">
					{% else %}

					<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" alt='' />

					{% endif %}

					{% endif %}
				</a>
				<div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
					aria-labelledby="navbarDropdownUserImage">
					<h6 class="dropdown-header d-flex align-items-center">
						<div class="dropdown-user-details">
							<div class="dropdown-user-details-name text-dark">{{ app.user.usePseudo == 1 ? app.user.pseudo : app.user.usePseudo == 1 ? app.user.pseudo : app.user.nom ~ ' ' ~ app.user.prenom }}</div>
							<div class="dropdown-user-details-email">{{ app.user.email }}</div>
						</div>
					</h6>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('user_profil') }}">
						<i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;
						Mon compte
					</a>

					{% if is_granted('ROLE_ADMIN') %}

					<a class="dropdown-item" href="{{ path('admin_dashboard') }}" target="_blank">
						<div class="dropdown-item-icon">
							<i class="fa fa-dashboard"></i>
						</div>
						Tableau de bord admin
					</a>

					{% endif %}

					{% if is_granted('ROLE_VENDEUR') %}

					{% if app.user.endRegister == true %}

						{% include "partials/vendeur/_menu.html.twig" %}

					{% endif %}

					{% else %}
						
						{% include "partials/base/_user_menu.html.twig" %}

					{% endif %}

					<a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
						<div class="dropdown-item-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"
								stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
								class="feather feather-log-out">
								<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
								<polyline points="16 17 21 12 16 7"></polyline>
								<line x1="21" y1="12" x2="9" y2="12"></line>
							</svg>
						</div>
						Se déconnecter
					</a>
				</div>
			</li>

			{% else %}
			<li class="nav-item">
				<a href="{{ path('app_login') }}" class="nav-link text-blue">
					<button class="btn btn-success btn-sm nav-auth-btn">Vendre / Connexion</button>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>