<div class="table-responsive">
   <table class="table text-muted table-borderless">
      <thead>
         <tr>
            <th>Service</th>
            <th class="text-center">{{ app.request.attributes.get('_route') == 'vendeur_commandes_index' ? 'Client' :
               'Vendeur' }}</th>
            <th>Statut</th>
            <th>Date</th>
            <th>actions</th>
         </tr>
      </thead>
      <tbody>
         {% for commande in commandes %}
         <tr>
            <td>
               <div class="media">
                  {% if commande.microservice.medias|length > 0 %}

                  <img class="rounded"
                     src="{{ vich_uploader_asset(commande.microservice.medias[0], 'imageFile') | imagine_filter('midle_avatar') }}">

                  {% else %}

                  <img class="img-fluid rounded"
                     src="{{ asset('themes/base/images/list/v1.png') | imagine_filter('midle_avatar') }}" />

                  {% endif %}
                  <div class="media-body pl-3">
                     <strong>{{ commande.montant ~ currency }}</strong>
                     <span class="badge badge-light border badge-pill text-capitalize">{{ commande.offre }}</span>
                     <a href="{{ path('microservice_details', {slug: commande.microservice.slug}) }}"
                        class="d-block text-light font-weight-bold" target="_blank">{{ commande.microservice.name|u.truncate(30, '...') }}</a>
                  </div>
               </div>
            </td>
            <td>

               {% if app.request.attributes.get('_route') == 'vendeur_commandes_index' %}

               <div class="text-center shadow border rounded">

                  {% if commande.client.avatar %}

                  <img class="rounded-circle"
                     src="{{ vich_uploader_asset(commande.client, 'imageFile') | imagine_filter('small_avatar') }}">

                  {% else %}

                  <img src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" width="40" height="40"
                     class="rounded-circle" alt="">

                  {% endif %}

                  <div class="text-center">
                     <strong class="d-block text-muted">{{ commande.client.nom }} {{ commande.client.prenom }}</strong>
                  </div>
               </div>

               {% else %}

               <a href="{{ path('vendeur_profil', {nameUrl: commande.vendeur.nameUrl}) }}" target="_blank">

                  <div class="text-center">

                     {% if commande.vendeur.avatar %}

                     <img class="rounded-circle"
                        src="{{ vich_uploader_asset(commande.vendeur, 'imageFile') | imagine_filter('small_avatar') }}">

                     {% else %}

                     <img src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" width="40" height="40"
                        class="rounded-circle" alt="">

                     {% endif %}

                     <div class="text-center text-muted">
                        <strong>{{ commande.vendeur.nom }} {{ commande.vendeur.prenom }}</strong>
                     </div>
                  </div>
               </a>

               {% endif %}

            </td>
            <td>
               <span class="badge badge-pill badge-{{ commande.deliver ? 'success' : 'warning' }}">{{ commande.deliver ?
                  'Livré' : 'En cours' }}</span>
            </td>
            <td>{{ commande.created ? commande.created|date('d/m/Y') : '' }}</td>
            <td>
               <a href="{{ path('commande_details', {id: commande.id}) }}" class="btn btn-dark"
                  target="_blank">Suivi</a>
            </td>
         </tr>
         {% else %}
         <tr>
            <td colspan="7" class="text-center">Aucune commande</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>