<div class="table-responsive">

   <table class="table text-dark table-borderless">
      <thead>
         <tr>
            <th>Service</th>
            <th>{{ app.request.attributes.get('_route') == 'vendeur_commandes_index' ? 'Client' :
               'Vendeur' }}</th>
            <th>Statut</th>
            <th>Date</th>
            <th>actions</th>
         </tr>
      </thead>
      <tbody>
         {% for commande in commandes %}


         {% if commande.microservice %}

         <tr>
            <td>
               <div class="media">
                  {% if commande.microservice.medias|length > 0 %}

                  <img class="rounded"
                     src="{{ vich_uploader_asset(commande.microservice.medias[0], 'imageFile') | imagine_filter('midle_avatar') }}">

                  {% else %}

                  <img class="img-fluid rounded"
                     src="{{ asset('themes/base/images/list/v1.png') | imagine_filter('midle_avatar') }}" />

                  {% endif %}
                  <div class="media-body pl-3">
                     <strong>{{ commande.montant ~ currency }}</strong>
                     <span class="badge badge-blue badge-pill text-capitalize">{{ commande.offre }}</span>
                     <a href="{{ path('microservice_details', {slug: commande.microservice.slug}) }}"
                        class="d-block text-dark font-weight-bold" target="_blank">{{
                        commande.microservice.name|u.truncate(30, '...') }}</a>
                  </div>
               </div>
            </td>
            <td>

               {% if app.request.attributes.get('_route') == 'vendeur_commandes_index' %}

               <div class="text-center shadow border rounded">

                  {% if commande.client.avatar %}

                  <img class="rounded-circle"
                     src="{{ vich_uploader_asset(commande.client, 'imageFile') | imagine_filter('small_avatar') }}">

                  {% else %}

                  <img src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" width="40" height="40"
                     class="rounded-circle" alt="">

                  {% endif %}

                  <div class="text-center">
                     <strong class="d-block text-muted small">{{ commande.client.nom }} {{ commande.client.prenom
                        }}</strong>
                  </div>
               </div>

               {% else %}

               <a href="{{ path('vendeur_profil', {nameUrl: commande.vendeur.nameUrl}) }}" target="_blank">

                  <div class="text-center">

                     {% if commande.vendeur.avatar %}

                     <img class="rounded-circle"
                        src="{{ vich_uploader_asset(commande.vendeur, 'imageFile') | imagine_filter('small_avatar') }}">

                     {% else %}

                     <img src="{{ asset('img/user.jpg') | imagine_filter('small_avatar') }}" width="40" height="40"
                        class="rounded-circle" alt="">

                     {% endif %}

                     <div class="text-center text-muted small">
                        <strong>{{ commande.vendeur.nom }} {{ commande.vendeur.prenom }}</strong>
                     </div>
                  </div>
               </a>

               {% endif %}

            </td>
            <td>
               {% if commande.microservice %}
               <span class="badge badge-pill badge-{{ commande.deliver ? 'success' : 'warning' }}">{{ commande.deliver ? 'Livré' : 'En cours' }}</span>
               {% else %}
               <span class="badge badge-pill badge-success">Validé</span>
               {% endif %}
            </td>
            <td>{{ commande.created ? commande.created|date('d/m/Y') : '' }}</td>
            <td>
               <a href="{{ path('commande_details', {id: commande.id}) }}" class="btn btn-dark"
                  target="_blank">Suivi</a>
            </td>
         </tr>

         {% else %}

         <tr>
            <td>{{ commande.pack.name }}</td>
            <td>{{ appName }}</td>
            <td>
               <span class="badge badge-pill badge-{{ commande.deliver ? 'success' : 'warning' }}">{{ commande.deliver ?
                  'Livré' : 'En cours' }}</span>
            </td>
            <td>{{ commande.created ? commande.created|date('d/m/Y') : '' }}</td>
            <td>
               {% if commande.microservice %}

               <a href="{{ path('commande_details', {id: commande.id}) }}" class="btn btn-dark">Suivre</a>

               {% else %}

               <a href="{{ path('commandes_pack_show', {id: commande.id}) }}" class="btn btn-dark">Détails</a>

               {% endif %}
            </td>
         </tr>

         {% endif %}

         {% else %}
         <tr>
            <td colspan="7" class="text-center">
               Aucune commande
               <div class="py-4">
                  <i class="fa fa-search fa-3x text-muted"></i>
               </div>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>