<div class="card rounded bg-white border mb-3 osahan-chat">
	<div class="card-header bg-dark ">
		<h5 class="h6 text-light">Conversations</h5>
	</div>
	<div class="card-body p-0">
		<div class="row m-0">
			<div class="border-right col-md-4 col-xl-4 px-0 bg-white {{ app.request.attributes.get('_route') == 'conversations_show' ? 'd-none d-sm-block' : '' }}">
				<div class="osahan-chat-left">

					{% include "conversations/composants/_user_conversations.html.twig" %}

				</div>
			</div>

			<!-- Partie droite -->
			<div class="col-md-8 col-xl-8 px-0 {{ app.request.attributes.get('_route') == 'conversations' ? 'd-none d-sm-block' : '' }}">
				{% if app.request.attributes.get('_route') == 'conversations_show' %}
				<div class="p-3 d-flex align-items-center  border-bottom osahan-post-header">
					<div class="font-weight-bold mr-1 overflow-hidden">

						{% if conversation.user1.id == app.user.id %}

						<div class="text-truncate">

							{% if conversation.user2.avatar %}
							<img src="{{ vich_uploader_asset(conversation.user2) | imagine_filter('small_avatar') }}"
								alt="{{ conversation.user2.prenom ?? '' }}" class="rounded-circle border" alt="{{ conversation.user2.usePseudo == 1 ? conversation.user2.pseudo : conversation.user2.nom ~ ' ' ~ conversation.user2.prenom }}">
							{% else %}
							<img src="{{ asset('img/user.jpg') }}" width="40" height="40" class="rounded-circle border">
							{% endif %}

							{{ conversation.user2.usePseudo == 1 ? conversation.user2.pseudo : conversation.user2.nom ~ ' ' ~ conversation.user2.prenom }}

						</div>

						{% else %}

						<div class="text-truncate">

							{% if conversation.user1.avatar %}

							<img src="{{ vich_uploader_asset(conversation.user1) | imagine_filter('small_avatar') }}"
								alt="{{ conversation.user1.usePseudo == 1 ? conversation.user1.pseudo : conversation.user1.nom ~ ' ' ~ conversation.user1.prenom }}" class="rounded-circle border">

							{% else %}

							<img src="{{ asset('img/user.jpg') }}" width="40" height="40" class="rounded-circle border">

							{% endif %}

							{{ conversation.user1.usePseudo == 1 ? conversation.user1.pseudo : conversation.user1.nom ~ ' ' ~ conversation.user1.prenom }}

						</div>

						{% endif %}

					</div>
				</div>
				<div class="osahan-chat-box p-3 bg-light">

					{% include "conversations/composants/_security.html.twig" %}

					{% include "conversations/composants/_messages.html.twig" %}

				</div>

				{% include "conversations/composants/_message_form.html.twig" %}

				{% else %}

				<div class="py-5 text-center">
					<div class="row">
						<div class="col-sm-6 mx-auto">
							<h6 class="h5">Choisissez une conversation</h6>
							<img src="{{ asset('img/conversation.svg') }}" class="img-fluid" alt="">
						</div>
					</div>
				</div>

				{% endif %}

			</div>
		</div>
	</div>
</div>