{% if userconversation.lastmessage %}

<div class="d-flex justify-content-between align-items-center last-message">
    {% if userconversation.lastmessage.destinataire.id == app.user.id and userconversation.lastmessage.lu == 0 %}
    	<span class="p-0 m-0 font-italic font-weight-bold">
    		{{ userconversation.lastmessage.auteur.id == app.user.id ? 'Vous:' : ''}}
    		<span>
    			{{ userconversation.lastmessage.contenu|u.truncate(15, '...') }}
    		</span>
    	</span>
    {% elseif userconversation.lastmessage.destinataire.id == app.user.id and userconversation.lastmessage.lu == 1 %}
    	<span class="p-0 m-0 font-italic">
    		{{ userconversation.lastmessage.auteur.id == app.user.id ? 'Vous:' : ''}}
    		<span class="text-muted">
    			{{ userconversation.lastmessage.contenu|u.truncate(15, '...') }}
    		</span>
    	</span>
    {% else %}
    	<span class="p-0 m-0 font-italic">
    		{{ userconversation.lastmessage.auteur.id == app.user.id ? 'Vous:' : ''}}
    		<span class="text-muted">
    			{{ userconversation.lastmessage.contenu|u.truncate(15, '...') }}
    		</span>
    	</span>
    {% endif %}
    	
	<small class="ml-2 small conversation-time" data-value="{{ userconversation.lastmessage.created|date('d/m/Y') }}">
		{{ userconversation.lastmessage.created|ago(locale='fr') }}
	</small>
</div>

{% endif %}