<div class="profile_info">
	<div class="seller-card">
		<div>
			<div class="user-online-indicator is-online " data-user-id="{{ app.user.id }}">
				<i class="fa fa-circle"></i>En ligne
			</div>
		</div>
		<div>
			<a href="#" class="ambassadors-badge">{{ app.user.compte }}</a>
		</div>
		<div class="user-profile-info">
			<div>
				<div class="user-profile-image text-left">
					<label class="user-pict">
						{% if app.user.avatar %}
							<img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('midle_size') }}" class="img-fluid" alt="{{ app.user.prenom }}">
						{% else %}

							{% if app.user.genre == 'Feminin' %}

								<img class="img-fluid" src="{{ asset('img/femme.jpg') | imagine_filter('midle_size') }}" alt=''/>

							{% else %}

								<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('midle_size') }}" alt=''/>

							{% endif %}

						{% endif %}

						<a href="#" class="user-badge-round user-badge-round-med locale-en-us top-rated-seller"></a>
					</label>
				</div>
			</div>
			<div class="user-profile-label">
				<div class="username-line">
					<a href="#" class="seller-link">{{ app.user.nom ~ ' ' ~ app.user.prenom }}</a>
				</div>
				<div class="oneliner-wrapper">
					<small class="oneliner">{{ app.user.email }}</small>
					<div class="py-4">
						<div class="d-flex align-items-top mb-2">
							<p class="mb-0 text-muted text-left">Avis positif</p>
							<p class="text-dark mb-0 mt-0 ml-auto text-right">({{ avispositif(app.user)|length }})</p>
						</div>
						<div class="d-flex align-items-top">
							<p class="mb-0 text-muted text-left">Avis négatif</p>
							<p class="text-dark mb-0 mt-0 ml-auto text-right">({{ avisnegatif(app.user)|length }})</p>
						</div>
					</div>
				</div>

				<div class="py-3">
					<p class="text-left">
						{{ app.user.apropos|raw }}
					</p>
				</div>

				<div class="text-center">
					<a href="{{ path('user_edit_profil') }}" class="btn btn-light pl-4 pr-4 btn-block">
						<i class="fa fa-cog"></i> Mettre à jour mon profil
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
