{% extends 'admin.html.twig' %}

{% block title %}Disponibilités{% endblock %}

{% block body %}

<div class="row">
   <div class="col-12">
      <!-- Left sidebar -->
      {% include "admin/admin_services/composants/_step.html.twig" %}

      <!-- Right Sidebar -->
      <div class="email-rightbar">

         <div class="card rounded">
            <div class="card-body">

               <div class="form-group">
                     <h6 class="font-weight-bold">Disponibilités pour ce service</h6>
                     <p class="text-muted">
                        Afin de compléter et personnaliser votre service, vous pouvez indiquez votre disponibilités en
                              relation directe avec ce service pour permettre aux clients de prendre des rendez-vous avec vous.
                     </p>
               </div>

               <div>
                     {{ form_start(form) }}
                     {{ form_widget(form._token) }}
                     {{ form_errors(form) }}
                     <div id="disponibilites" class="row" data-prototype="{{ include("vendeur/microservices/form/_disponibilites.html.twig", {form:
                        form.disponibilites.vars.prototype})|e("html_attr") }}"
                        data-index="{{ form.disponibilites|length > 0 ? form.disponibilites|last.vars.name + 1 : 0 }}">
                        {% for disponibilite in form.disponibilites %}
                        <div class="col-sm-6">
                           {{ include("vendeur/microservices/form/_disponibilites.html.twig", {form: disponibilite}) }}
                        </div>
                        {% endfor %}
                     </div>
                     <br>
                     <button type="button" class="btn btn-light btn-new" data-collection="#disponibilites">
                        <i class="fa fa-plus"></i> Ajouter une disponibilité
                     </button>

                     <div class="form-group text-left mt-5">
                        <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer et poursuivre') }}</button>
                     </div>
                     {{ form_end(form, {render_rest: false}) }}
               </div>

            </div>
         </div>

      </div> <!-- end Col -->
   </div>
</div><!-- End row -->

{% endblock %}