<div class="card rounded bg-white mb-3">
   <div class="card-header bg-transparent">
      <h6 class="m-0">Service</h6>
   </div>
   <div class="card-body p-0">
      <div class="dropdown-menu-show">

         {% if microservice.id %}

         <a class="dropdown-item p-2 {{ app.request.attributes.get('_route') == 'vendeur_microservices_titre' ? 'active' : '' }} {{ microservice.name ? 'tache-terminer' : 'tache-encours' }}"
            href="{{ path('vendeur_microservices_titre', {id: microservice.id}) }}">
            1. Titre et catégorie &nbsp;&nbsp;&nbsp;
            <i class="text-muted fa fa-check-circle float-right"></i>
         </a>

         <a class="dropdown-item p-2 {{ app.request.attributes.get('_route') == 'vendeur_microservices_description' ? 'active' : '' }} {{ microservice.description ? 'tache-terminer' : 'tache-encours' }}"
            href="{{ path('vendeur_microservices_description', {id: microservice.id}) }}">
            2. Prix, description et délai &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </a>
         
         <a class="dropdown-item p-2 {{ app.request.attributes.get('_route') == 'vendeur_microservices_options' ? 'active' : 'tache-terminer' }} {{ microservice.serviceOptions|length > 0 ? 'tache-terminer' : 'tache-encours' }} {{ microservice.realisations|length > 0 ? 'tache-terminer' : 'tache-encours' }}"
            href="{{ path('vendeur_microservices_options', {id: microservice.id}) }}">
            3. Options supplémentaire &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </a>

         <a class="dropdown-item p-2 {{ app.request.attributes.get('_route') == 'vendeur_microservices_galerie' ? 'active' : '' }} {{ microservice.medias|length > 0 ? 'tache-terminer' : 'tache-encours' }}"
            href="{{ path('vendeur_microservices_galerie', {id: microservice.id}) }}">
            4. Galerie &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </a>

         <a class="dropdown-item p-2 {{ app.request.attributes.get('_route') == 'vendeur_microservices_disponibilite' ? 'active' : 'tache-terminer' }} {{ microservice.disponibilites|length > 0 ? 'tache-terminer' : 'tache-encours' }}"
            href="{{ path('vendeur_microservices_disponibilite', {id: microservice.id}) }}">
            5. Disponiblité &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </a>

         <a class="dropdown-item p-2 {{ app.request.attributes.get('_route') ==  'vendeur_microservices_publication' ? 'active' : '' }} {{ microservice.online == 1 ? 'tache-terminer' : 'tache-encours' }}"
            href="{{ path('vendeur_microservices_publication', {id: microservice.id}) }}">
            6. Publication &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </a>

         {% else %}

         <a
            class="dropdown-item p-2 {{ app.request.attributes.get('_route') == 'vendeur_microservices_new' ? 'active' : '' }}">
            1. Titre et catégorie &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </a>

         <div
            class="dropdown-item p-2 {{ app.request.attributes.get('_route') == 'vendeur_microservices_description' ? 'active' : '' }}">
            2. Prix, description et délai &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </div>

         <div
            class="dropdown-item p-2 {{ app.request.attributes.get('_route') == '' ? 'active' : 'vendeur_microservices_options' }}">
            3. Options supplémentaire &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </div>

         <div
            class="dropdown-item p-2 {{ app.request.attributes.get('_route') == '' ? 'active' : 'vendeur_microservices_disponibilite' }}">
            4. Disponibilité &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </div>

         <div
            class="dropdown-item p-2 {{ app.request.attributes.get('_route') == 'vendeur_microservices_galerie' ? 'active' : '' }}">
            5. Galerie &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </div>

         <div class="dropdown-item p-2 {{ app.request.attributes.get('_route') == '' ? 'active' : '' }}">
            6. Publication &nbsp;&nbsp;&nbsp;<i class="text-muted fa fa-check-circle float-right"></i>
         </div>

         {% endif %}

      </div>
   </div>
</div>

<div class="card mb-3">
   <div class="card-header bg-transparent border-0">
      <h6 class="m-0">Besoin d'aide ?</h6>
   </div>
   <div class="card-body">
      <p class="text-muted">À tout moment, cliquez sur le bouton d’aide contextuelle afin de consulter nos
         conseils sur la création de service.</p>
   </div>
</div>