{{ form_start(form) }}

<div class="box shadow-sm rounded bg-white mb-3">
   <div class="box-title p-3 text-left bg-light rounded">
      <h4 class="mb-0 h5">
         Mon profil {% if is_granted('ROLE_VENDEUR') %}public{% endif %}
      </h4>
   </div>
   <div class="box-body p-3">
      {% if is_granted('ROLE_VENDEUR') %}
      <p>
         En tant que vendeur, vous disposez d’un profil public présentant vos services en vente. Complétez-le avec
         soin,
         sans indiquer de coordonnée personnelle ni faire la promotion d’un autre moyen de contact que via {{ appName }}
      </p>
      {% endif %}
      <div class="form-group row">
         <div class="col-sm-6">
            {{ form_row(form.nom) }}
         </div>

         <div class="col-sm-6">
            {{ form_row(form.prenom) }}
         </div>
      </div>
      {{ form_row(form.genre) }}
      <div class="row">
         <div class="col-sm-6">
            <strong>Photo de profil</strong>
            <div class="form-group">
               {{ form_row(form.imageFile) }}
            </div>
            {% if is_granted('ROLE_VENDEUR') %}
            <p>
               Montrez-vous ! Les {{ app.user.compte }}s avec une photo les représentant
               {{ is_granted('ROLE_VENDEUR') ? 'vraiment font plus de ventes que la moyenne.' : '.' }}
            </p>
            {% endif %}
         </div>
      </div>

      <div class="form-group">
         {{ form_row(form.email) }}
      </div>

      {% include "espace_utilisateur/composants/_position.html.twig" %}

      <div class="form-group">
         {{ form_row(form.adresse) }}
      </div>

      <div style="visibility: hidden;height:1px;">
         {{ form_row(form.ville) }}

         {{ form_row(form.etat) }}

         {{ form_row(form.pays) }}
      </div>

      <div class="form-group row">
         <div class="col-sm-12">
            {{ form_row(form.telephone) }}
         </div>
      </div>

      <div class="form-group">
         <label class="d-block">Biographie</label>
         {% if is_granted('ROLE_VENDEUR') %}
         <p>
            Présentez-vous en une phrase ou plus afin que vos clients en sachent un peu plus sur qui vous êtes.
            Attention : ce n’est pas votre service, et aucun lien externe, identifiant de réseau social, adresse
            e-mail
            ou numéro de téléphone n’est permis.
         </p>
         {% endif %}
         {{ form_widget(form.apropos) }}
         {{ form_errors(form.apropos) }}
      </div>
      <div class="row">
         <div class="col-sm-6">
            <div class="form-group">
               <button type="submit" formnovalidate class="btn btn-dark btn-block rounded-btn">Mettre à jour</button>
            </div>
         </div>
      </div>
   </div>
</div>

{{ form_end(form) }}