{% extends 'vendeur.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block bg %}{% endblock %}

{% block colleft %}4
{% endblock %}

{% block colright %}8
{% endblock %}

{% block body %}

<div class="card rounded bg-light mb-3">
	<div class="card-header bg-dark">
		<h4 class="h6 text-light">Informations supplémentaire</h4>
	</div>
	<div class="card-body">
		{% if is_granted('ROLE_VENDEUR') %}
		<div class="text-dark">
			{{ form_start(form) }}

			{{ form_row(form.lieuPrestation) }}

			{{ form_row(form.homeStudio) }}

			<div class="row">
				<div class="col-sm-6">
					<strong>Photo de couverture</strong>
					<div class="form-group">
						{{ form_row(form.couvertureFile) }}
					</div>
					{% if is_granted('ROLE_VENDEUR') %}
					<p>
						Ce n’est pas obligatoire, mais c’est joli. Personnalisez votre photo de couverture pour vous
						démarquer.
					</p>
					{% endif %}
				</div>
			</div>

			{{ form_rest(form) }}

			<button class="btn btn-dark">Enregister</button>

			{{ form_end(form) }}
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}