{% extends 'vendeur.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block bg %}{% endblock %}

{% block colleft %}4
{% endblock %}

{% block colright %}8
{% endblock %}

{% block body %}

<div class="">
	<div class="card shadow-sm rounded bg-white mb-3">
		<div class="card-body">
			<h4 class="mb-0 h5 pl-2">Mes coordonnées</h4>
			<div class="row">
				<div class="col-sm-12 pt-3">
					<table class="table table-borderless text-muted table-striped">
						<tbody>
							<tr>
								<th>Compte</th>
								<td class="text-left">{{ app.user.compte }}</td>
							</tr>
							<tr>
								<th>Nom</th>
								<td class="text-left">{{ app.user.nom }}</td>
							</tr>
							<tr>
								<th>Prénom</th>
								<td class="text-left">{{ app.user.prenom }}</td>
							</tr>
							<tr>
								<th>Genre</th>
								<td class="text-left">{{ app.user.genre }}</td>
							</tr>
							<tr>
								<th>Téléphone</th>
								<td class="text-left">{{ app.user.telephone }}</td>
							</tr>
							<tr>
								<th>Adresse</th>
								<td class="text-left">{{ app.user.adresse }}</td>
							</tr>
							<tr>
								<th>Ville</th>
								<td class="text-left">{{ app.user.ville }}</td>
							</tr>
							<tr>
								<th>Etat</th>
								<td class="text-left">{{ app.user.pays }} - {{ app.user.etat }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			{% if is_granted('ROLE_VENDEUR') %}
			<div class="text-muted">
				<h6 class="h6 mb-0 py-2">Coordonnées personnelles</h6>
				<p>
					Ces informations servent à éditer les documents de facturation de vos prestations. Celles-ci sont
					légalement requises et ne seront pas revendues à des tiers. Veillez à les remplir correctement. Attention
					: un seul compte par personne ou entité légale est permis. Si vous devez effectuer une modification,
					cliquez sur le bouton Mettre à jour.
				</p>

				{{ form_start(form) }}
					{{ form_widget(form) }}
					<button class="btn btn-dark">Mettre à jour</button>
				{{ form_end(form) }}
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}