{% extends 'vendeur.html.twig' %}

{% block title %}Compte
{% endblock %}

{% block bg %}{% endblock %}

{% block colleft %}4
{% endblock %}

{% block colright %}8
{% endblock %}

{% block body %}

{{ form_start(form) }}

<div class="card bg-white mb-3">
   <div class="card-header bg-dark">
      <h6 class="mb-0 text-light">
         Profil utilisateur
      </h6>
   </div>
   <div class="box-body p-3">

      {% include "espace_utilisateur/composants/_position.html.twig" %}

      <div>
         <div class="form-group">
            <label class="mb-1">Lieu de la prestation de service</label>
            <div class="position-relative icon-form-control">
               <i class="fa fa-map-marker position-absolute text-blue"></i>
               {{ form_widget(form.adresse) }}
            </div>
            {{ form_errors(form.adresse) }}
         </div>
      </div>

      <div style="visibility: hidden;height:1px;">
         {{ form_row(form.ville) }}

         {{ form_row(form.etat) }}

         {{ form_row(form.pays) }}
      </div>

      <div class="form-group">
         <button type="submit" class="btn btn-dark">Enregistrer les changements</button>
      </div>
   </div>

   {{ form_end(form) }}

   {% endblock %}

   {% block javascripts %}

   {{ parent() }}

   <script>
      // TO MAKE THE EXAMPLE WORK YOU MUST
      // ADD YOUR ACCESS TOKEN FROM
      // https://account.mapbox.com

      const ACCESS_TOKEN = '{{ map_box_token }}'

      $("#position_adresse").on('change', function (e) {

         const url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
         const query = e.target.value

         fetch(`${url}${query}.json?access_token=${ACCESS_TOKEN}`)
            .then((response) => response.json())
            .then((data) => {
               //console.log(data)
               const longitude = data.features[0].geometry.coordinates[0];
               const latitude = data.features[0].geometry.coordinates[1];

               $("#position_longitude").val(longitude)
               $("#position_latitude").val(latitude)

               console.log(longitude, latitude)
            });

         console.log('form has changed', e.target.value);
      })

      const script = document.getElementById('search-js');
      script.onload = () => {
         // Add search box to input
         const collection = mapboxsearch.autofill({
            accessToken: ACCESS_TOKEN,
            options: { country: 'fr' }
         });

         // Configure minimap
         const minimap = document.querySelector('mapbox-address-minimap');
         minimap.accessToken = ACCESS_TOKEN;
         minimap.defaultMapStyle = ['mapbox', 'outdoors-v11'];
         minimap.theme = {
            variables: { border: '13px solid #bbb', borderRadius: '18px', boxShadow: '0 2px 8px #000' }
         }

         minimap.onSaveMarkerLocation = (coordinate) => { console.log(coordinate); }
         minimap.feature = {
            type: 'Feature',
            geometry: { type: 'Point', coordinates: [-73.981872, 40.768037] },
            properties: {}
         };

         // Set minimap feature on search box selection
         collection.addEventListener('retrieve', (e) => {
            minimap.feature = e.detail.features[0];
            console.log(minimap.feature)
         })
      };
   </script>

   {% endblock %}