{% extends 'vendeur.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block bg %}{% endblock %}

{% block colleft %}4
{% endblock %}

{% block colright %}8
{% endblock %}

{% block sidebar %}
	{% include "espace_utilisateur/composants/_sidebar_avatar.html.twig" %}
	{{ parent() }}
{% endblock %}

{% block body %}

<div class="">
	<div class="box shadow-sm rounded bg-white mb-3">
		<div class="box-title p-3 text-left bg-dark rounded">
			<h4 class="mb-0 text-light">
				Mon profil {{ is_granted('ROLE_VENDEUR') ? 'public' : '' }}
			</h4>
		</div>

		<div class="box-body p-3 border-bottom">

			{% if is_granted('ROLE_VENDEUR') %}
			<p>
				En tant que vendeur, vous disposez d’un profil public présentant vos services en vente. Complétez-le avec
				soin,
				sans indiquer de coordonnée personnelle ni faire la promotion d’un autre moyen de contact que via {{ appName
				}}
			</p>
			{% endif %}

			<div class="row">
				<div class="col-sm-6">
					<strong>Photo de profil</strong>
					<div class="form-group">
						{{ app.user.imageFile }}
					</div>
					{% if is_granted('ROLE_VENDEUR') %}
					<p>
						Montrez-vous ! Les vendeurs avec une photo les représentant vraiment font plus de ventes que la
						moyenne.
					</p>
					{% endif %}
					<div>
						{% if app.user.avatar %}
						<img class="img-fluid rounded-circle"
							src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('large_avatar') }}" alt='' />

						{% else %}

						<img class="img-fluid rounded-circle"
							src="{{ asset('img/user.jpg') | imagine_filter('large_avatar') }}" alt='' />

						{% endif %}
					</div>
				</div>
				<div class="col-sm-6">
					<div class="align-items-top job-item-header pb-2">
						<span class="text-truncate text-muted">Email</span>
						<h6 class="font-weight-bold text-dark mb-0">{{ app.user.email }}</h6>
					</div>
				</div>
			</div>

			<div class="form-group py-3">
				<strong class="font-weight-bold text-dark mb-0">Biographie</strong>
				{% if is_granted('ROLE_VENDEUR') %}
				<p>
					Présentez-vous en une phrase ou plus afin que vos clients en sachent un peu plus sur qui vous êtes.
					Attention : ce n’est pas votre service, et aucun lien externe, identifiant de réseau social, adresse
					e-mail
					ou numéro de téléphone n’est permis.
				</p>
				{% endif %}
				<p>{{ app.user.apropos }}</p>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 text-right">
						<a href="{{ path('user_edit_profil') }}" class="btn btn-outline-success btn-block rounded-btn">
							Mettre à jour
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}