{% extends 'base.html.twig' %}

{% block title %}Commandes {{ commande.id }}{% endblock %}

{% block titre %}Commandes {{ commande.id }}{% endblock %}

{% block col %}6{% endblock %}

{% block body %}

<section class="container py-5">
   <div class="row">
      <div class="col-sm-8">
         <!-- Chat -->
         {% include "commande/composants/_chat.html.twig" %}

         <!--- Rapport de prestation -->
         {% include "commande/composants/_rapport.html.twig" %}

      </div>
      <div class="col-sm-4">

         <div class="card mb-4">
            <div class="card-header bg-dark">
               <h5 class="h6 text-light">Suivis commande</h5>
            </div>
            <div class="card-body">
               <h6 class="h6 text-capitalize">{{ commande.offre }}</h6>
               <div class="d-flex align-items-top mb-2">
                  <p class="mb-0 text-muted">Reservé pour</p>
                  <span class="text-dark mb-0 mt-0 ml-auto">
                     <i class="fa fa-calendar"></i> {{ commande.disponibilite }} {{ commande.created|date('Y') }}
                  </span>
               </div>
               <div class="d-flex align-items-top mb-2">
                  <p class="mb-0 text-muted">TOTAL PAYE</p>
                  <h6 class="text-dark font-weight-bold mb-0 mt-0 ml-auto">
                     {{ commande.montant ~ currency }}
                  </h6>
               </div>
               <h6 class="h6 text-capitalize">Service</h6>
               <div class="media mb-2 p-2 shadow-sm rounded">
                  {% if commande.microservice.medias|length > 0 %}

                  <img class="img-fluid rounded"
                     src="{{ vich_uploader_asset(commande.microservice.medias[0], 'imageFile') | imagine_filter('medium_avatar') }}" />

                  {% else %}

                  <img class="img-fluid rounded"
                     src="{{ asset('themes/base/images/list/v1.png') | imagine_filter('medium_avatar') }}" />

                  {% endif %}
                  <div class="media-body pl-3">
                     <span>{{ commande.microservice.created|ago(locale='fr') }}</span>
                     <a href="{{ path('microservice_details', {slug: commande.microservice.slug}) }}"
                        class="text-dark ml-auto">
                        {{ commande.microservice.name }}
                     </a> <br>
                     <a href="{{ path('microservices_categories', {slug: commande.microservice.categorie.slug}) }}?categories%5B%5D={{ commande.microservice.categorie.id }}"
                        class="badge badge-blue rounded-pill">
                        #{{ commande.microservice.categorie.name }}
                     </a>
                  </div>
               </div>
               
            </div>
         </div>

         <div class="card mb-4">
            <div class="card-body">

               <div class="">
                  <h3 class="h6">1 - Commande payée</h3>
                  <span class="text-muted">{{ commande.created|ago(locale='fr') }}</span>
               </div>

               {% if commande.validate == 1 %}

               <div class="py-3">
                  <h3 class="h6">2 - Commande validée</h3>
                  <span class="text-muted">{{ commande.validateAt|ago(locale='fr') }}</span>
               </div>


               <div class="py-3">
                  <h3 class="h6">3 - Commande en cours</h3>
                  <span class="text-muted">{{ commande.validateAt|ago(locale='fr') }}</span>
               </div>

               {% endif %}

               {% if is_granted('microservice_edit', commande.microservice) %}

               {% if commande.deliver == 0 %}

               {% if commande.cancel == 0 %}

               <div class="py-3">

                  {% if commande.validate == 0 %}

                  {{ include('commande/composants/_validate_form.html.twig') }}

                  {% endif %}

                  {% if commande.validate == 1 %}

                  {{ include('commande/composants/_livrer_form.html.twig') }}

                  {% endif %}

                  {{ include('commande/composants/_annuler_form.html.twig') }}

               </div>

               {% endif %}

               {% endif %}

               {% endif %}

               {% if commande.deliver == 1 %}

               <div class="py-3">
                  <h3 class="h6">4 - Commande livrée</h3>
                  <span class="text-muted">{{ commande.deliverAt|ago(locale='fr') }}</span>
               </div>

               {% endif %}

               {% if commande.cancel == 1 %}

               <div class="py-3">
                  <h3 class="h6">5 - Commande annuler</h3>
                  <span class="text-muted">{{ commande.cancelAt|ago(locale='fr') }}</span>
                  <p>Pour une raison ou une autre, la commande à été annulée par le vendeur</p>
               </div>

               {% endif %}

               {{ include('commande/composants/_question_frequentes.html.twig') }}

            </div>

         </div>

         <div>
            {% include "commande/composants/_avis_form.html.twig" %}
         </div>
      </div>
   </div>
</section>
{% endblock %}
