{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block titre %}Commandes {{ commande.id }}{% endblock %}

{% block col %}6{% endblock %}

{% block body %}

<section class="container py-5">
   <div class="row">
      <div class="col-sm-4">
         <div class="list-group shadow-sm">

            <div class="list-group-item d-flex justify-content-between align-items-center border-bottom-0">
               <h5 class="lead h5 font-weight-bold">Suivis de la commande</h5>
               <span class="badge badge-dark badge-pill">N° {{ commande.id }}</span>
            </div>

            <div class="list-group-item">

               <ul class="list-group py-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     <span class="lead h5 font-weight-bold">Offre {{ commande.offre }}</span>
                     <span class="badge badge-dark badge-pill">{{ commande.montant ~ currency }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     {{ commande.microservice.description|raw }}
                  </li>
               </ul>

               <div class="">
                  <h3 class="lead h5 font-weight-bold">1 - Commande payée</h3>
                  <span class="text-dark">{{ commande.created|ago(locale='fr') }}</span>
               </div>

               {% if commande.validate == 1 %}

               <div class="py-3">
                  <h3 class="lead h5 font-weight-bold">2 - Commande validée</h3>
                  <span class="text-dark">{{ commande.validateAt|ago(locale='fr') }}</span>
               </div>


               <div class="py-3">
                  <h3 class="lead h5 font-weight-bold">3 - Commande en cours</h3>
                  <span class="text-dark">{{ commande.validateAt|ago(locale='fr') }}</span>
               </div>

               {% endif %}

               {% if is_granted('microservice_edit', commande.microservice) %}

               {% if commande.deliver == 0 %}

               {% if commande.cancel == 0 %}

               <div class="py-3">

                  {% if commande.validate == 0 %}

                  {{ include('commande/composants/_validate_form.html.twig') }}

                  {% endif %}

                  {% if commande.validate == 1 %}

                  {{ include('commande/composants/_livrer_form.html.twig') }}

                  {% endif %}

                  {{ include('commande/composants/_annuler_form.html.twig') }}

               </div>

               {% endif %}

               {% endif %}

               {% endif %}

               {% if commande.deliver == 1 %}

               <div class="py-3">
                  <h3 class="lead h5 font-weight-bold">4 - Commande livrée</h3>
                  <span class="text-dark">{{ commande.deliverAt|ago(locale='fr') }}</span>
               </div>

               {% endif %}

               {% if commande.cancel == 1 %}

               <div class="py-3">
                  <h3 class="lead h5 font-weight-bold">5 - Commande annuler</h3>
                  <span class="text-dark">{{ commande.cancelAt|ago(locale='fr') }}</span>
                  <p>Pour une raison ou une autre, la commande à été annulée par le vendeur</p>
               </div>

               {% endif %}

               {{ include('commande/composants/_question_frequentes.html.twig') }}

            </div>

         </div>

         <div>
            {% include "commande/composants/_avis_form.html.twig" %}
         </div>
      </div>
      <div class="col-sm-8">
         {% include "commande/composants/_chat.html.twig" %}
      </div>
   </div>
</section>

{% endblock %}