{% if is_granted('microservice_edit', commande.microservice) %}

{% else %}

<div class="card my-3">
   <div class="card-header bg-dark">
      <h6 class="h6 text-light">Votre avis sur le service</h6>
   </div>
   <div class="card-body">

      {% if userserviceAvis > 0 %}

         {% for avis in app.user.avis %}
            <div class="rounded bg-light border">
               <i class="d-block">{{ avis.created|date('d/m/Y') }}</i>
               <q>{{ avis.contenu }}</q>
            </div>
         {% endfor %}

      {% else %}

         {% if commande.deliver == 1 %}

            {{ form_start(avisForm) }}
               {{ form_widget(avisForm) }}
               <div class="text-right">
                  <button type="submit" class="btn btn-success btn-rounded" data-turbo="false">
                     <span id="btnFetch"><i class="mdi mdi-send"></i> Envoyer</span>
                  </button>
               </div>
            {{ form_end(avisForm) }}

            {% endif %}

      {% endif %}

   </div>
</div>

{% endif %}