<div class="box shadow-sm rounded bg-white mb-3 osahan-chat">
	<h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3 h5 font-weight-bold">Suivi des commandes</h5>
	<div class="row m-0">
		<div class="border-right col-lg-5 col-xl-4 px-0">
			<div class="osahan-chat-left">
				<div class="osahan-chat-list">

					{% for usercommande in usercommandes %}

					{% if usercommande.vendeur.id == app.user.id %}

					<div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden {{ usercommande == commande ? 'bg-light' : '' }}">
						<div class="dropdown-list-image mr-3">

							<a href="{{ path('commande_details', {id: usercommande.id}) }}">
							{% if usercommande.client.avatar %}
							<img src="{{ vich_uploader_asset(usercommande.client) | imagine_filter('small_avatar') }}"
								alt="{{ usercommande.client.prenom ?? '' }}" class="rounded-circle border">
							{% else %}
							<img src="{{ asset('img/user.jpg') }}" width="40" height="40" class="rounded-circle border">
							{% endif %}
							</a>

						</div>
						<div class="font-weight-bold mr-1 overflow-hidden">
							<a href="{{ path('commande_details', {id: usercommande.id}) }}" class="text-dark">
								<div class="text-truncate">{{ usercommande.client.nom ~ ' ' ~ usercommande.client.prenom }}
								</div>
							</a>
							<div class="small text-truncate overflow-hidden text-black-50">
								<a href="{{ path('commande_details', {id: usercommande.id}) }}">
									<i class="mdi mdi-check text-primary"></i>
									Service: {{ usercommande.microservice.name }}
								</a>
							</div>
						</div>
						<span class="ml-auto mb-auto">
							<div class="text-right text-muted pt-1 small">
								{{ usercommande.created|ago(locale='fr') }}
							</div>
						</span>
					</div>

					{% else %}

					<div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden {{ usercommande == commande ? 'bg-light' : '' }}">
						<div class="dropdown-list-image mr-3">

							<a href="{{ path('commande_details', {id: usercommande.id}) }}">
							{% if usercommande.vendeur.avatar %}
							<img src="{{ vich_uploader_asset(usercommande.vendeur) | imagine_filter('small_avatar') }}"
								alt="{{ usercommande.vendeur.prenom ?? '' }}" class="rounded-circle border">
							{% else %}
							<img src="{{ asset('img/user.jpg') }}" width="40" height="40" class="rounded-circle border">
							{% endif %}
							</a>

						</div>
						<div class="font-weight-bold mr-1 overflow-hidden">
							<a href="{{ path('commande_details', {id: usercommande.id}) }}" class="text-dark">
								<div class="text-truncate">{{ usercommande.vendeur.nom ~ ' ' ~ usercommande.vendeur.prenom }}</div>
							</a>
							<div class="small text-truncate overflow-hidden text-black-50">
								<a href="{{ path('commande_details', {id: usercommande.id}) }}">
									<i class="mdi mdi-check text-primary"></i>
									Service: {{ usercommande.microservice.name }}
								</a>
							</div>
						</div>
						<span class="ml-auto mb-auto">
							<div class="text-right text-muted pt-1 small">
								{{ usercommande.created|ago(locale='fr') }}
							</div>
						</span>
					</div>

					{% endif %}

					{% else %}

					<div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
						<p>Aucune commande</p>
					</div>

					{% endfor %}

				</div>
			</div>
		</div>
		<div class="col-lg-7 col-xl-8 px-0">

			{% if app.request.attributes.get('_route') == 'commande_details' %}

			<div class="p-3 d-flex align-items-center  border-bottom osahan-post-header">
				<div class="font-weight-bold mr-1 overflow-hidden">
					{% if commande.client.id == app.user.id %}

					<div class="text-truncate">

						{% if commande.vendeur.avatar %}
						<img src="{{ vich_uploader_asset(commande.vendeur) | imagine_filter('small_avatar') }}"
							alt="{{ commande.vendeur.prenom ?? '' }}" class="rounded-circle border">
						{% else %}
						<img src="{{ asset('img/user.jpg') }}" width="40" height="40" class="rounded-circle border">
						{% endif %}

						{{ commande.vendeur.nom ~ ' ' ~ commande.vendeur.prenom }}

					</div>

					{% else %}

					<div class="text-truncate">

						{% if commande.client.avatar %}
						<img src="{{ vich_uploader_asset(commande.client) | imagine_filter('small_avatar') }}"
							alt="{{ commande.client.prenom ?? '' }}" class="rounded-circle border">
						{% else %}
						<img src="{{ asset('img/user.jpg') }}" width="40" height="40" class="rounded-circle border">
						{% endif %}

						{{ commande.client.nom ~ ' ' ~ commande.client.prenom }}

					</div>

					{% endif %}
				</div>
			</div>
			<div class="osahan-chat-box p-3 border-top border-bottom bg-light">
				<!-- Listing message -->
				{% include "commande/composants/_messages.html.twig" %}
			</div>

			{% if commande.deliver == false %}

			{% include "conversations/composants/_message_form.html.twig" %}

			{% endif %}

			{% else %}

			<div class="py-5 text-center">
				<div class="row">
					<div class="col-sm-6 mx-auto">
						<h6 class="h5">Choisir une commande à suivre</h6>
						<img src="{{ asset('img/commande.png') }}" class="img-fluid" alt="">
					</div>
				</div>
			</div>

			{% endif %}

		</div>
	</div>
</div>