<div class="card mb-3">
  <div class="card-body">
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.plateforme) }}
    {{ form_row(form.link) }}
    {{ form_row(form.description) }}
    <div class="form-group">
      <button type="button" class="btn btn-outline-danger btn-remove">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>