{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ImageName</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.id }}</td>
                <td>{{ medium.name }}</td>
                <td>{{ medium.imageName }}</td>
                <td>{{ medium.created ? medium.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ medium.updated ? medium.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_vendeur_services_medias_show', {'id': medium.id}) }}">show</a>
                    <a href="{{ path('app_vendeur_services_medias_edit', {'id': medium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vendeur_services_medias_new') }}">Create new</a>
{% endblock %}
