<section class="homeBanner">
   <div class="contanier">
      <div id="bannerCarouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#bannerCarouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#bannerCarouselIndicators" data-slide-to="1"></li>
            <li data-target="#bannerCarouselIndicators" data-slide-to="2"></li>
            <li data-target="#bannerCarouselIndicators" data-slide-to="3"></li>
            <li data-target="#bannerCarouselIndicators" data-slide-to="4"></li>
            <li data-target="#bannerCarouselIndicators" data-slide-to="5"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('{{ asset('img/banner-1.png') }}');">
               <div class="carousel-caption">
                  <h5><span>Trouvez le parfait professionnel</span> AUTOUR DE VOUS !</h5>
                  <a href="{{ path('microservices') }}" class="btn text-success">UN PRO AUTOUR DE MOI</a>
               </div>
            </div>
            <div class="carousel-item" style="background-image: url('{{ asset('img/banner-2.png') }}');">
               <div class="carousel-caption">
                  <h5>NOUER DES LIENS NE COÛTE RIEN ! <br>
                     <span>links infinity passons par le virtuel pour acceder à la realité</span></h5>
                  <a href="{{ path('microservices') }}" class="btn text-success">UN PRO AUTOUR DE MOI</a>
               </div>
            </div>
            <div class="carousel-item" style="background-image: url('{{ asset('img/banner-3.png') }}');">
               <div class="carousel-caption ">
                  <h5>PARTAGE TES COMPETENCES AVEC DE VRAI PASSIONNÉ</h5>
                  <a href="{{ path('microservices') }}" class="btn text-success">UN PRO AUTOUR DE MOI</a>
               </div>
            </div>
            <div class="carousel-item" style="background-image: url('{{ asset('img/banner-4.png') }}');">
               <div class="carousel-caption ">
                  <h5>Laisse exploser ta creativité sans limite devient un artist independant</h5>
                  <a href="{{ path('microservices') }}" class="btn text-success">UN PRO AUTOUR DE MOI</a>
               </div>
            </div>
            <div class="carousel-item" style="background-image: url('{{ asset('img/banner-5.png') }}');">
               <div class="carousel-caption ">
                  <h5>CROIS EN TOI ! <span>crée ton propre réseau passe de l'ombre a la lumiere</span></h5>
                  <a href="{{ path('microservices') }}" class="btn text-success">UN PRO AUTOUR DE MOI</a>
               </div>
            </div>
            <div class="carousel-item" style="background-image: url('{{ asset('img/banner-6.png') }}');">
               <div class="carousel-caption ">
                  <h5>tu es unique deviens le visage de futurs realisations</h5>
                  <a href="{{ path('microservices_categories', {slug: 'Danseur'}) }}" class="btn text-success">UN PRO AUTOUR DE MOI</a>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#bannerCarouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
         </a>
         <a class="carousel-control-next" href="#bannerCarouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
         </a>
      </div>
   </div>
</section>


<!--<section class="py-5-home homepage-search-block position-relative bg-image"
	style="background-image: url({{ asset('img/home-1.png') }});" id="home-banner">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 py-5">

				<a href="" class="btn text-success btn-lg text-uppercase" style="position: relative;top: 70vh;">Un pro autour
					de moi</a>

			</div>
		</div>
	</div>
	<div class="caption"></div>
</section>-->