{% extends 'base.html.twig' %}

{% block body %}

<section class="py-5-home homepage-search-block position-relative bg-image"
	style="background-image: url({{ asset('img/banner.png') }});">
	<div class="container">
		<div class="row py-lg-5">
			<div class="col-lg-7">
				<div class="homepage-search-title">
					<h1 class="mb-3 text-shadow text-gray-900 font-weight-bold">Trouvez les services indépendants parfaits
						pour votre entreprise</h1>
					<h5 class="mb-5 text-shadow text-gray-800 font-weight-normal">Des millions de personnes utilisent {{
						appName }} pour concrétiser leurs idées.
					</h5>
				</div>
				<div class="homepage-search-form">
					<form method="get" action="{{ path('microservices') }}" class="form-noborder">
						<div class="form-row">
							<div class="col-lg-3 col-md-3 col-sm-12 form-group">
								<div class="location-dropdown">
									<i class="icofont-location-arrow"></i>
									<select name="categories"
										class="custom-select form-control border-0 shadow-sm form-control-lg">
										<option>Catégories</option>
										{% for categorie in categories() %}

										<option value="{{ categorie.id }}">
											#{{ categorie.name }}
										</option>

										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-lg-7 col-md-7 col-sm-12 form-group">
								<div class="input-group bg-white border-0 rounded">
									<span class="input-group-text border-0 bg-transparent" id="basic-addon1">
										<i class="fa fa-map-marker"></i>
									</span>
									<input name="q" type="text" placeholder="De quoi avez-vous besoin ?"
										class="form-control border-0 form-control-lg shadow-sm">
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 form-group">
								<button type="submit" class="btn btn-success btn-block btn-lg btn-gradient shadow-sm">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="popular">
					<span class="text-body-2">Populaire</span>
					<ul>
						{% for categorie in categories %}
						<li><a href="{{ path('microservices_categories', {slug: categorie.slug}) }}?categories%5B%5D={{ categorie.id }}"
								class="text-body-2">#{{ categorie.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-5">
									<img class="img-fluid" src="{{ asset('themes/base/images/banner.svg') }}" alt=''/>
								</div>-->
		</div>
	</div>
	<div class="caption"></div>
</section>

<section class="py-5 bg-dark">
	<div class="view_slider recommended">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="text-white">Les plus rescents</h3>
					<div class="view recent-slider recommended-slider">
						{% for microservice in lastedServices() %}
						{{ include('microservice/composants/_bloc.html.twig') }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="market-wrapper py-5">
	<div class="container">
		<h2 class="text-center">Catégories</h2>
		<ul class="categories-list mb-0">
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/graphics.svg') }}" alt="" loading="lazy">Graphics &amp; Design
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/online-marketing.svg') }}" alt="Digital Marketing"
						loading="lazy">Digital Marketing
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/writing-translation.svg') }}" alt="Writing &amp; Translation"
						loading="lazy">Writing &amp;
					Translation
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/video-animation.svg') }}" alt="Video &amp; Animation"
						loading="lazy">Video &amp; Animation
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/music-audio.svg') }}" alt="Music &amp; Audio" loading="lazy">Music
					&amp; Audio</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/programming.svg') }}" alt="Programming &amp; Tech"
						loading="lazy">Programming &amp; Tech
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/business.svg') }}" alt="Business" loading="lazy">Business</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/lifestyle.svg') }}" alt="Lifestyle" loading="lazy">Lifestyle
				</a>
			</li>
		</ul>

		<div class="text-center py-5">
			<a href="#" class="c-btn c-fill-color-btn">Plus de catégorie</a>
		</div>
	</div>
</div>

<section class="bg-white">
	<div class="container py-5">
		<div class="about-section">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="{{ asset('themes/base/images/ipad.svg') }}" class="video-img w-100">
				</div>
				<div class="col-md-6">
					<h2>Comment ça marche?</h2>
					<div class="row">
						<div class="col-sm-6">
							<ul>
								<li>
									<span><img src="{{ asset('themes/base/images/checkmark.svg') }}">
										Full Transparency</span>
									A
									new shared dashboard allows you to track your team's activity, so that everyone is always in
									sync.
								</li>
								<li>
									<span><img src="{{ asset('themes/base/images/checkmark.svg') }}">
										VIP Customer Support
									</span>Quick response time and upgraded support solutions will help you to get what you need,
									when you need it.
								</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<li>
									<span><img src="{{ asset('themes/base/images/checkmark.svg') }}">
										VIP Customer Support
									</span>Quick response time and upgraded support solutions will help you to get what you need,
									when you need it.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-4">
	<div class="view_slider recommended">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3>Recently Viewed & More</h3>
					<div class="view recent-slider recommended-slider">
						{% for microservice in microservices %}
						{{ include('microservice/composants/_bloc.html.twig') }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="freelance-projects pb-5">
	<div class="container">
		<h5 class="font-weight-bold pb-3">
			Prestataires à proximité de vous
		</h5>
		<div class="row freelance-slider">
			{% for vendeur in vendeurs %}

			<div class="col">
				<div class="freelancer">
					<img src="{{ asset('themes/base/images/senatopcustudio.jpg') }}">
					<div class="freelancer-footer">

						{% if vendeur.avatar %}
						<img src="{{ vich_uploader_asset(vendeur, 'imageFile') | imagine_filter('medium_avatar') }}"
							class="img-fluid" alt="{{ vendeur.prenom }}">
						{% else %}

						{% if vendeur.genre == 'Feminin' %}

						<img class="img-fluid" src="{{ asset('img/femme.jpg') | imagine_filter('medium_avatar') }}" alt='' />

						{% else %}

						<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('medium_avatar') }}" alt='' />

						{% endif %}

						{% endif %}
						<a href="{{ path('vendeur_profil', {nameUrl: vendeur.nameUrl}) }}">
							<h5>{{ vendeur.nom ~ ' ' ~ vendeur.prenom }}
								<br>
								<span class="badge d-inline">
									{% include "partials/_user_compte.html.twig" %}
								</span>
							</h5>
						</a>
					</div>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>
</div>

<!--<div class="container py-5">
	<div class="pro-section">
		<div class="pro-text">
			<span>Try</span>
			<h3>Unrivaled experts, trusted by the world's biggest brands</h3>
			<a class="fit-btn" href="#">Explore Pro Services</a>
		</div>
	</div>
</div>

<section class="container py-3">
	<div class="" style="position: relative;">
		<div class="sidebar">
			<div class="heading">
				<h3>Prestataires à proximité de vous</h3>
			</div>
			<div id="listings" class="listings"></div>
		</div>
		<div id='map' style='width: 100%; height: 550px;'></div>
	</div>
</section>-->



<div class="modal fade" id="modalLocations" tabindex="-1" aria-labelledby="modalLocationsLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" style="border-radius: 10px;">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLocationsLabel">Demande d'autorisation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="lead">
					{{ appName }} souhaite accéder à votre position!
				</p>
				<button id="button-location" class="btn btn-dark">Continuer / Autoriser l'accès à votre position</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn border" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script src="{{ asset('js/favoris.js') }}"></script>

<script>

	$("#button-location").click(function () {

		function getLocation(position) {
			//console.log(position)

			$.ajax({
				method: "POST",
				url: "{{ path('app_service') }}",
				data: {
					longitude: position.coords.longitude,
					latitude: position.coords.latitude
				},
				success: function (response) {
					//alert("Soumis");
					console.log(response)
				},
				error: function (error) {
					alert("Erreur");
				}
			});
		}

		function failedToGet() {
			console.log('Il y a eu une erreur')
		}

		const result = navigator.geolocation.getCurrentPosition(getLocation, failedToGet)


	});

</script>

{% endblock %}