{% extends 'base.html.twig' %}

{% block body %}

<section class="py-5-home homepage-search-block position-relative bg-image"
	style="background-image: url({{ asset('img/studio.jpg') }});" id="home-banner">
	<div class="container">
		<div class="row py-lg-5">
			<div class="col-lg-8">
				<div class="homepage-search-title">
					<h1 class="mb-3 text-shadow text-gray-900 font-weight-bold">Trouvez les services indépendants parfaits
						pour votre entreprise</h1>
					<h5 class="mb-5 text-shadow text-gray-800 font-weight-normal">Des millions de personnes utilisent {{
						appName }} pour concrétiser leurs idées.
					</h5>
				</div>
				<div class="homepage-search-form">
					{% include "accueil/_search.html.twig" %}
				</div>
				<div class="popular">
					<span class="text-body-2">Populaire</span>
					<ul>
						{% for categorie in categories %}
						<li><a href="{{ path('microservices_categories', {slug: categorie.slug}) }}?categories%5B%5D={{ categorie.id }}"
								class="text-body-2">#{{ categorie.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-5">
									<img class="img-fluid" src="{{ asset('themes/base/images/banner.svg') }}" alt=''/>
								</div>-->
		</div>
	</div>
	<div class="caption"></div>
</section>

<section class="py-5 bg-dark">
	<div class="view_slider recommended">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="text-white">Les plus rescents</h3>
					<div class="view recent-slider recommended-slider">
						{% for microservice in lastedServices() %}
						{{ include('microservice/composants/_bloc.html.twig') }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="market-wrapper py-5">
	<div class="container">
		<h2 class="text-center">Catégories</h2>
		<ul class="categories-list mb-0">
			{% for categorie in categories %}
			<li class="my-3">
				<a href="{{ path('microservices_categories', {slug: categorie.slug}) }}">
					{% if categorie.icone %}

					<img src="{{ vich_uploader_asset(categorie, 'iconeFile') | imagine_filter('small_avatar') }}"
						alt="{{ categorie.name }}" loading="lazy" class="rounded-circle">

					{% else %}

					<img src="{{ asset('themes/base/images/graphics.svg') }}" alt="{{ categorie.name }}" loading="lazy">

					{% endif %}

					{{ categorie.name }} <br>
					<span>({{ categorie.microservices|length }} service{{ categorie.microservices|length > 1 ? 's' : '' }}
						disponible)</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<section class="bg-white">
	<div class="container py-5">
		<div class="about-section">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="{{ asset('img/c-marche.jpg') }}" class="video-img w-100 rounded">
				</div>
				<div class="col-md-6">
					<h2>Comment ça marche?</h2>
					<p>
						Trouvez le prestataire qui répondra à vos besoins, parcourez de nombreuses catégories et trouvez des
						prestations dématérialisées pour
						tous vos besoins. Faites votre choix parmi de nombreux prestataires qui mettent leur talent à votre
						disposition.
					</p>
					<div class="row">
						<div class="col-sm-6">
							<ul>
								<li>
									<span><img src="{{ asset('themes/base/images/checkmark.svg') }}">
										Choisissez un service</span>
								</li>
								<li>
									<span><img src="{{ asset('themes/base/images/checkmark.svg') }}">
										Passez une commande
									</span>
								</li>
								<li>
									<span><img src="{{ asset('themes/base/images/checkmark.svg') }}">
										Récupérez votre commande
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-4">
	<div class="view_slider recommended">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3>Services à proximité</h3>
					<div class="view recent-slider recommended-slider">
						{% for microservice in microservices %}
						{{ include('microservice/composants/_bloc.html.twig') }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="freelance-projects pb-5">
	<div class="container">
		<h5 class="font-weight-bold pb-3">
			Prestataires à proximité
		</h5>
		<div class="row freelance-slider">
			{% for vendeur in vendeurs %}

			<div class="col">
				<div class="freelancer">
					<img src="{{ asset('themes/base/images/senatopcustudio.jpg') }}">
					<div class="freelancer-footer">

						{% if vendeur.avatar %}
						<img src="{{ vich_uploader_asset(vendeur, 'imageFile') | imagine_filter('medium_avatar') }}"
							class="img-fluid" alt="{{ vendeur.prenom }}">
						{% else %}

						{% if vendeur.genre == 'Feminin' %}

						<img class="img-fluid" src="{{ asset('img/femme.jpg') | imagine_filter('medium_avatar') }}" alt='' />

						{% else %}

						<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('medium_avatar') }}" alt='' />

						{% endif %}

						{% endif %}
						<a href="{{ path('vendeur_profil', {nameUrl: vendeur.nameUrl}) }}" class="py-2">
							<h5>{{ vendeur.nom ~ ' ' ~ vendeur.prenom }}</h5>
						</a>
					</div>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>
</div>

<!--<div class="container py-5">
	<div class="pro-section">
		<div class="pro-text">
			<span>Try</span>
			<h3>Unrivaled experts, trusted by the world's biggest brands</h3>
			<a class="fit-btn" href="#">Explore Pro Services</a>
		</div>
	</div>
</div>

<section class="container py-3">
	<div class="" style="position: relative;">
		<div class="sidebar">
			<div class="heading">
				<h3>Prestataires à proximité de vous</h3>
			</div>
			<div id="listings" class="listings"></div>
		</div>
		<div id='map' style='width: 100%; height: 550px;'></div>
	</div>
</section>-->



<div class="modal fade" id="modalLocations" tabindex="-1" aria-labelledby="modalLocationsLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" style="border-radius: 10px;">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLocationsLabel text-center">Demande d'autorisation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<p class="lead text-center">
					{{ appName }} souhaite accéder à votre position!
				</p>
				<button id="button-location" class="btn btn-dark">Continuer / Autoriser l'accès à votre position</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn border" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script src="{{ asset('js/favoris.js') }}"></script>

<script>

	$("#button-location").click(function () {

		function getLocation(position) {
			//console.log(position)

			$.ajax({
				method: "POST",
				url: "{{ path('app_service') }}",
				data: {
					longitude: position.coords.longitude,
					latitude: position.coords.latitude
				},
				success: function (response) {
					//alert("Soumis");
					console.log(response)
				},
				error: function (error) {
					alert("Erreur");
				}
			});
		}

		function failedToGet() {
			console.log('Il y a eu une erreur')
		}

		const result = navigator.geolocation.getCurrentPosition(getLocation, failedToGet)


	});

</script>

<script>
	window.onload = function () {     // Array of Images
		var backgroundImg = [
			"{{ asset('img/Danceur.jpg') }}",
			"{{ asset('img/studio.jpg') }}",
		]
		setInterval(changeImage, 5000);
		function changeImage() {
			var i = Math.floor((Math.random() * 3));

			document.getElementById("home-banner").style.backgroundImage = "url('" + backgroundImg[i] + "')";

		}
	}
</script>

{% endblock %}