{% extends 'base.html.twig' %}

{% block body %}

{% include "accueil/_banner_slider.html.twig" %}

<section class="py-4 best-selling">
	<div class="view_slider recommended">
		<div class="container">
			<h3 class="font-weight-bold {{ microservices|length == 0 ? 'text-center' : '' }}">
				{{ ville ? 'Services à proximité' : 'Services les plus réscents' }}
			</h3>
			{% if ville %}
			<p class="{{ microservices|length == 0 ? 'text-center' : '' }}" style="margin-top: -10px!important;"><i class="fa fa-map-marker text-blue"></i> {{ ville }}</p>
			{% endif %}
			<div class="row">
				{% for microservice in microservices %}
				<div class="col-6 col-sm-3 d-flex align-items-stretch paddingless">
					{{ include('microservice/composants/_bloc.html.twig') }}
				</div>
				{% else %}
				<div class="col-sm-6 mx-auto">
					<p class="{{ microservices|length == 0 ? 'text-center' : '' }}">Aucun service disponible dans cette zone:
						<strong>{{
							ville }}</strong>
					</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<div class="freelance-projects pb-5">
	<div class="container">
		<h3 class="font-weight-bold pb-1 mb-1 h5 {{ vendeurs|length == 0 ? 'text-center' : '' }}">
			{{ ville ? 'Professionnels à proximité' : 'Les professionnels à votre service' }}
		</h3>
		{% if ville %}
		<p class="{{ vendeurs|length == 0 ? 'text-center' : '' }}">
			<i class="fa fa-map-marker text-blue"></i> {{ ville }}
		</p>
		{% endif %}
		{% if vendeurs|length > 0 %}

		<div class="row freelance-slider">
			{% for vendeur in vendeurs %}

			<div class="col">
				<div class="freelancer">
					{% if vendeur.couverture %}
					<img src="{{ vich_uploader_asset(vendeur, 'couvertureFile') | imagine_filter('midle_size') }}"
						class="img-fluid"
						alt="{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.nom ~ ' ' ~ vendeur.prenom }}">
					{% else %}

					<img src="{{ asset('themes/base/images/senatopcustudio.jpg') | imagine_filter('midle_size') }}">

					{% endif %}
					<div class="freelancer-footer">

						{% if vendeur.avatar %}
						<img src="{{ vich_uploader_asset(vendeur, 'imageFile') | imagine_filter('medium_avatar') }}"
							class="img-fluid"
							alt="{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.nom ~ ' ' ~ vendeur.prenom }}">
						{% else %}

						<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('medium_avatar') }}" alt='' />

						{% endif %}
						<a href="{{ path('vendeur_profil', {nameUrl: vendeur.nameUrl}) }}" class="pl-2 pt-2 text-dark">
							<strong class="">{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.nom ~ ' ' ~ vendeur.prenom
								}}</strong>
						</a>
					</div>
				</div>
			</div>

			{% endfor %}
		</div>

		{% else %}

		<div>
			<p class="{{ vendeurs|length == 0 ? 'text-center' : '' }}">
				Aucun profésinnels disponible dans cette zone
			</p>
		</div>

		{% endif %}
	</div>
</div>

<div class="market-wrapper py-5">
	<div class="container">
		<h2 class="text-center">Catégories</h2>
		<ul class="categories-list mb-0">
			{% for categorie in categories %}
			<li class="my-3">
				<a
					href="{{ path('microservices_categories', {slug: categorie.slug}) }}?categories%5B%5D={{ categorie.id }}&ville={{ ville() }}">
					{% if categorie.icone %}

					<img src="{{ vich_uploader_asset(categorie, 'iconeFile') | imagine_filter('small_avatar') }}"
						alt="{{ categorie.name }}" loading="lazy" class="rounded-circle">

					{% else %}

					<img src="{{ asset('themes/base/images/graphics.svg') }}" alt="{{ categorie.name }}" loading="lazy">

					{% endif %}

					{{ categorie.name }} <br>
					<span>({{ categorie.microservices|length }} service{{ categorie.microservices|length > 1 ? 's' : '' }}
						disponible)</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<section class="bg-lightgray" id="how-works">
	<div class="container py-5">
		<div class="about-section">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="{{ asset('img/c-marche.jpg') }}" class="video-img img-fluid rounded"
						alt="{{ appName }} : trouvez un studio, ingénieur de son, vidéas,">
				</div>
				<div class="col-md-6">
					<h2>Comment ça marche?</h2>
					<p>
						Trouvez le prestataire qui répondra à vos besoins, parcourez de nombreuses catégories et trouvez des
						prestations dématérialisées pour
						tous vos besoins. Faites votre choix parmi de nombreux prestataires qui mettent leur talent à votre
						disposition.
					</p>
					<div class="row">
						<div class="col-sm-12">
							<ul>
								<li>
									<span><i class="fa fa-check-circle text-blue"></i>
										Choisissez un service</span>
								</li>
								<li>
									<span><i class="fa fa-check-circle text-blue"></i>
										Passez une commande
									</span>
								</li>
								<li>
									<span><i class="fa fa-check-circle text-blue"></i>
										Récupérez votre commande
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal hide fade {{ ville ? '' : 'modal-location' }}" id="modalLocations" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLocationsLabel" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" style="border-radius: 10px;">
			<div class="modal-header border-0 text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="btn text-light" aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6 class="modal-title text-center text-light" id="modalLocationsLabel">Bienvenue sur {{ appName }}</h6>
				<p class="text-center text-light">
					Entrez votre adresse pour trouver les prestataires à proximité
				</p>
				<div class="row">
					<div class="col-sm-10 mx-auto">
						<form method="post">
							<div class="position-relative location">
								<div class="form-group">
									<div class="input-group bg-white rounded shadow-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-transparent border-0">
												<i class="fa fa-map-marker text-blue"></i>
											</span>
										</div>
										<input type="text" name="adresse" placeholder="Votre ville" value="{{ ville ?? '' }}"
											class="form-control rounded border-0" id="registration_form_adresse">
										<input type="hidden" name="ville" id="registration_form_ville">
										<input type="hidden" name="pays" id="registration_form_pays">
									</div>
								</div>

								<div class="w-100 addresses" id="addresses">
									<ul class="list-group text-dark" id="adresse-liste">
									</ul>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" id="button-location"
									class="btn btn-success btn-block btn-lg btn-gradient shadow-sm">
									Continuer
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script src="{{ asset('js/favoris.js') }}"></script>

{% include "partials/_location_script.html.twig" %}

<script>
	$(document).ready(function () {
		$('.modal-location').modal({
         backdrop: 'static',
         keyboard: true, 
         show: true
      }); 
	})
</script>

{% endblock %}