{% extends 'base.html.twig' %}

{% block body %}

{% include "accueil/_banner_slider.html.twig" %}

<section class="py-5">
	<div class="view_slider recommended">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 {{ microservices|length == 0 ? 'text-center' : '' }}">
					<h3 class="h5">
						Services à proximité
					</h3>
					{% if ville %}
					<p class="" style="margin-top: -10px!important;"><i class="fa fa-map-marker text-blue"></i> {{ ville }}
					</p>
					{% endif %}

					{% if microservices|length > 0 %}

					<div class="view recent-slider recommended-slider">

						{% for microservice in microservices %}

						{{ include('microservice/composants/_bloc.html.twig') }}

						{% endfor %}

					</div>

					{% else %}

					<div class="col-sm-8 mx-auto">
									<p class="{{ microservices|length == 0 ? 'text-center' : '' }}">
										Nous arrivons très prochainement près de chez vous.
										<strong>{{ ville }}</strong>
									</p>
								</div>

					{% endif %}

				</div>
			</div>
		</div>
	</div>
</section>
<!--       recent -->

<div class="market-wrapper pb-5">
	<div class="container {{ microservices|length == 0 ? 'text-center' : '' }}">
		<h3 class="h5">Catégories</h3>
		<ul class="categories-list mb-0">
			{% for categorie in categories %}
			<li class="my-3">
				<a
					href="{{ path('microservices_categories', {slug: categorie.slug}) }}?categories%5B%5D={{ categorie.id }}&ville={{ ville() }}">
					{% if categorie.icone %}

					<img src="{{ vich_uploader_asset(categorie, 'iconeFile') | imagine_filter('small_avatar') }}"
						alt="{{ categorie.name }}" loading="lazy">

					{% else %}

					<img src="{{ asset('themes/base/images/graphics.svg') }}" alt="{{ categorie.name }}" loading="lazy">

					{% endif %}

					{{ categorie.name }} <br>
					<span>({{ categorie.microservices|length }} service{{ categorie.microservices|length > 1 ? 's' : '' }}
						disponible)</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<section class="bg-lightgray" id="how-works">
	<div class="container py-5">
		<div class="about-section">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="{{ asset('img/c-marche.jpg') }}" class="video-img img-fluid rounded"
						alt="{{ appName }} : trouvez un studio, ingénieur de son, vidéas,">
				</div>
				<div class="col-md-6">
					<h2 class="h5">Comment ça marche?</h2>
					<p>
						Trouvez le professionnel qui répondra à vos besoins. Parcourez de nombreuses catégories, nos filtres
						vous permettent de planifier vos projets à
						n'importe quel moment et n'importe où. Faites votre choix parmi de nombreux prestataires qui mettent
						leur talent à votre disposition.
					</p>
					<div class="row">
						<div class="col-sm-12">
							<ul>
								<li>
									<span><i class="fa fa-check-circle text-blue"></i>
										Choisissez un service
								</li>
								<li>
									<span><i class="fa fa-check-circle text-blue"></i>
										Réservez une date
								</li>
								<li>
									<span><i class="fa fa-check-circle text-blue"></i>
										Réalisez votre projet
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-4">
	<div class="freelance-projects pb-5">
		<div class="container {{ vendeurs|length == 0 ? 'text-center' : '' }}">
			<h3 class="h5">
				Professionnels à proximité
			</h3>
			{% if ville %}
			<p class="">
				<i class="fa fa-map-marker text-blue"></i> {{ ville }}
			</p>
			{% endif %}
			{% if vendeurs|length > 0 %}

			<div class="row freelance-slider mt-4">
				{% for vendeur in vendeurs %}

				<div class="col">
					<div class="freelancer">
						<a href="{{ path('vendeur_profil', {nameUrl: vendeur.nameUrl}) }}">
							{% if vendeur.couverture %}
							<img src="{{ vich_uploader_asset(vendeur, 'couvertureFile') | imagine_filter('midle_size') }}"
								class="img-fluid"
								alt="{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.nom ~ ' ' ~ vendeur.prenom }}">
							{% else %}

							<img src="{{ asset('themes/base/images/senatopcustudio.jpg') | imagine_filter('midle_size') }}">

							{% endif %}
						</a>
						<div class="freelancer-footer">

							{% if vendeur.avatar %}
							<img src="{{ vich_uploader_asset(vendeur, 'imageFile') | imagine_filter('medium_avatar') }}"
								class="img-fluid"
								alt="{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.nom ~ ' ' ~ vendeur.prenom }}">
							{% else %}

							<img class="img-fluid" src="{{ asset('img/user.jpg') | imagine_filter('medium_avatar') }}"
								alt='' />

							{% endif %}
							<a href="{{ path('vendeur_profil', {nameUrl: vendeur.nameUrl}) }}" class="pl-2 pt-2 text-dark">
								<strong class="">{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.nom ~ ' ' ~ vendeur.prenom
									}}</strong>
							</a>
						</div>
					</div>
				</div>

				{% endfor %}
			</div>

			{% else %}

			<div>
				<p class="{{ vendeurs|length == 0 ? 'text-center' : '' }}">
					Aucun profésinnels disponible dans cette zone <strong>{{ ville }}</strong>
				</p>
			</div>

			{% endif %}
		</div>
	</div>
</section>

<section>
   <div class="container py-5">
      {% for pack in packs %}
         {% include "pack/composants/_block.html.twig" %}
      {% endfor %}
   </div>
</section>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% include "partials/_location_script.html.twig" %}

{% endblock %}