{% extends 'base.html.twig' %}

{% block body %}
<!-- Begin Page Content -->
<section class="py-5 homepage-search-block position-relative bg-degrade home">
	<div class="container">
		<div class="row py-lg-5">
			<div class="col-lg-7">
				<div class="homepage-search-title">
					<h1 class="mb-3 text-shadow text-gray-900 font-weight-bold">Find The Perfect Freelance Services For Your
						Business</h1>
					<h5 class="mb-5 text-shadow text-gray-800 font-weight-normal">Millions of people use miver to turn their
						ideas into reality.
					</h5>
				</div>
				<div class="homepage-search-form">
					<form class="form-noborder">
						<div class="form-row">
							<div class="col-lg-3 col-md-3 col-sm-12 form-group">
								<div class="location-dropdown">
									<i class="icofont-location-arrow"></i>
									<select class="custom-select form-control border-0 shadow-sm form-control-lg">
										<option>
											All
										</option>
										<option>
											Graphics & Design
										</option>
										<option>
											Digital Marketing
										</option>
										<option>
											Writing & Translation
										</option>
										<option>
											Video & Animation
										</option>
										<option>
											Music & Audio
										</option>
										<option>
											Programming & Tech
										</option>
										<option>
											Business
										</option>
										<option>
											Lifestyle
										</option>
										<option>
											Industries
										</option>
									</select>
								</div>
							</div>
							<div class="col-lg-7 col-md-7 col-sm-12 form-group">
								<input type="text" placeholder="Find Services..."
									class="form-control border-0 form-control-lg shadow-sm">
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 form-group">
								<button type="submit" class="btn btn-success btn-block btn-lg btn-gradient shadow-sm">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="popular">
					<span class="text-body-2">Popular</span>
					<ul>
						<li><a href="#" class="text-body-2">Voice over</a></li>
						<li><a href="#" class="text-body-2">translation</a></li>
						<li><a href="#" class="text-body-2">logo design</a></li>
						<li><a href="#" class="text-body-2">Articles &amp; Blog Posts</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5">
					<img class="img-fluid" src="{{ asset('themes/base/images/banner.svg') }}" alt=''/>
				</div>
		</div>
	</div>
	<div class="caption"></div>
</section>
<!--       social --
	<ul class="trusted-by bg-white border-bottom">
		<li><img src="{{ asset('themes/base/images/facebook.png') }}"></li>
		<li><img src="{{ asset('themes/base/images/google.png') }}"></li>
		<li><img src="{{ asset('themes/base/images/mit.png') }}"></li>
		<li><img src="{{ asset('themes/base/images/netflix.png') }}"></li>
		<li><img src="{{ asset('themes/base/images/paypal.png') }}"></li>
		<li><img src="{{ asset('themes/base/images/intuit.png') }}"></li>
		<li><img src="{{ asset('themes/base/images/facebook.png') }}"></li>
	</ul>
	<!--       social -->
<!--       recent -->
<section class="py-5 bg-dark">
	<div class="view_slider recommended">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="text-white">Recently Viewed & More</h3>
					<div class="view recent-slider recommended-slider">
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v1.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s1.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												<span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v2.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s2.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												<span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v3.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s3.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												<span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v4.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s4.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												<span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v5.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s5.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												<span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v6.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s6.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												<span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--       recent -->

<!--    about section -->
<div class="market-wrapper py-5">
	<div class="container">
		<h2 class="text-center">Catégories</h2>
		<ul class="categories-list mb-0">
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/graphics.svg') }}" alt="" loading="lazy">Graphics &amp; Design
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/online-marketing.svg') }}" alt="Digital Marketing"
						loading="lazy">Digital Marketing
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/writing-translation.svg') }}" alt="Writing &amp; Translation"
						loading="lazy">Writing &amp;
					Translation
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/video-animation.svg') }}" alt="Video &amp; Animation"
						loading="lazy">Video &amp; Animation
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/music-audio.svg') }}" alt="Music &amp; Audio" loading="lazy">Music
					&amp; Audio</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/programming.svg') }}" alt="Programming &amp; Tech"
						loading="lazy">Programming &amp; Tech
				</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/business.svg') }}" alt="Business" loading="lazy">Business</a>
			</li>
			<li class="my-3">
				<a href="#">
					<img src="{{ asset('themes/base/images/lifestyle.svg') }}" alt="Lifestyle" loading="lazy">Lifestyle
				</a>
			</li>
		</ul>

		<div class="text-center py-5">
			<a href="#" class="c-btn c-fill-color-btn">Plus de catégorie</a>
		</div>
	</div>
</div>
<!--     market   -->

<!--    about section -->
<section class="bg-white">
	<div class="container py-5">
		<div class="about-section">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="{{ asset('themes/base/images/ipad.svg') }}" class="video-img w-100">
				</div>
				<div class="col-md-6">
					<h2>Comment ça marche?</h2>
					<div class="row">
						<div class="col-sm-6">
							<ul>
								<li><span><img src="{{ asset('themes/base/images/checkmark.svg') }}"> Full Transparency</span> A
									new shared dashboard allows you to track your team's activity, so that everyone is always in
									sync.</li>
								<li><span><img src="{{ asset('themes/base/images/checkmark.svg') }}"> VIP Customer Support
									</span>Quick response time and upgraded support solutions will help you to get what you need,
									when you need it.
								</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<li><span><img src="{{ asset('themes/base/images/checkmark.svg') }}"> VIP Customer Support
									</span>Quick response time and upgraded support solutions will help you to get what you need,
									when you need it.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--    about section -->

<!--       recent -->
<section class="py-5">
	<div class="view_slider recommended">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3>Recently Viewed & More</h3>
					<div class="view recent-slider recommended-slider">
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v1.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s1.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												Starting At <span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v2.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s2.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												Starting At <span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v3.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s3.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												Starting At <span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v4.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s4.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												Starting At <span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v5.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s5.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												Starting At <span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<a href="">
								<img class="img-fluid" src="{{ asset('themes/base/images/list/v6.png') }}" />
							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											<img class="img-fluid" src="{{ asset('themes/base/images/user/s6.png') }}" alt='' />
										</span>
										<span class="seller-name">
											<a href="profile.html">Marcin Kowalski</a>
											<span class="level hint--top level-one-seller">
												Level 1 Seller
											</span>
										</span>
									</div>
									<h3>I will create professional audio ads or radio commercials for your project</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">
										<i class="fa fa-heart" aria-hidden="true"></i>
										<div class="price">
											<a href="#">
												Starting At <span> $1,205</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--       recent -->

<!--       freelancer projects -->
<div class="freelance-projects py-5">
	<div class="container">
		<h2>
			Get Inspired With Projects Made By Our Freelancers
			<a href="#" class="float-right">See More ></a>
		</h2>
		<div class="row freelance-slider">
			<div class="col">
				<div class="freelancer">
					<img src="{{ asset('themes/base/images/senatopcustudio.jpg') }}">
					<div class="freelancer-footer">
						<img src="{{ asset('themes/base/images/user/s7.png') }}">
						<h5>Logo Design
							<span>by <i>John</i></span>
						</h5>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="freelancer">
					<img src="{{ asset('themes/base/images/vnuggz.jpg') }}">
					<div class="freelancer-footer">
						<img src="{{ asset('themes/base/images/user/s8.png') }}">
						<h5>Web &amp; Mobile Design
							<span>by <i>John</i></span>
						</h5>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="freelancer">
					<img src="{{ asset('themes/base/images/digitalgeria.jpg') }}">
					<div class="freelancer-footer">
						<img src="{{ asset('themes/base/images/user/s1.png') }}">
						<h5>Packaging Design
							<span>by <i>John</i></span>
						</h5>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="freelancer">
					<img src="{{ asset('themes/base/images/artsi3d.jpg') }}">
					<div class="freelancer-footer">
						<img src="{{ asset('themes/base/images/user/s2.png') }}">
						<h5>Brand Style Guides
							<span>by <i>John</i></span>
						</h5>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="freelancer">
					<img src="{{ asset('themes/base/images/designerheather.jpg') }}">
					<div class="freelancer-footer">
						<img src="{{ asset('themes/base/images/user/s3.png') }}">
						<h5>Illustration
							<span>by <i>John</i></span>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--       freelancer projects -->

<!--       pro-wrapper -->
<div class="container py-5">
	<div class="pro-section">
		<div class="pro-text">
			<span>Try</span>
			<h3>Unrivaled experts, trusted by the world's biggest brands</h3>
			<a class="fit-btn" href="#">Explore Pro Services</a>
		</div>
	</div>
</div>
<!--       pro-wrapper -->

{% endblock %}