{% extends 'vendeur.html.twig' %}

{% block title %}Realisations{% endblock %}

{% block body %}
    <h1>Realisations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
                <th>Plateforme</th>
                <th>Description</th>
                <th>Online</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td>{{ realisation.id }}</td>
                <td>{{ realisation.name }}</td>
                <td>{{ realisation.link }}</td>
                <td>{{ realisation.plateforme }}</td>
                <td>{{ realisation.description }}</td>
                <td>{{ realisation.online ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_vendeur_realisation_show', {'id': realisation.id}) }}">show</a>
                    <a href="{{ path('app_vendeur_realisation_edit', {'id': realisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vendeur_realisation_new') }}">Create new</a>
    
{% endblock %}
