{% extends 'vendeur.html.twig' %}

{% block title %}Realisation - #{{ realisation.name }} {% endblock %}

{% block body %}

<div class="p-3 border-bottom text-left bg-light rounded">
    <h4 class="mb-0 text-light">
        Realisation - <strong class="text-muted">#{{ realisation.name }}</strong>
    </h4>
</div>

<div class="card">
    <div class="card-body">
        <div class="pb-3">
            <strong class="text-muted text-left">Désignation</strong>
            <h6>{{ realisation.name }}</h6>
        </div>
        <div class="pb-3">
            <strong class="text-muted text-left">Fichier</strong>
            <div class="row">
                <div class="col-sm-6">
                    {% if realisation.type == 'image' %}

                        <img class="img-fluid rounded" src="{{ realisation.link }}" />

                        {% elseif realisation.type == 'video' %}

                        {% if realisation.plateforme == 'youtube' %}

                        <iframe width="100%" height="200px" class="border rounded" src="https://www.youtube.com/embed/{{ realisation.file }}"></iframe>
                        
                        {% endif %}

                        {% endif %}
                </div>
            </div>
        </div>
        <div class="pb-3">
            <strong class="text-muted text-left">Source</strong>
            <div>{{ realisation.plateforme }}</div>
        </div>
        <div class="pb-3">
            <strong class="text-muted text-left">Description</strong>
            <div class="text-muted">
                {{ realisation.description|raw }}
            </div>
        </div>
        <div>
            <strong class="text-muted text-left">Date</strong>
            <p class="text-muted d-block-py-2">{{ realisation.created|ago(locale='fr') }}</p>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ path('app_vendeur_realisation_edit', {'id': realisation.id}) }}"
            class="btn btn-outline-dark">Modifier</a>

        {{ include('vendeur/realisations/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}