{% extends 'vendeur.html.twig' %}

{% block title %}Mes achats{% endblock %}

{% block bg %}{% endblock %}

{% block body %}

    <h1 class="h5 mb-3">Mes achats</h1>

    <table class="table bg-white shadow-sm">
        <thead>
            <tr>
                <th>Service</th>
                <th></th>
                <th>Offre</th>
                <th>Montant</th>
                <th>Statut</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                
            <td>
                {% if commande.microservice.medias|length > 0 %}

                <img class="rounded"
                    src="{{ vich_uploader_asset(commande.microservice.medias[0], 'imageFile') | imagine_filter('midle_avatar') }}">

                {% endif %}
            </td>
            <td><strong class="">{{ commande.microservice.name }}</strong></td>
                <td>{{ commande.offre }}</td>
                <td>{{ commande.montant ~ currency }}</td>
                <td>
                    <span class="badge badge-pill badge-{{ commande.deliver ? 'success' : 'warning' }}">{{ commande.deliver ? 'Livrer' : 'En cours' }}</span>
                </td>
                <td>{{ commande.created ? commande.created|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('vendeur_commandes_show', {'id': commande.id}) }}">Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center">Aucune commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
