{% extends 'vendeur.html.twig' %}

{% block title %}Galérie{% endblock %}

{% block colleft %}4{% endblock %}

{% block colright %}8{% endblock %}

{% block bg %}transparent{% endblock %}

{% block sidebar %}
{% include "vendeur/microservices/composants/_step.html.twig" %}
{% endblock %}

{% block body %}

<div class="card">

    <div class="card-body">
        <div class="form-group">
            <h6 class="font-weight-bold">Galerie</h6>
            <p class="text-muted">
               La 1re image, principale, sera utilisée dans la recherche, les catégories, et sur
                        votre profil. C’est la
                        plus importante. Afin que votre service se démarque des autres, privilégiez une
                        image lisible en rapport direct avec ce que vous faites dans votre service, et
                        surtout : de votre
                        création. <br>

                        Les autres images, optionnelles, serviront à montrer des exemples de votre travail
                        ou illustrer plus précisément ce que vous vendez.
            </p>
        </div>

        {% if microservice.medias|length > 0 %}

        <div class="slider mt-4">
            <div id="aniimated-thumbnials" class="slider-for slick-slider-single">
                {% for media in microservice.medias %}

                {% if media.imageName %}

                <a href="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('rectangle_size') }}">
                    <img class="img-fluid"
                        src="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('rectangle_size') }}"
                        alt="{{ media.name }}" />
                </a>

                {% else %}

                <a href="{{ asset('themes/base/images/list/v1.png') | imagine_filter('rectangle_size') }}">
                    <img class="img-fluid"
                        src="{{ asset('themes/base/images/list/v1.png') | imagine_filter('rectangle_size') }}"
                        alt="{{ media.name }}" />
                </a>

                {% endif %}

                {% endfor %}
            </div>
            <div class="slider-nav slick-slider-single text-center">
                {% for media in microservice.medias %}

                <div class="item-slick">
                    <img class="img-fluid"
                        src="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('small_size') }}"
                        alt="{{ media.name }}">

                    {{ include('vendeur/medias/_delete_form.html.twig') }}
                </div>

                {% endfor %}
            </div>
        </div>

        {% endif %}

        <!-- Si le nombre maximal d'image pour un service est 2 -->
        {% if microservice.medias|length <= 5 %} 
        
        {{ form_start(mediaForm) }} 
        <div class="row mt-3">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(mediaForm.imageFile) }}
                </div>
            </div>
    </div>

    <div class="">
        <button type="submit" class="btn btn-dark mb-4">Télécharger</button>
    </div>

    {{ form_end(mediaForm) }}

    {% endif %}
</div>
</div>


{% if microservice.medias|length > 0 %}
<!-- Form collection -->

<div class="card mt-4 bg-white">
    <div class="card-header border-0 py-3 bg-white">
        <div class="text-left rounded">
            <h4 class="mb-0 h6">
                Editer la galérie
            </h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="microservice_galerie_medias">
                    {{ form_start(form) }}

                    {{ form_row(form.medias) }}

                    <div class="">
                        <div class="">
                            <button class="btn btn-dark">{{ button_label|default('Enregistrer et suivant') }}</button>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}