{% extends 'vendeur.html.twig' %}

{% block title %}Options{% endblock %}

{% block colleft %}4{% endblock %}

{% block colright %}8{% endblock %}

{% block sidebar %}
	{% include "vendeur/microservices/composants/_step.html.twig" %}
{% endblock %}

{% block body %}

<div class="p-3 border-bottom text-left bg-dark rounded">
    <h4 class="mb-0 text-light">
        Nouveau service
    </h4>
</div>

<div class="p-3 border-bottom">
    {{ form_start(form) }}

    <div class="form-group">
        <h6 class="font-weight-bold">Options supplémentaires</h6>
        <p class="text-muted">
            Afin de compléter et personnaliser votre service basique, vous pouvez ajouter des options en relation directe avec ce dernier. Pas de service de traduction avec des options de montage vidéo ! Leur nombre et prix maximal dépend de votre offre ComeUp Plus.

            <br><br>

            Vos options doivent être claires et achetables par tous les clients. Si ce n'est pas déjà fait, pensez à les décrire dans votre description. Le délai d'une option s'ajoute au délai de votre service basique.
        </p>
        <div class="">
            <div class="" id="options" data-prototype="{{ form_row(form.serviceOptions.vars.prototype)|e('html_attr') }}">
                <span></span>
            </div>
        </div>

        <div class="form-group">
            {{ form_row(form.promo) }}
        </div>
        
    </div>
    <div class="form-group">
        <div class="">
            <button class="btn btn-dark">{{ button_label|default('Enregistrer les modifications') }}</button>
        </div>
    </div>

    {{ form_end(form) }}
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    let collection,
        boutonAjout,
        span;
    window.onload = () => {
        collection = document.querySelector("#options");
        span = collection.querySelector("span");

        boutonAjout = document.createElement("button");
        boutonAjout.className = "ajout-options btn btn-dark border mb-5";
        boutonAjout.innerText = "Ajouter une option";

        let nouveauBouton = span.append(boutonAjout);

        collection.dataset.index = collection.querySelectorAll("input").length;

        boutonAjout.addEventListener("click", function () {
            addButton(collection, nouveauBouton);
        });
    }

    function addButton(collection, nouveauBouton) {
        let prototype = collection.dataset.prototype;

        let index = collection.dataset.index;

        prototype = prototype.replace(/__name__/g, index);

        let content = document.createElement("html");
        content.innerHTML = prototype;
        let newForm = content.querySelector("div");

        let boutonSuppr = document.createElement("button");
        boutonSuppr.type = "button";
        boutonSuppr.className = "btn btn-danger mb-4";
        boutonSuppr.id = "delete-media-" + index;
        boutonSuppr.innerText = "Supprimer";

        newForm.append(boutonSuppr);

        collection.dataset.index++;

        let boutonAjout = collection.querySelector(".ajout-options");

        span.insertBefore(newForm, boutonAjout);

        boutonSuppr.addEventListener("click", function () {
            this.previousElementSibling.parentElement.remove();
        })
    }
</script>

{% endblock %}