<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Gurdeep singh osahan">
	<meta name="author" content="Gurdeep singh osahan">
	<meta name="google-site-verification" content="8R1IqiWtRxl4xmw78_KdRUQU231e7SSQg-e5lhhe9Vk" />
	<title>
		{% block title %}{{ appName }} des services pour tout vos besoins{% endblock %}
	</title>
	<link rel="alternate" hreflang="fr-fr" href="{% block alternatiflink %}https://links-infinity.com{% endblock %}" />
	<!-- Favicon Icon -->
	<link rel="icon" type="{{ asset('img/Logo.png') }}" href="images/fav.svg">
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('themes/base/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Font Awesome-->
	<link href="{{ asset('themes/base/vendor/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet">
	<!-- Material Design Icons -->
	<link href="{{ asset('themes/base/vendor/icons/css/materialdesignicons.min.css') }}" media="all" rel="stylesheet"
		type="text/css">
	<!-- Slick -->
	<link href="{{ asset('themes/base/vendor/slick-master/slick/slick.css') }}" rel="stylesheet" type="text/css">
	<!-- Lightgallery -->
	<link href="{{ asset('themes/base/vendor/lightgallery-master/dist/css/lightgallery.min.css') }}" rel="stylesheet">
	<!-- Select2 CSS -->
	<link href="{{ asset('themes/base/vendor/select2/css/select2-bootstrap.css') }}" />
	<link href="{{ asset('themes/base/vendor/select2/css/select2.min.css') }}" rel="stylesheet">
	<!-- Custom styles for this template -->
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		{{ encore_entry_link_tags('style') }}
		{{ encore_entry_link_tags('custom') }}
		{{ encore_entry_link_tags('responsive') }}
	{% endblock %}
	<!-- map box -->
	<script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js">
	</script>
</head>

<body data-turbo="false" class="text-light responsive"
	style="background-image: url('{{ asset('img/auth-danceur.jpg') }}');">

	<div class="container">
		<div class="row">
			<div class="col-sm-5 mx-auto">

				<div class="card auth-bloc shadow-sm">
					<div class="card-header p-0">
						<div class="row">
							<div class="col-5 pr-0 align-items-center">
								<a href="{{ path('accueil') }}">
									<h1 class="text-uppercase text-light">{{ appName }}</h1>
								</a>
							</div>
							<div class="col-7 text-right align-items-center">
								<a href="{{ path('accueil') }}" class="text-light small p-0"><i class="mdi mdi-arrow-left"></i> Retournez vers accueil</a>
							</div>
						</div>
					</div>

					<div class="card-body">
						<div class="osahan-login pt-3">
							<div class="text-center mb-4">
								<h5 class="text-light pt-3">{% block titre %}Inscription{% endblock %}</h5>
								<p class="text-light"> {% block text %}{% endblock %}
								</p>
							</div>

							{% for type, messages in app.flashes %}
								{% for message in messages %}
									<div class="alert alert-{{ type }} alertflash alert-dismissible fade show mb-3 border border-{{ type }}" role="alert" style="text-align: left!important;">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong class="my-0 text-{{ type }}">
												{% if type == 'danger' %}
												<i class="fa fa-exclamation-triangle"></i> Echec!
												{% elseif type == 'warning' %}
												<i class="fa fa-exclamation-triangle"></i> Attention!
											{% elseif type =='info' %}
												<i class="fa fa-check"></i> En cours de validation!
											{% elseif type =='success' %}
												<i class="fa fa-check"></i> Succès!
											{% endif %}
											</strong> -
											<p>{{ message }}</p>
									</div>
								{% endfor %}
							{% endfor %}

							{% block body %}{% endblock %}

							{% block footer %}
							<div class="pt-3 text-muted text-center m-0">

									{% if app.request.attributes.get('_route') == 'app_register' %}

									<p>Avez-vous déjà un compte ? <a href="{{ path('app_login') }}" class="text-blue">connectez-vous</a></p>

									{% elseif app.request.attributes.get('_route') == 'app_login' %}

									<p>Vous n'avez aucun compte ? <a href="{{ path('app_register') }}" class="text-blue">créer un compte</a></p>

									{% else %}

									<a href="{{ path('app_login') }}" class="text-blue">Connexion</a>&nbsp;

									<a href="{{ path('app_register') }}" class="text-blue">Créer un compte</a>

									{% endif %}
								</span>
							</div>
							{% endblock %}
						</div>
					</div>
					<div class="card-footer">
						<ul class="nav justify-content-center p-0 m-0">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('page_conditions') }}">Conditons générales</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('page_conditions') }}">Mentions légales</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('page_conditions') }}">Politique de confidentialité</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-blue" href="">Besoin d'aide?</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!--       footer-->
	<!-- Bootstrap core JavaScript -->
	<script src="{{ asset('themes/base/vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ asset('themes/base/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		{{ encore_entry_script_tags('jscustom') }}
		{{ encore_entry_script_tags('dropdown') }}
		{{ encore_entry_script_tags('btnloader') }}
	{% endblock %}

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-TBWPH2ZDRB"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-TBWPH2ZDRB');
	</script>
</body>

</html>