{% extends 'base.html.twig' %}

{% block title %}{{ microservice.name }}{% endblock %}

{% block body %}

<div class="third-menu border-top">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-between">
			<div class="col-lg-9 left">
				<ul>
					<li class="nav-description">
						<a href="#description">Description</a>
					</li>
					<li class="nav-aboutSeller">
						<a href="#aboutSeller">Personnaliser ce service</a>
					</li>
					<li class="nav-packagesTable">
						<a href="#packagesTable">Contacter le vendeur</a>
					</li>
					<li class="nav-recommendations">
						<a href="#recommendations">Autres services de ce vendeur</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="main-page py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 left">

				<div class="card">
					<div class="card-header bg-white border-0">
						<h5 class="mt-3 p-2 font-weight-bold">{{ microservice.name }}</h5>
					</div>
					<div class="card-body p-0">
						<div id="overview" class="seller-overview pl-3 d-flex align-items-center">
							<div class="user-info d-flex border-0 p-0 mt-0">
								<span class="user-info-rating d-flex border-0">
									<div class="star-rating-s15-wrapper">
										<span class="star-rating-s15 rate-10"></span>
									</div>
									<span class="total-rating">({{ serviceAvis(microservice)|length }} Avi{{ serviceAvis(microservice)|length > 1 ? 's' : '' }})</span>
								</span>
								<span class="orders-in-queue">({{ serviceCommandes(microservice)|length }}) commande{{ serviceCommandes(microservice)|length > 1 ? 's' : '' }} en cours</span>
							</div>
						</div>

						{% include "microservice/composants/_galerie.html.twig" %}

						<div id="description" class="p-4">
							<h3 style="margin-top: -30px;">Description</h3>
							<p class="p-0 m-0">{{ microservice.description|raw }}</p>
						</div>
					</div>
				</div>

				<form class="my-4">
					<div class="card">

						<div class="card-header bg-white border-bottom">
							<h3 id="aboutSeller" class="card-title mt-4">Personnaliser ce service</h3>
						</div>

						<div class="card-body p-0">
							<div class="bg-white py-4 p-3">
								<div class="row">
									<div class="col-sm-9">
										<h4 class="lead font-weight-bold"><input type="checkbox" checked disabled> {{
											microservice.name }}</h4>
										<span class="text-muted">{{ microservice.delai }} de réalisation</span>
									</div>
									<div class="col-sm-3 text-right">
										<strong>{{ prix|length > 0 ? prix[0].tarif ~ currency : '' }}</strong>
									</div>
								</div>
							</div>

							<div class="p-3 bg-light">
								<h5 class="p-2 font-weight-bold">Options supplémentaires</h5>

								<table class="table table-borderless">
									<tbody>
										{% for option in microservice.serviceOptions %}
										<tr>
											<th>
												<label class="h6 font-weight-bold" for="{{ option.id }}"><input type="checkbox"
														name="{{ option.id }}" id="{{ option.id }}"> {{ option.name }}</label>
												<br>
												<p class="pl-3 text-muted font-weight-light">Délai supplémentaire de +
													{{ option.delai }} jour{{ option.delai > 0 ? 's' : '' }}</p>
											</th>
											<td class="text-right">
												<strong>+{{ option.montant ~ currency }}</strong>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

						</div>

						<div class="card-footer bg-white">
							<div class="row">
								<div class="col-sm-6">
									<a href="" class="btn btn-dark btn-lg h5">200 {{ currency }} Commander</a>
									
									{% if is_granted('microservice_edit', microservice) %}{% else %}
									<a class="btn btn-outline-dark btn-lg h5"
										href="{{ path('microservice_conversations', {vendeurNameUrl: microservice.vendeur.nameUrl, microserviceId: microservice.id }) }}">Contacter
										le vendeur</a>										
									{% endif %}
								</div>
							</div>
						</div>

					</div>
				</form>

				<div class="view_slider recommended">
					<h3>Autres services de ce vendeur</h3>
					<div class="view recommended-slider">
						{% for similaire in similaires %}
						<div>
							<a href="{{ path('microservice_details', {slug: similaire.slug}) }}">
								{% if similaire.medias|length > 0 %}

								<img class="img-fluid"
									src="{{ vich_uploader_asset(similaire.medias[0], 'imageFile') | imagine_filter('medium_size') }}" />

								{% else %}

								<img class="img-fluid" src="{{ asset('img/img8.jpg') | imagine_filter('medium_size') }}" />

								{% endif %}

							</a>
							<div class="inner-slider">
								<div class="inner-wrapper">
									<div class="d-flex align-items-center">
										<span class="seller-image">
											{% if similaire.vendeur.avatar %}

											<img class="img-fluid"
												src="{{ vich_uploader_asset(similaire.vendeur, 'imageFile') | imagine_filter('medium_avatar') }}"
												alt='' />

											{% else %}

											{% if similaire.vendeur.genre == 'Feminin' %}

											<img class="img-fluid"
												src="{{ asset('img/femme.jpg') | imagine_filter('medium_avatar') }}" alt='' />

											{% else %}

											<img class="img-fluid"
												src="{{ asset('img/user.jpg') | imagine_filter('medium_avatar') }}" alt='' />

											{% endif %}

											{% endif %}
										</span>
										<span class="seller-name">
											<a href="{{ path('vendeur_profil', {nameUrl: microservice.vendeur.nameUrl}) }}">{{
												similaire.vendeur.nom ~ ' ' ~ similaire.vendeur.prenom }}</a>
											<span class="level hint--top level-one-seller">
												{{ similaire.vendeur.compte }}
											</span>
										</span>
									</div>
									<h3>{{ similaire.name }}</h3>
									<div class="content-info">
										<div class="rating-wrapper">
											<span class="gig-rating text-body-2">
												<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1792 1792" width="15"
													height="15">
													<path fill="currentColor"
														d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
													</path>
												</svg>
												5.0
												<span>(7)</span>
											</span>
										</div>
									</div>
									<div class="footer">

										{% if is_granted('microservice_edit', similaire) %}

										{% else %}

										<a href="{{ path('favoris_new', {id: similaire.id}) }}" class="js-favoris">
											<i class="fa fa-heart" aria-hidden="true"></i>
										</a>

										{% endif %}

										<div class="price small text-capitalize">
											<a href="#">
												<strong>{{ similaire.prixMastering ~ currency }}</strong>
											</a>
										</div>

									</div>
								</div>
							</div>
						</div>

						{% endfor %}
					</div>
				</div>

			</div>

			<div class="col-lg-4 right">
				{% include "microservice/composants/_trafic.html.twig" %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/favoris.js') }}"></script>
{% endblock %}