{% extends 'base.html.twig' %}

{% block title %}{{ microservice.name }}{% endblock %}

{% block body %}

<div class="third-menu border-top">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-between">
			<div class="col-lg-9 left">
				<ul>
					<li class="nav-description">
						<a href="#description">Description</a>
					</li>
					<li class="nav-aboutSeller">
						<a href="#aboutSeller">Personnaliser</a>
					</li>
					<li class="nav-packagesTable">
						<a href="#packagesTable">Contacter</a>
					</li>
					<li class="nav-recommendations">
						<a href="#recommendations">Autres services</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="main-page py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 left">

				<div class="card">
					<div class="card-header bg-white border-0 p-2">
						<h5 class="mt-2 font-weight-bold">{{ microservice.name }}</h5>
					</div>
					<div class="card-body p-0">
						<div id="overview" class="seller-overview pl-2 d-flex align-items-center">
							<div class="user-info d-flex border-0 p-0 mt-0">
								<span class="user-info-rating d-flex border-0">
									<div class="star-rating-s15-wrapper">
										<span class="star-rating-s15 rate-10"></span>
									</div>
									<span class="total-rating">({{ serviceAvis(microservice)|length }} Avi{{
										serviceAvis(microservice)|length > 1 ? 's' : '' }})</span>
								</span>
								<span class="orders-in-queue">({{ serviceCommandes(microservice)|length }}) commande{{
									serviceCommandes(microservice)|length > 1 ? 's' : '' }} en cours</span>
							</div>
						</div>

						{% include "microservice/composants/_galerie.html.twig" %}

						<div id="description" class="p-2">
							<h3 style="margin-top: -30px;">Description</h3>
							<p class="p-0 m-0">{{ microservice.description|raw }}</p>
						</div>
					</div>
				</div>

				<form class="my-4">
					<div class="card">

						<div class="card-header bg-white border-bottom">
							<h3 id="aboutSeller" class="card-title mt-4">Personnaliser ce service</h3>
						</div>

						<div class="card-body p-0">
							<div class="bg-white py-4 p-3">
								<div class="row">
									<div class="col-sm-9">
										<h4 class="lead font-weight-bold"><input type="checkbox" checked disabled> {{
											microservice.name }}</h4>
										<span class="text-muted">{{ microservice.delai }} de réalisation</span>
									</div>
									<div class="col-sm-3 text-right">
										<strong>{{ microservice.prix ~ currency }}</strong>
									</div>
								</div>
							</div>

							<div class="p-3 bg-light">
								<h5 class="p-2 font-weight-bold">Options supplémentaires</h5>

								<table class="table table-borderless">
									<tbody>
										{% for option in microservice.serviceOptions %}
										<tr>
											<th>
												<label class="h6 font-weight-bold" for="{{ option.id }}"><input type="checkbox"
														name="{{ option.id }}" id="{{ option.id }}"> {{ option.name }}</label>
												<br>
												<p class="pl-3 text-muted font-weight-light">Délai supplémentaire de +
													{{ option.delai }} jour{{ option.delai > 0 ? 's' : '' }}</p>
											</th>
											<td class="text-right">
												<strong>+{{ option.montant ~ currency }}</strong>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

						</div>

						<div class="card-footer bg-white">
							<div class="row">
								<div class="col-sm-6">
									<a href="" class="btn btn-dark btn-lg h5">200 {{ currency }} Commander</a>

									{% if is_granted('microservice_edit', microservice) %}{% else %}
									<a class="btn btn-outline-dark btn-lg h5"
										href="{{ path('microservice_conversations', {vendeurNameUrl: microservice.vendeur.nameUrl, microserviceId: microservice.id }) }}">Contacter
										le vendeur</a>
									{% endif %}
								</div>
							</div>
						</div>

					</div>
				</form>

				<!-- Avis -->
				{% include "microservice/composants/_avis.html.twig" %}

				<div class="tags">
					<h3>Catégories relatives</h3>
					<ul class="d-flex">
						{% for categorie in categories() %}
						<li>
							<a
								href="{{ path('microservices_categories', {slug: categorie.slug}) }}?categories%5B%5D={{ categorie.id }}">{{
								categorie.name }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>

			</div>
			<div class="col-lg-4 right">
				{% include "microservice/composants/_trafic.html.twig" %}
			</div>
		</div>

		<div class="row py-4">
			<div class="col-sm-12">
				<div class="view_slider recommended">
					<h3 id="recommendations">Autres services de ce vendeur</h3>
					<div class="view recommended-slider">
						{% for similaire in similaires %}

						{% if similaire == microservice %}{% else %}

						{% include "microservice/composants/_similar_bloc.html.twig" %}

						{% endif %}

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/favoris.js') }}"></script>
{% endblock %}